/**
* Copyright (c) 2013 SAP AG, All Rights Reserved
*
* Theming Engine 1.8.1
* data:{"Path": "UI5.sap/ui/unified.custom_holcim_mobile.library", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "Version": { "Build":"1.26.1.20150501123355", "Source": "1.26.1", "Engine": "1.8.1"}}
*/

.sapThemeMetaData-UI5-sap-ui-unified{background-image: url('data:text/plain;utf-8,{"Path": "UI5.sap/ui/unified.custom_holcim_mobile.library", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "Version": { "Build":"1.26.1.20150501123355", "Source": "1.26.1", "Engine": "1.8.1"}}');}

/******************* FILE /Base/baseLib/baseTheme/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/base/global.less *******************/
/******************* FILE /UI5/sap/ui/unified/themes/base/library.less *******************/
/*<SAP_FREETEXT>*/
/* START "Calendar.less" */
/* =============================================== */
/* CSS for control sap.ui.unified/Calendar.control */
/* =============================================== */
.sapUiCal {
  background: none repeat scroll 0 0 #ffffff;
  width: 14em;
  overflow: hidden;
  position: relative;
  outline: none;
}
/* calendar should have only a border if on popup */
.sapUiCal.sapUiShd {
  border: 1px solid #bfbfbf;
}
/*** HEADER ***/
.sapUiCalHead {
  width: 100%;
  height: 18px;
  position: relative;
  text-align: center;
}
.sapUiCalPrev,
.sapUiCalNext,
.sapUiCalMonthPick,
.sapUiCalYearPick,
.sapUiCancel {
  background-color: transparent;
  border: none;
  color: #333333;
  cursor: pointer;
}
.sapUiCalPrev,
.sapUiCalNext {
  position: absolute;
}
.sapUiCalPrev {
  left: 0;
}
.sapUiCalNext {
  right: 0;
}
/* no default (browser) outline, if device needs focus visualization its defined later */
.sapUiCalPrev:focus,
.sapUiCalNext:focus,
.sapUiCalMonthPick:focus,
.sapUiCalYearPick:focus,
.sapUiCancel:focus {
  outline: none;
}
/* hover and focus makes only sense on desktops. On mobile devices it's not needed */
.sap-desktop .sapUiCalPrev:focus,
.sap-desktop .sapUiCalNext:focus,
.sap-desktop .sapUiCalMonthPick:focus,
.sap-desktop .sapUiCalYearPick:focus,
.sap-desktop .sapUiCancel:focus {
  background-color: #eaeaea;
  color: #333333;
}
.sap-desktop .sapUiCalPrev:hover,
.sap-desktop .sapUiCalNext:hover,
.sap-desktop .sapUiCalMonthPick:hover,
.sap-desktop .sapUiCalYearPick:hover,
.sap-desktop .sapUiCancel:hover {
  background-color: #eaeaea;
  color: #333333;
}
/* once for desktop to overwrite focus and once for all devices needed */
.sapUiCalPrev:active,
.sapUiCalNext:active,
.sapUiCalMonthPick:active,
.sapUiCalYearPick:active,
.sapUiCancel:active,
.sap-desktop .sapUiCalPrev:active,
.sap-desktop .sapUiCalNext:active,
.sap-desktop .sapUiCalMonthPick:active,
.sap-desktop .sapUiCalYearPick:active,
.sap-desktop .sapUiCancel:active {
  background-color: #ff1100;
  color: #ffffff;
}
.sapUiCalPrev.sapUiCalDsbl,
.sapUiCalNext.sapUiCalDsbl {
  cursor: default;
  opacity: .3;
  filter: alpha(opacity=30);
}
.sap-desktop .sapUiCalPrev.sapUiCalDsbl:focus,
.sap-desktop .sapUiCalNext.sapUiCalDsbl:focus,
.sap-desktop .sapUiCalPrev.sapUiCalDsbl:hover,
.sap-desktop .sapUiCalNext.sapUiCalDsbl:hover,
.sapUiCalPrev.sapUiCalDsbl:active,
.sapUiCalNext.sapUiCalDsbl:active {
  background-color: transparent;
  color: #333333;
}
/*** days, months, years ***/
.sapUiCalDays,
.sapUiCalMonths,
.sapUiCalYears {
  display: inline-block;
  width: 100%;
}
.sapUiCalWH,
.sapUiCalDay,
.sapUiCalMonth,
.sapUiCalYear {
  display: block;
  overflow: hidden;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  text-align: center;
}
.sapUiCalWH,
.sapUiCalDay,
.sapUiCalWeekNum {
  width: 12.5%;
}
.sapUiCalDayNum {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.sapUiCalWeekNum {
  position: absolute;
  right: 100%;
  width: 100%;
  color: #666666;
  font-size: 11px;
  cursor: default;
}
.sapUiCalWH {
  color: #666666;
  white-space: nowrap;
}
.sapUiCalDay,
.sapUiCalMonth,
.sapUiCalYear {
  color: #000000;
  background-color: #f2f2f2;
}
.sap-desktop .sapUiCalDay:focus,
.sap-desktop .sapUiCalMonth:focus,
.sap-desktop .sapUiCalYear:focus {
  background-color: #ffffff;
}
.sapUiCalFirstWDay {
  clear: both;
  margin-left: 12.5%;
  position: relative;
  overflow: visible;
}
.sapUiCalDayOtherMonth {
  color: #cccccc;
}
.sapUiCalDayToday {
  color: #ff1100;
}
.sapUiCalDayWeekEnd {
  background-color: #e5e5e5;
}
.sapUiCalDaySel,
.sapUiCalMonthSel,
.sapUiCalYearSel {
  background-color: #ff1100;
}
.sapUiCalMonths,
.sapUiCalYears {
  position: absolute;
  top: 18px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}
.sapUiCalMonth {
  width: 33.33%;
}
.sapUiCalYear {
  width: 25%;
}
.sapUiCancel {
  display: none;
  /* cancel button only visible on phones */
  position: absolute;
}
/* END "Calendar.less" */
/* START "CalendarLegend.less" */
/* ============================================= */
/* CSS for control sap.ui.unified/Legend.control */
/* ============================================= */
.sapUiUnifiedLegend {
  color: #666666;
  font-familiy: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  padding: 12px;
  column-gap: 8px;
  -moz-column-gap: 8px;
  /* Firefox */
  -webkit-column-gap: 8px;
  /* Safari and Chrome */
}
.sapUiUnifiedLegendItem {
  display: inline-block;
  width: 100%;
  margin: 4px;
}
.sapUiUnifiedLegendDescription {
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
}
.sapUiUnifiedLegendSquare {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  background: #ffffff;
  float: left;
}
.sapUiUnifiedLegendSquareColor {
  height: 14px;
  width: 14px;
  margin: 1px;
  background: #808080;
}
.sapUiUnifiedLegendSquareSelected {
  height: 10px;
  width: 10px;
  background: white;
  border: 2px solid #ab218e;
}
/* END "CalendarLegend.less" */
/* START "ContentSwitcher.less" */
/* ============================================= */
/* CSS for control sap.ui.unified/ContentSwitcher.control */
/* ============================================= */
.sapUiUfdCSwitcher {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sapUiUfdCSwitcher > section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Unanimated */
.sapUiUfdCSwitcherContent {
  display: none;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}
.sapUiUfdCSwitcherVisible {
  display: block;
}
/* Fade animation */
.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationFade > section {
  display: block;
  opacity: 0;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: opacity 500ms ease 0s;
}
.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationFade .sapUiUfdCSwitcherVisible {
  display: block;
  opacity: 1;
  z-index: 1;
}
/* Slide over Left animation */
.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideOver > section {
  display: block;
  left: -100%;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: left 500ms ease 0ms, right 500ms ease 0ms;
}
.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideOver .sapUiUfdCSwitcherVisible {
  display: block;
  left: 0;
}
.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideOver section.sapUiUfdCSwitcherContent1.visible {
  transition: left 0ms ease 500ms, right 0ms ease 500ms;
  left: 0;
}
/* Slide Right animation */
.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideRight > section {
  display: block;
  left: -100%;
  z-index: 1;
  transition: left 0ms ease 500ms, right 0ms ease 500ms;
}
.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationSlideRight .sapUiUfdCSwitcherVisible {
  display: block;
  left: 0;
  z-index: 2;
  transition: left 500ms ease 0ms, right 500ms ease 0ms;
}
/* Zoom Out animation */
.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationZoomOut > section {
  display: block;
  left: 50%;
  top: 50%;
  width: 0%;
  height: 0%;
  z-index: 1;
  opacity: 0;
  transition: left 500ms ease 0ms, right 500ms ease 0ms, top 500ms ease 0ms, width 500ms ease 0ms, height 500ms ease 0ms, z-index 0ms ease 500ms, opacity 500ms ease 0ms;
}
.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationZoomOut .sapUiUfdCSwitcherVisible {
  display: block;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  transition: left 0ms ease 0ms, right 0ms ease 0ms, top 0ms ease 0ms, width 0ms ease 0ms, height 0ms ease 0ms, z-index 0ms ease 500ms;
}
/* Zoom Out animation */
.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationZoomIn > section {
  display: block;
  left: 50%;
  top: 50%;
  width: 0%;
  height: 0%;
  z-index: 1;
  opacity: 0;
  transition: left 0ms ease 500ms, right 0ms ease 500ms, top 0ms ease 500ms, width 0ms ease 500ms, height 0ms ease 500ms, opacity 0ms ease 500ms, z-index 0ms ease 0ms;
}
.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationZoomIn .sapUiUfdCSwitcherVisible {
  display: block;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  transition: left 500ms ease 0ms,
right 500ms ease 0ms,
top 500ms ease 0ms,
width 500ms ease 0ms,
height 500ms ease 0ms,
opacity 500ms ease 0ms;
}
/* Rotate Animation */
.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationRotate > section {
  display: block;
  left: 50%;
  top: 50%;
  width: 0%;
  height: 0%;
  z-index: 1;
  opacity: 0;
  transition: left 0ms linear 500ms, right 0ms linear 500ms, top 0ms linear 500ms, width 0ms linear 500ms, height 0ms linear 500ms, opacity 0ms linear 500ms, transform 0ms linear 500ms, z-index 0ms linear 0ms;
  -webkit-transition: left 0ms linear 500ms, right 0ms linear 500ms, top 0ms linear 500ms, width 0ms linear 500ms, height 0ms linear 500ms, opacity 0ms linear 500ms, -webkit-transform 0ms linear 500ms, z-index 0ms linear 0ms;
}
.sapUiUfdCSwitcher.sapUiUfdCSwitcherAnimationRotate .sapUiUfdCSwitcherVisible {
  display: block;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: left 500ms linear 0ms,
right 500ms linear 0ms,
top 500ms linear 0ms,
width 500ms linear 0ms,
height 500ms linear 0ms,
opacity 500ms linear 0ms,
transform 500ms linear 0ms;
  -webkit-transition: left 500ms linear 0ms, right 500ms linear 0ms, top 500ms linear 0ms, width 500ms linear 0ms, height 500ms linear 0ms, opacity 500ms linear 0ms, -webkit-transform 500ms linear 0ms;
}
/* END "ContentSwitcher.less" */
/* START "Currency.less" */
.sapUiUfdCurrency {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.sapUiUfdCurrencyAlign {
  text-align: end;
  width: 200px;
  float: right;
}
/* special handling for IE, as it does not support text-align: end */
html[data-sap-ui-browser^="ie"] .sapUiUfdCurrencyAlign {
  text-align: right;
}
html[dir=rtl][data-sap-ui-browser^="ie"] .sapUiUfdCurrencyAlign {
  text-align: left;
}
.sapUiUfdCurrencyValue,
.sapUiUfdCurrencyCurrency {
  display: inline-block;
  vertical-align: middle;
}
.sapUiUfdCurrencyValue {
  text-align: end;
}
/* special handling for IE, as it does not support text-align: end */
html[data-sap-ui-browser^="ie"] .sapUiUfdCurrencyValue {
  text-align: right;
}
html[dir=rtl][data-sap-ui-browser^="ie"] .sapUiUfdCurrencyValue {
  text-align: left;
}
.sapUiUfdCurrencyCurrency {
  text-align: start;
  margin-left: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sapUiUfdCurrencyNoVal .sapUiUfdCurrencyValue,
.sapUiUfdCurrencyNoVal .sapUiUfdCurrencyCurrency {
  display: none;
}
/* END "Currency.less" */
/* START "FileUploader.less" */
/* =================================================== */
/* CSS for control sap.ui.unified/FileUploader.control */
/* =================================================== */
.sapUiFup {
  display: inline-block;
}
.sapUiFupInp {
  top: 2px;
}
.sapUiFupGroup {
  display: table;
}
.sapUiFupGroup > div {
  display: table-row;
}
.sapUiFupGroup > div > div {
  display: table-cell;
  vertical-align: top;
}
.sapUiFupGroup > div > div:last-child {
  padding-left: 1px;
}
.sapUiFup > form {
  display: inline-block;
}
.sapUiFup > form > div {
  position: relative;
  display: inline-block;
}
.sapUiFupInputMask {
  /* the element masking the real (but hidden) file input, so the clickable area has exactly the same size as the visible control */
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.sapUiFupInputMask > input {
  /* the real, but hidden file input */
  position: absolute;
  opacity: 0;
  top: 0px;
  bottom: 0px;
  cursor: pointer;
  cursor: hand;
  left: -4em;
  /* avoid the input field behind the file chooser */
  font-size: 500px;
  /* to make the field high enough for most themes; for themes with very large fonts this needs to be increased further */
}
html[data-sap-ui-browser^="ie"] .sapUiFup > form input {
  display: block;
}
html[data-sap-ui-browser="ie8"] .sapUiFupInputMask > input {
  /* for IE8 the file input should be native */
  position: relative;
  left: auto;
  font-size: small;
}
html[data-sap-ui-browser^="sf"] .sapUiFupInputMask > input,
html[data-sap-ui-browser^="cr"] .sapUiFupInputMask > input {
  position: relative;
  left: auto;
  opacity: 0.01;
}
.sapUiMnu {
  /* initially hidden off the screen */
  position: absolute;
  top: -10000px;
  display: block;
  min-width: 80px;
  border: 1px solid #cccccc;
  /* the regular popup menu border */
  background-color: #e5e5e5;
  /* the popup menu's main background */
  cursor: default;
  outline: none;
  overflow: hidden;
  padding: 1px;
}
.sapUiMnuLst {
  padding: 0;
  margin: 0;
  display: block;
  cursor: default;
  color: #000000;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.sapUiMnuItm {
  display: block;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  position: relative;
}
.sapUiMnuItm.sapUiMnuItmDsbl,
.sapUiMnuItm.sapUiMnuTfItm.sapUiMnuItmDsbl .sapUiMnuTfItemLbl,
.sapUiMnuItm.sapUiMnuTfItm.sapUiMnuItmDsbl.sapUiMnuItmHov .sapUiMnuTfItemLbl {
  color: #cccccc;
}
.sapUiMnuItm.sapUiMnuItmHov {
  color: #ffffff;
  background-color: #ff1100;
}
.sapUiMnuItm.sapUiMnuTfItm.sapUiMnuItmHov .sapUiMnuTfItemLbl {
  color: #ffffff;
}
.sapUiMnuItm.sapUiMnuItmDsbl.sapUiMnuItmHov {
  background-color: #c0c0c0;
  color: #cccccc;
}
.sapUiMnuItmL,
.sapUiMnuItmIco,
.sapUiMnuItmTxt,
.sapUiMnuItmSCut,
.sapUiMnuItmSbMnu,
.sapUiMnuItmR {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
  outline: none;
}
.sapUiMnuItmSCut,
.sapUiMnuItmSbMnu,
.sapUiMnuItmR {
  position: absolute;
  top: 0px;
}
.sapUiMnuItmL {
  width: 2px;
}
.sapUiMnuItmIco {
  width: 20px;
  text-align: center;
}
.sapUiMnuItmIco > img {
  max-width: 16px;
  max-height: 16px;
  vertical-align: middle;
}
.sapUiMnuItmDsbl > .sapUiMnuItmIco > img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.sapUiMnuNoIco > .sapUiMnuItm > .sapUiMnuItmIco {
  width: 0px;
  display: none;
}
.sapUiMnuItmTxt {
  padding-right: 27px;
  /*22+5*/
  white-space: nowrap;
}
.sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt {
  padding-right: 5px;
}
.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemLbl {
  vertical-align: top;
  margin-right: 5px;
  line-height: 2rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt > .sapUiMnuTfItemWrppr {
  position: absolute;
  right: 5px;
  top: 0;
  width: 22ex;
  display: inline-block;
}
.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-appearance: none;
  /*Needed for safari mobile*/
  border: 1px solid #bfbfbf;
  -webkit-border-radius: 0px;
  /*Needed for safari mobile*/
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  outline: none;
  /* remove Webkit glow effect */
}
.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf:focus {
  background-color: #ffffff;
  border-color: #ff1100;
}
.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf::-ms-clear {
  width: 0;
  height: 0;
  display: none;
}
.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf.sapUiMnuTfItemTfDsbl {
  background-color: transparent;
  color: #cccccc;
  /* Avoid text selection in disabled TextFields */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-color: #dbdbdb;
}
.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf.sapUiMnuTfItemTfEnbl.sapUiMnuTfItemTfErr {
  border-color: #e52929;
  background-color: #fad4d4;
}
.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf.sapUiMnuTfItemTfEnbl.sapUiMnuTfItemTfWarn {
  border-color: #f0ab00;
  background-color: #fceecc;
}
.sapUiMnuTfItmStretch {
  display: inline-block;
  width: 22ex;
  height: 1px;
}
.sapUiMnuNoSbMnu > .sapUiMnuItm > .sapUiMnuItmTxt {
  padding-right: 7px;
  /*2+5*/
}
.sapUiMnuItmSCut {
  white-space: nowrap;
  right: 22px;
  width: 0px;
  display: none;
}
.sapUiMnuItmSbMnu {
  right: 2px;
  width: 15px;
  text-align: left;
}
.sapUiMnuItmSbMnu > div:after {
  content: "\e066";
  font-family: 'SAP-icons';
  outline: none;
}
.sapUiMnuNoSbMnu > .sapUiMnuItm > .sapUiMnuItmSbMnu {
  width: 0px;
  display: none;
}
.sapUiMnuItmR {
  width: 2px;
  right: 0px;
}
.sapUiMnuDiv {
  position: relative;
  height: 3px;
}
.sapUiMnuDiv > hr {
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 5px;
  right: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-width: 0;
  border-top: 1px solid #cccccc;
  height: 1px;
}
.sapUiMnuDivL,
.sapUiMnuDivR {
  display: inline-block;
  position: absolute;
  width: 5px;
  height: 100%;
}
.sapUiMnuDivR {
  right: 0;
}
.sapUiMnuDivL {
  left: 0;
}
.sapUiUfdShellHeader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* Animations */
.sapUiUfdShellAnim .sapUiUfdShellHeadItmMarker {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -moz-transition-duration: 500ms;
}
.sapUiUfdShellAnim .sapUiUfdShellHeadCenter.sapUiUfdShellAnim {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -webkit-transition-delay: 30ms;
  transition-delay: 30ms;
  -moz-transition-delay: 30ms;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -moz-transition-property: left, right;
  z-index: 1;
}
.sapUiUfdShellAnim .sapUiUfdShellHeadItmMarker {
  -webkit-transition-property: bottom;
  transition-property: bottom;
  -moz-transition-property: bottom;
}
/* Header */
.sapUiUfdShellHeadBegin,
.sapUiUfdShellHeadCenter,
.sapUiUfdShellHeadEnd {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.sapUiUfdShellHeadBegin {
  left: 0;
  max-width: 265px;
  white-space: nowrap;
}
.sapUiUfdShellHeadCenter {
  left: 0;
  right: 0;
  text-align: center;
}
.sapUiUfdShellHeadEnd {
  right: 0;
  max-width: 390px;
  white-space: nowrap;
}
.sapUiUfdShellHeadEnd > .sapUiUfdShellIco,
.sapUiUfdShellHeadBegin > .sapUiUfdShellIco {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  line-height: 39.6px;
}
.sapUiUfdShellHeadEnd > .sapUiUfdShellIco {
  text-align: right;
  padding-right: 8px;
}
.sapUiUfdShellHeadBegin > .sapUiUfdShellIco {
  padding-left: 8px;
}
.sapUiUfdShellHeadEnd > .sapUiUfdShellIco > img,
.sapUiUfdShellHeadBegin > .sapUiUfdShellIco > img {
  max-height: 36px;
  max-width: 96px;
  vertical-align: middle;
}
.sapUiUfdShellIco.sapUiUfdShellHidden {
  display: none;
}
.sapUiUfdShellHeadEnd > * {
  float: right;
}
.sapUiUfdShellHeadContainer {
  overflow: hidden;
  display: inline-block;
}
.sapUiUfdShellHeadItm {
  width: 44px;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  overflow: hidden;
  position: relative;
}
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep {
  width: 53px;
}
.sapUiUfdShellHeadItm.sapUiUfdShellHidden {
  display: none;
}
.sapUiUfdShellHeadItm > span {
  width: 36px;
  height: 36px;
  display: inline-block;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  font-size: 22px;
  margin: 3px;
  margin-top: 4px;
  color: #000000;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.sapUiUfdShellHeadBegin .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep > span {
  margin-right: 13px;
  margin-left: 4px;
}
.sapUiUfdShellHeadEnd .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep > span {
  margin-left: 13px;
  margin-right: 4px;
}
.sapUiUfdShellHeadUsrItm:before,
.sapUiUfdShellHeadEnd .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:before,
.sapUiUfdShellHeadBegin .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:after {
  content: " ";
  height: 32px;
  top: 6px;
  position: absolute;
  width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.sapUiUfdShellHeadBegin .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:after {
  right: 0;
  border-right: 4px solid transparent;
  border-left: 1px solid #808080;
}
.sapUiUfdShellHeadUsrItm:before,
.sapUiUfdShellHeadEnd .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:before {
  left: 0;
  border-left: 4px solid transparent;
  border-right: 1px solid #808080;
}
.sapUiUfdShellHeadItm:active > span,
.sapUiUfdShellHeadItm:active:hover > span,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadItm:active:hover > span,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadItm:hover > span,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadUsrItm:hover > *,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadUsrItm:hover:active > *,
.sapUiUfdShellHeadUsrItm:active > *,
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel > span,
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel:active > span,
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel:active:hover > span {
  background-color: #ff1100;
}
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel:hover > span {
  background-color: #e60f00;
}
.sapUiUfdShellHeadItm > span > img {
  margin-top: 7px;
  width: 22px;
  height: 22px;
  border-width: 0;
}
.sapUiUfdShellHeadItm:focus,
.sapUiUfdShellHeadUsrItm:focus {
  outline: none;
}
.sapUiUfdShellHeadItm:focus > span {
  border: 1px dotted #000000;
}
.sapUiUfdShellSearch {
  display: inline-block;
  position: relative;
  width: 95%;
  max-width: 415px;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  line-height: 39.6px;
  padding-left: 4px;
  padding-right: 4px;
}
.sapUiUfdShellSearch.sapUiUfdShellHidden {
  display: none;
}
.sapUiUfdShellSearch > div {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.sapUiUfdShellHeadItmMarker {
  position: absolute;
  bottom: -7px;
  left: 15px;
  width: 14px;
  height: 7px;
  background-color: transparent;
  overflow: hidden;
}
.sapUiUfdShellHeadItmMark > .sapUiUfdShellHeadItmMarker {
  bottom: 0;
}
.sapUiUfdShellHeadItmMarker > div {
  position: relative;
  top: 100%;
}
.sapUiUfdShellHeadItmMarker > div:after,
.sapUiUfdShellHeadItmMarker > div:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  left: 50%;
  border-bottom-color: #000000;
}
.sapUiUfdShellHeadItmMarker > div:after {
  border-width: 6px;
  margin-left: -6px;
}
.sapUiUfdShellHeadItmMarker > div:before {
  border-width: 7px;
  margin-left: -7px;
}
/* User Item */
.sapUiUfdShellHeadUsrItm {
  text-decoration: none;
  overflow: hidden;
  position: relative;
  line-height: 44px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  color: #000000;
}
.sapUiUfdShellHeadUsrItm > * {
  display: inline-block;
  vertical-align: top;
  height: 36px;
  line-height: 34px;
  margin-top: 4px;
  margin-bottom: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.sapUiUfdShellHeadUsrItmImg {
  font-weight: normal;
  text-align: center;
  font-size: 22px;
  -moz-border-top-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-left: 13px;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding-left: 9px;
  padding-right: 9px;
}
.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmImg {
  border-left: 1px dotted #000000;
  border-top: 1px dotted #000000;
  border-bottom: 1px dotted #000000;
}
.sapUiUfdShellHeadUsrItmImg > img {
  margin-top: 1px;
  width: 32px;
  height: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  border-width: 0;
}
.sapUiUfdShellHeadUsrItmName {
  font-size: 14px;
  max-width: 241px;
  /*15rem + 1px*/
  overflow: hidden;
  padding-right: 9px;
  text-overflow: ellipsis;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmName {
  border-top: 1px dotted #000000;
  border-bottom: 1px dotted #000000;
}
.sapUiUfdShellHeadUsrItmLimit > .sapUiUfdShellHeadUsrItmName,
.sapUiMedia-Std-Phone .sapUiUfdShellHeadUsrItmName,
.sapUiMedia-Std-Phone .sapUiUfdShellHeadUsrItmExp {
  display: none;
}
.sapUiMedia-Std-Phone .sapUiUfdShellHeadUsrItmImg {
  margin-right: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.sapUiUfdShellHeadUsrItmExp {
  font-size: 16px;
  padding-right: 9px;
  margin-right: 4px;
  -moz-border-top-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.sapUiUfdShellHeadUsrItmExp:after {
  content: "\e1ef";
  font-family: 'SAP-icons';
  outline: none;
}
.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmExp {
  border-right: 1px dotted #000000;
  border-top: 1px dotted #000000;
  border-bottom: 1px dotted #000000;
}
/*Duration of the transitions (must be defined in ms)*/
.sapUiUfdShellBG {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
._sapUiUfdShellSubHdr {
  /* Testpage only */
  background-color: #f2f2f2;
  color: #000000;
}
/* Basics */
.sapUiUfdShellCntnt {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sapUiUfdShellPad {
  padding: 10px;
}
.sapUiUfdShellHidden {
  display: none;
}
/* Animations */
.sapUiUfdShellAnim .sapUiUfdShellHead,
.sapUiUfdShellAnim .sapUiUfdShellHead > div,
.sapUiUfdShellAnim .sapUiUfdShellCurtain,
.sapUiUfdShellAnim .sapUiUfdShellCanvas {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -moz-transition-duration: 500ms;
}
.sapUiUfdShellAnim .sapUiUfdShellCanvas {
  -webkit-transition-property: top;
  transition-property: top;
  -moz-transition-property: top;
}
.sapUiUfdShellAnim .sapUiUfdShellCurtain {
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -moz-transition-property: top, bottom;
}
.sapUiUfdShellAnim .sapUiUfdShellHead {
  perspective: 400px;
  -webkit-perspective: 400px;
  -webkit-transition-property: top;
  transition-property: top;
  -moz-transition-property: top;
}
.sapUiUfdShellAnim .sapUiUfdShellHead > div {
  -webkit-transform: rotateX(0);
  -webkit-transform-origin: bottom center;
  transform: rotateX(0);
  transform-origin: bottom center;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  -moz-transition-property: opacity, -moz-transform;
}
.sapUiUfdShellAnim.sapUiUfdShellHeadHidden .sapUiUfdShellHead > div {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0.3;
}
/* Header */
.sapUiUfdShellBrand {
  position: absolute;
  top: 0;
  height: 4px;
  left: 0;
  right: 0;
  border: medium none;
  margin: 0;
  z-index: 7;
  background-color: #ff1100;
}
.sapUiUfdShell.sapUiUfdShellNoHead > .sapUiUfdShellBrand {
  display: none;
}
.sapUiUfdShellHead {
  position: absolute;
  top: 4px;
  height: 44px;
  left: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;
}
.sapUiUfdShell.sapUiUfdShellNoHead > .sapUiUfdShellHead {
  display: none;
}
.sapUiUfdShellHead > div {
  position: absolute;
  top: 0;
  height: 44px;
  left: 0;
  right: 0;
  overflow: hidden;
  opacity: 1;
}
.sapUiUfdShell.sapUiUfdShellHeadHidden .sapUiUfdShellHead {
  top: -44px;
}
/* Canvas / Curtain */
.sapUiUfdShellCanvas {
  top: 48px;
}
.sapUiUfdShell.sapUiUfdShellNoHead > .sapUiUfdShellCanvas {
  top: 0;
}
.sapUiUfdShellCurtain {
  top: 0;
  z-index: 1;
}
.sapUiUfdShell.sapUiUfdShellHeadHidden .sapUiUfdShellCanvas {
  top: 4px;
}
.sapUiUfdShellCurtain > .sapUiUfdShellCntnt {
  overflow: auto;
  top: 48px;
  -webkit-overflow-scrolling: touch;
}
.sapUiUfdShell.sapUiUfdShellNoHead > .sapUiUfdShellCurtain > .sapUiUfdShellCntnt {
  top: 0;
}
.sapUiUfdShell.sapUiUfdShellCurtainHidden .sapUiUfdShellCurtain {
  top: -100%;
  bottom: 100%;
}
.sapUiUfdShell.sapUiUfdShellCurtainHidden.sapUiUfdShellCurtainClosed .sapUiUfdShellCurtain > div,
.sapUiUfdShell.sapUiUfdShellCurtainHidden.sapUiUfdShellCurtainClosed .sapUiUfdShellCurtain > span {
  display: none;
}
.sapUiUfdShellOvrly {
  position: absolute;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sapUiUfdShellOvrly > div {
  height: 100%;
  width: 80%;
  max-width: 1120px;
  /*70rem*/
  display: inline-block;
  position: relative;
  text-align: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sapUiMedia-Std-Tablet .sapUiUfdShellOvrly > div {
  width: 94%;
}
.sapUiMedia-Std-Phone .sapUiUfdShellOvrly > div {
  width: 100%;
}
.sapUiUfdShellOvrlyHead {
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.sapUiUfdShellOvrlyBrand {
  position: absolute;
  top: 0;
  height: 4px;
  left: 0;
  right: 0;
  border: medium none;
  margin: 0;
}
.sapUiUfdShellOvrlyHeadClose {
  cursor: pointer;
  right: 24px;
  position: absolute;
  opacity: 1;
  text-decoration: none;
  font-size: 14px;
  top: 0px;
  height: 100%;
  padding-top: 14px;
  padding-left: 14px;
  padding-right: 14px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sapUiUfdShellOvrlyHeadClose,
.sapUiUfdShellOvrlyHeadClose:active,
.sapUiUfdShellOvrlyHeadClose:hover,
.sapUiUfdShellOvrlyHeadClose:focus,
.sapUiUfdShellOvrlyHeadClose:visited {
  color: #000000;
}
.sapUiUfdShellOvrlyCntnt {
  background-color: white;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 48px solid transparent;
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 48px rgba(0, 0, 0, 0.3);
}
.sapUiUfdShellOvrlyCntnt > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.sapUiUfdShellOvrlyCntntHidden .sapUiUfdShellOvrlyCntnt {
  top: -100%;
  bottom: 100%;
}
.sapUiUfdShellOvrlyCntntHidden .sapUiUfdShellOvrlyCntnt > div {
  opacity: 0;
}
.sapUiUfdShellOvrlyCntntHidden .sapUiUfdShellOvrlyHeadClose {
  opacity: 0;
}
.sapUiUfdShellOvrlyHeadCntnt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 4px;
}
.sapUiUfdShellOvrlyHeadCenter {
  position: absolute;
  height: 100%;
  left: 90px;
  right: 90px;
  top: 0;
  text-align: center;
}
.sapUiMedia-Std-Phone .sapUiUfdShellOvrlyHeadCenter {
  left: 5px;
}
.sapUiUfdShellOvrlySearch {
  display: inline-block;
  position: relative;
  width: 95%;
  max-width: 600px;
  height: 100%;
  line-height: 39.6px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
.sapUiUfdShellOvrlySearch > div {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrly > div {
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition-property: width;
  -webkit-transition-duration: 175ms;
  transition-duration: 175ms;
  -moz-transition-duration: 175ms;
}
.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyOpening .sapUiUfdShellOvrlyCntnt {
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  -webkit-transition-delay: 75ms;
  transition-delay: 75ms;
  -moz-transition-delay: 75ms;
}
.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyClosing .sapUiUfdShellOvrlyCntnt {
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
  -moz-transition-duration: 350ms;
  -webkit-transition-delay: 175ms;
  transition-delay: 175ms;
  -moz-transition-delay: 175ms;
}
.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyOpening .sapUiUfdShellOvrlyCntnt,
.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyClosing .sapUiUfdShellOvrlyCntnt {
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
.sapUiUfdShellOvrlyAnim .sapUiUfdShellOvrlyCntnt {
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -moz-transition-property: top, bottom;
}
.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyOpening .sapUiUfdShellOvrlyCntnt > div {
  -webkit-transition-duration: 175ms;
  transition-duration: 175ms;
  -moz-transition-duration: 175ms;
  -webkit-transition-delay: 308.33333333ms;
  transition-delay: 308.33333333ms;
  -moz-transition-delay: 308.33333333ms;
}
.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyClosing .sapUiUfdShellOvrlyCntnt > div {
  -webkit-transition-duration: 175ms;
  transition-duration: 175ms;
  -moz-transition-duration: 175ms;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -moz-transition-delay: 0;
}
.sapUiUfdShellOvrlyAnim .sapUiUfdShellOvrlyCntnt > div {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-property: opacity;
}
.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyOpening .sapUiUfdShellOvrlySearch {
  -webkit-transition-duration: 525ms;
  transition-duration: 525ms;
  -moz-transition-duration: 525ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
}
.sapUiUfdShellOvrlyAnim.sapUiUfdShellOvrlyClosing .sapUiUfdShellOvrlySearch {
  -webkit-transition-duration: 525ms;
  transition-duration: 525ms;
  -moz-transition-duration: 525ms;
}
.sapUiUfdShellOvrlyAnim .sapUiUfdShellOvrlySearch {
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition-property: width;
}
.sapUiUfdShellOvrlyAnim .sapUiUfdShellOvrlyHeadClose {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-property: opacity;
  -webkit-transition-duration: 525ms;
  transition-duration: 525ms;
  -moz-transition-duration: 525ms;
}
.sapUiBLy.sapUiUfdShellOvrlyBly {
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 210ms;
  transition-duration: 210ms;
  -moz-transition-duration: 210ms;
}
.sapUiBLy.sapUiUfdShellOvrlyBly.sapUiUfdShellOvrlyBlyTp {
  background-color: transparent;
}
.sapUiUfdSpltCont {
  overflow: hidden;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
.sapUiUfdSpltContAnim .sapUiUfdSpltContCanvas,
.sapUiUfdSpltContAnim .sapUiUfdSpltContPane {
  transition: height 500ms ease 0ms, width 500ms ease 0ms, left 500ms ease 0ms, top 500ms ease 0ms;
  -webkit-transition: height 500ms ease 0ms, width 500ms ease 0ms, left 500ms ease 0ms, top 500ms ease 0ms;
}
.sapUiUfdSpltContPane {
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.sapUiUfdSpltContPane.sapUiUfdSplitContSecondClosed > div {
  display: none;
}
.sapUiUfdSpltContCanvas {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.sapUiUfdSpltContCntnt {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sapUiUfdSpltContPad {
  padding: 10px;
}
.sapUiUfdSpltContH .sapUiUfdSpltContPane {
  border-right: 1px solid #cccccc;
  bottom: 0;
}
.sapUiUfdSpltContV .sapUiUfdSpltContPane {
  border-bottom: 1px solid #cccccc;
  right: 0;
}
/*</SAP_FREETEXT>*/
/******************* FILE /Base/baseLib/sap_bluecrystal/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/sap_bluecrystal/global.less *******************/
/******************* FILE /UI5/sap/ui/unified/themes/sap_bluecrystal/library.less *******************/
/*<SAP_FREETEXT>*/
/* START "Calendar.less" */
/* =============================================== */
/* CSS for control sap.ui.unified/Calendar.control */
/* Bluecrystal */
/* =============================================== */
/* tablet(large) size is default */
/* rem not used as unit because of IE8 support */
.sapUiCal {
  width: 288px;
  /* +16px padding left and right = 320 px*/
  padding: 16px;
  background-color: #ffffff;
}
/* calendar should have only a border if on popup */
.sapUiCal[data-sap-ui-popup] {
  border-color: #bfbfbf;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
/*** HEADER ***/
.sapUiCalHead {
  height: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.sapUiCalPrev,
.sapUiCalNext,
.sapUiCalMonthPick,
.sapUiCalYearPick,
.sapUiCancel {
  height: 40px;
  padding: 0;
  font-size: 14px;
  /* @sapMFontMediumSize but use px for IE8 support */
}
.sapUiCalPrev,
.sapUiCalNext {
  width: 40px;
}
.sap-desktop .sapUiCalMonthPick:focus,
.sap-desktop .sapUiCalYearPick:focus {
  border: 1px dotted #c20d00;
}
.sapUiCalMonthPick,
.sapUiCalYearPick,
.sapUiCancel,
.sap-desktop .sapUiCalMonthPick:hover,
.sap-desktop .sapUiCalYearPick:hover,
.sap-desktop .sapUiCalMonthPick:focus,
.sap-desktop .sapUiCalYearPick:focus {
  color: #00679e;
}
.sap-desktop .sapUiCalMonthPick:active,
.sap-desktop .sapUiCalYearPick:active {
  color: #ffffff;
}
.sapUiCalMonthPick {
  width: 92px;
  margin-right: 4px;
}
.sapUiCalYearPick {
  width: 92px;
  margin-left: 4px;
}
/*** days, months, years ***/
.sapUiCalWH,
.sapUiCalDay,
.sapUiCalMonth,
.sapUiCalYear {
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
.sapUiCalWH {
  height: 32px;
  line-height: 30px;
}
.sapUiCalDay,
.sapUiCalWeekNum {
  height: 48px;
  line-height: 46px;
}
.sapUiCalDayNum {
  box-sizing: border-box;
}
.sapUiCalWeekNum {
  top: -1px;
}
.sapUiCalWH {
  font-size: 12px;
  /* @sapMFontSmallSize but use px for IE8 support */
}
.sapUiCalDay,
.sapUiCalWeekNum,
.sapUiCalMonth,
.sapUiCalYear {
  font-size: 14px;
  /* @sapMFontMediumSize but use px for IE8 support */
}
.sapUiCalDay,
.sapUiCalMonth,
.sapUiCalYear {
  color: #000000;
}
/* make outline for days on number to prevent it around week number */
/* hide outline for all devices, but enable later for desktop */
.sapUiCalDay:focus,
.sapUiCalMonth:focus,
.sapUiCalYear:focus {
  outline: none;
  overflow: visible;
}
/* hover and focus makes only sense on desktops. On mobile devices it's not needed */
.sap-desktop .sapUiCalDay:hover,
.sap-desktop .sapUiCalDay:focus,
.sap-desktop .sapUiCalMonth:hover,
.sap-desktop .sapUiCalMonth:focus,
.sap-desktop .sapUiCalYear:hover,
.sap-desktop .sapUiCalYear:focus {
  background-color: #d8d8d8;
}
.sap-desktop .sapUiCalDay:focus > .sapUiCalDayNum {
  outline: 1px dotted #c20d00;
}
.sap-desktop .sapUiCalMonth:focus,
.sap-desktop .sapUiCalYear:focus {
  outline: 1px dotted #c20d00;
  outline-offset: -1px;
}
html[data-sap-ui-browser^="ie"] .sapUiCalMonth:focus,
html[data-sap-ui-browser^="ie"] .sapUiCalYear:focus {
  /* as IE don't support outline-offset */
  outline: none;
  border: 1px dotted #c20d00;
}
.sap-desktop .sapUiCalDayWeekEnd:hover,
.sap-desktop .sapUiCalDayWeekEnd:focus {
  background-color: #cccccc;
}
.sapUiCalDayToday > .sapUiCalDayNum {
  border: 2px solid #ab218e;
  line-height: 43px;
}
.sapUiCalDayOtherMonth {
  background-color: transparent;
  color: #808080;
}
.sap-desktop .sapUiCalDayOtherMonth:hover,
.sap-desktop .sapUiCalDayOtherMonth:focus {
  background-color: #e6e6e6;
}
.sapUiCalDaySel,
.sapUiCalMonthSel,
.sapUiCalYearSel {
  color: #ffffff;
}
.sapUiCalDaySel.sapUiCalDayOtherMonth {
  background-color: #ff1100;
}
.sapUiCalDaySelBetween,
.sapUiCalDaySelBetween.sapUiCalDayOtherMonth {
  background-color: #ffffff;
  color: #000000;
}
.sap-desktop .sapUiCalDaySel:hover,
.sap-desktop .sapUiCalDaySel:focus,
.sap-desktop .sapUiCalDaySel.sapUiCalDayOtherMonth:hover,
.sap-desktop .sapUiCalDaySel.sapUiCalDayOtherMonth:focus,
.sap-desktop .sapUiCalMonthSel:hover,
.sap-desktop .sapUiCalMonthSel:focus,
.sap-desktop .sapUiCalYearSel:hover,
.sap-desktop .sapUiCalYearSel:focus {
  background-color: #cc0e00;
}
html[data-sap-ui-browser^="ie"] .sapUiCalMonthSel:focus,
html[data-sap-ui-browser^="ie"] .sapUiCalYearSel:focus {
  /* as IE don't support outline-offset */
  border-color: #ffffff;
}
.sap-desktop .sapUiCalDaySelBetween:hover,
.sap-desktop .sapUiCalDaySelBetween:focus,
.sap-desktop .sapUiCalDaySelBetween.sapUiCalDayOtherMonth:hover,
.sap-desktop .sapUiCalDaySelBetween.sapUiCalDayOtherMonth:focus {
  background-color: #ffcfcc;
}
.sapUiCalDayToday.sapUiCalDaySel {
  color: #ffffff;
}
.sapUiCalDayToday.sapUiCalDaySel > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff;
}
.sapUiCalDayToday.sapUiCalDaySelBetween {
  color: #000000;
}
.sapUiCalMonths,
.sapUiCalYears {
  top: 64px;
  padding: 32px 16px 16px 16px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.sapUiCalYears.sapUiCalYearNoTop {
  padding-top: 0;
}
.sapUiCalMonth,
.sapUiCalYear {
  height: 48px;
  line-height: 46px;
}
/*** compact mode (desktop size) ***/
.sapUiSizeCompact .sapUiCal,
.sapUiSizeCompact.sapUiCal {
  width: 256px;
  padding: 8px;
}
.sapUiSizeCompact .sapUiCalHead {
  height: 32px;
  padding: 0;
}
.sapUiSizeCompact .sapUiCalPrev,
.sapUiSizeCompact .sapUiCalNext,
.sapUiSizeCompact .sapUiCalMonthPick,
.sapUiSizeCompact .sapUiCalYearPick {
  height: 32px;
}
.sapUiSizeCompact .sapUiCalPrev,
.sapUiSizeCompact .sapUiCalNext {
  width: 32px;
}
.sapUiSizeCompact .sapUiCalMonthPick {
  width: 100px;
  margin-right: 4px;
}
.sapUiSizeCompact .sapUiCalYearPick {
  width: 68px;
  margin-left: 4px;
}
.sapUiSizeCompact .sapUiCalDay,
.sapUiSizeCompact .sapUiCalWeekNum {
  height: 32px;
  line-height: 30px;
}
.sapUiSizeCompact .sapUiCalDayToday > .sapUiCalDayNum {
  line-height: 27px;
}
.sapUiSizeCompact .sapUiCalMonths,
.sapUiSizeCompact .sapUiCalYears {
  top: 40px;
  padding: 32px 8px 8px 8px;
}
.sapUiSizeCompact .sapUiCalMonth,
.sapUiSizeCompact .sapUiCalYear {
  height: 32px;
  line-height: 30px;
}
/*** Phone ***/
/* make calendar full-screen if on popup (DatePicker), but not if stand alone */
.sap-phone .sapUiCal[data-sap-ui-popup] {
  position: absolute;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: auto;
  border: none;
}
.sap-phone .sapUiCal[data-sap-ui-popup] > .sapUiCancel {
  display: block;
}
@media only screen and (orientation: portrait) and (min-height: 380px) {
  .sap-phone .sapUiCal[data-sap-ui-popup] > .sapUiCancel {
    bottom: 1rem;
    left: 25%;
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] > .sapUiCalMonths,
  .sap-phone .sapUiCal[data-sap-ui-popup] > .sapUiCalYears {
    bottom: 56px;
  }
}
@media only screen and (min-width: 320px) and (max-height: 379px) {
  .sap-phone .sapUiCal[data-sap-ui-popup] {
    overflow: auto;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] > .sapUiCalHead {
    height: 30px;
    padding-right: 5rem;
    box-sizing: border-box;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalWH {
    height: 20px;
    line-height: 20px;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalPrev,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalNext,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalMonthPick,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalYearPick {
    height: 100%;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalPrev,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalNext {
    padding-bottom: 0.5rem;
    box-sizing: border-box;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalNext {
    right: 5rem;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] > .sapUiCalDays {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    margin: 1rem;
    min-height: 180px;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] > .sapUiCalMonths,
  .sap-phone .sapUiCal[data-sap-ui-popup] > .sapUiCalYears {
    top: 46px;
    padding-top: 20px;
    min-height: 180px;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalDay,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalMonth,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalYear {
    height: 16.66%;
    min-height: 30px;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalDay,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalDayToday > .sapUiCalDayNum,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalWeekNum,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalMonth,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalYear {
    line-height: 35px;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalWeekNum {
    height: 100%;
    top: 0;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] > .sapUiCancel {
    top: 1rem;
    right: 1rem;
    width: 5rem;
    height: 30px;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 320px) and (min-height: 380px) and (orientation: landscape) {
  .sap-phone .sapUiCal[data-sap-ui-popup] {
    overflow: auto;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] > .sapUiCalHead {
    height: 30px;
    padding-right: 5rem;
    box-sizing: border-box;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalWH {
    height: 20px;
    line-height: 20px;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalPrev,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalNext,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalMonthPick,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalYearPick {
    height: 100%;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalPrev,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalNext {
    padding-bottom: 0.5rem;
    box-sizing: border-box;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalNext {
    right: 5rem;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] > .sapUiCalDays {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    margin: 1rem;
    min-height: 180px;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] > .sapUiCalMonths,
  .sap-phone .sapUiCal[data-sap-ui-popup] > .sapUiCalYears {
    top: 46px;
    padding-top: 20px;
    min-height: 180px;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalDay,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalMonth,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalYear {
    height: 16.66%;
    min-height: 30px;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalDay,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalDayToday > .sapUiCalDayNum,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalWeekNum,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalMonth,
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalYear {
    line-height: 35px;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] .sapUiCalWeekNum {
    height: 100%;
    top: 0;
  }
  .sap-phone .sapUiCal[data-sap-ui-popup] > .sapUiCancel {
    top: 1rem;
    right: 1rem;
    width: 5rem;
    height: 30px;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
  }
}
/* colors for special days */
.sapUiCalDayType01 > .sapUiCalDayNum {
  box-shadow: inset 0 -2px 0 #f0ab00;
}
.sapUiCalDayType01.sapUiCalDaySel > .sapUiCalDayNum {
  box-shadow: inset 0 -0.125rem 0 #f0ab00, inset 0 -0.1875rem #ffffff;
}
.sapUiCalDayType01.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #f0ab00, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType01.sapUiCalDaySel.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #f0ab00, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType02 > .sapUiCalDayNum {
  box-shadow: inset 0 -2px 0 #f27020;
}
.sapUiCalDayType02.sapUiCalDaySel > .sapUiCalDayNum {
  box-shadow: inset 0 -0.125rem 0 #f27020, inset 0 -0.1875rem #ffffff;
}
.sapUiCalDayType02.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #f27020, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType02.sapUiCalDaySel.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #f27020, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType03 > .sapUiCalDayNum {
  box-shadow: inset 0 -2px 0 #e52929;
}
.sapUiCalDayType03.sapUiCalDaySel > .sapUiCalDayNum {
  box-shadow: inset 0 -0.125rem 0 #e52929, inset 0 -0.1875rem #ffffff;
}
.sapUiCalDayType03.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #e52929, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType03.sapUiCalDaySel.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #e52929, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType04 > .sapUiCalDayNum {
  box-shadow: inset 0 -2px 0 #a34409;
}
.sapUiCalDayType04.sapUiCalDaySel > .sapUiCalDayNum {
  box-shadow: inset 0 -0.125rem 0 #a34409, inset 0 -0.1875rem #ffffff;
}
.sapUiCalDayType04.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #a34409, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType04.sapUiCalDaySel.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #a34409, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType05 > .sapUiCalDayNum {
  box-shadow: inset 0 -2px 0 #de54c1;
}
.sapUiCalDayType05.sapUiCalDaySel > .sapUiCalDayNum {
  box-shadow: inset 0 -0.125rem 0 #de54c1, inset 0 -0.1875rem #ffffff;
}
.sapUiCalDayType05.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #de54c1, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType05.sapUiCalDaySel.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #de54c1, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType06 > .sapUiCalDayNum {
  box-shadow: inset 0 -2px 0 #008a3b;
}
.sapUiCalDayType06.sapUiCalDaySel > .sapUiCalDayNum {
  box-shadow: inset 0 -0.125rem 0 #008a3b, inset 0 -0.1875rem #ffffff;
}
.sapUiCalDayType06.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #008a3b, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType06.sapUiCalDaySel.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #008a3b, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType07 > .sapUiCalDayNum {
  box-shadow: inset 0 -2px 0 #004990;
}
.sapUiCalDayType07.sapUiCalDaySel > .sapUiCalDayNum {
  box-shadow: inset 0 -0.125rem 0 #004990, inset 0 -0.1875rem #ffffff;
}
.sapUiCalDayType07.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #004990, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType07.sapUiCalDaySel.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #004990, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType08 > .sapUiCalDayNum {
  box-shadow: inset 0 -2px 0 #009de0;
}
.sapUiCalDayType08.sapUiCalDaySel > .sapUiCalDayNum {
  box-shadow: inset 0 -0.125rem 0 #009de0, inset 0 -0.1875rem #ffffff;
}
.sapUiCalDayType08.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #009de0, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType08.sapUiCalDaySel.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #009de0, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType09 > .sapUiCalDayNum {
  box-shadow: inset 0 -2px 0 #00d65c;
}
.sapUiCalDayType09.sapUiCalDaySel > .sapUiCalDayNum {
  box-shadow: inset 0 -0.125rem 0 #00d65c, inset 0 -0.1875rem #ffffff;
}
.sapUiCalDayType09.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #00d65c, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType09.sapUiCalDaySel.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #00d65c, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType10 > .sapUiCalDayNum {
  box-shadow: inset 0 -2px 0 #80196a;
}
.sapUiCalDayType10.sapUiCalDaySel > .sapUiCalDayNum {
  box-shadow: inset 0 -0.125rem 0 #80196a, inset 0 -0.1875rem #ffffff;
}
.sapUiCalDayType10.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #80196a, inset 0 -0.25rem #ffffff;
}
.sapUiCalDayType10.sapUiCalDaySel.sapUiCalDayToday > .sapUiCalDayNum {
  box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #ffffff, inset 0 -0.1875rem 0 #80196a, inset 0 -0.25rem #ffffff;
}
/* END "Calendar.less" */
/* START "CalendarLegend.less" */
/* =============================================== */
/* CSS for control sap.ui.unified/CalendarLegend.control */
/* Bluecrystal */
/* =============================================== */
.sapUiUnifiedLegend {
  background-color: #ffffff;
  font-size: 0.75rem;
}
/*** compact mode (desktop size) ***/
.sapUiSizeCompact .sapUiUnifiedLegend,
.sapUiSizeCompact.sapUiUnifiedLegend {
  padding: 8px;
  column-gap: 6px;
  -moz-column-gap: 6px;
  /* Firefox */
  -webkit-column-gap: 6px;
  /* Safari and Chrome */
}
.sapUiSizeCompact .sapUiUnifiedLegendItem {
  display: inline-block;
  width: 100%;
  margin: 2px;
}
/*** items and colors ***/
.sapUiUnifiedLegendToday {
  height: 10px;
  width: 10px;
  background: white;
  border: 2px solid #ab218e;
}
.sapUiUnifiedLegendSelected {
  background: #ff1100;
}
.sapUiUnifiedLegendNormalDay {
  background: #f2f2f2;
}
.sapUiUnifiedLegendNonWorkingDay {
  background: #e5e5e5;
}
.sapUiCalLegDayType01 {
  background: #f0ab00;
}
.sapUiCalLegDayType02 {
  background: #f27020;
}
.sapUiCalLegDayType03 {
  background: #e52929;
}
.sapUiCalLegDayType04 {
  background: #a34409;
}
.sapUiCalLegDayType05 {
  background: #de54c1;
}
.sapUiCalLegDayType06 {
  background: #008a3b;
}
.sapUiCalLegDayType07 {
  background: #004990;
}
.sapUiCalLegDayType08 {
  background: #009de0;
}
.sapUiCalLegDayType09 {
  background: #00d65c;
}
.sapUiCalLegDayType10 {
  background: #80196a;
}
/* END "CalendarLegend.less" */
/* START "ContentSwitcher.less" */
/* BUILD ME!!!! */
/* END "ContentSwitcher.less" */
/* START "Currency.less" */
.sapUiUfdCurrency {
  font-size: 14px;
  font-size: 0.875rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
}
.sapUiUfdCurrencyCurrency {
  width: 2rem;
}
.sapUiSizeCondensed .sapUiTableCell > .sapUiUfdCurrency {
  box-sizing: border-box;
  padding-right: 0.5rem;
  vertical-align: middle;
}
/* END "Currency.less" */
/* START "FileUploader.less" */
/* ======================================================= */
/* CSS for control sap.ui.unified.FileUploader control */
/* BlueCrystal theme */
/* ======================================================= */
.sapUiFupGroup > div > div:last-child {
  padding-left: 4px;
}
.sapUiFup:hover .sapMBtnHoverable {
  background-image: none;
  background-color: #eaeaea;
}
.sapUiFup:active .sapMBtnInner {
  background-image: none;
  background-color: #ff1100;
  border-color: #ff1100;
  color: #ffffff;
  text-shadow: none;
}
.sapUiFup:hover .sapUiBtnS.sapUiBtnStdFocus {
  background-color: #eaeaea;
}
.sapUiFup:active .sapMBtnInner .sapMBtnIcon {
  color: #ffffff;
}
.sapUiFup:active .sapUiBtnS {
  background-color: #ff1100;
}
.sapUiFup:active .sapUiBtnS.sapUiBtnNorm {
  border-color: #bfbfbf;
}
.sapUiFup:hover .sapMBtnHoverable.sapMBtnAccept:not(.sapMBtnActive) {
  background-color: #005f28;
  border-color: #005f28;
}
.sapUiFup:active .sapMBtnHoverable.sapMBtnAccept:not(.sapMBtnActive) {
  background-color: #00451d;
  border-color: #00451d;
}
.sapUiFup:hover .sapMBtnHoverable.sapMBtnReject:not(.sapMBtnActive) {
  background-color: #b51616;
  border-color: #b51616;
}
.sapUiFup:active .sapMBtnHoverable.sapMBtnReject:not(.sapMBtnActive) {
  background-color: #9f1313;
  border-color: #9f1313;
}
.sapUiFup:hover .sapMBtnHoverable.sapMBtnEmphasized:not(.sapMBtnActive) {
  background-color: #e60f00;
  border-color: #e60f00;
}
.sapUiFup:active .sapMBtnHoverable.sapMBtnEmphasized:not(.sapMBtnActive) {
  background-color: #cc0e00;
  border-color: #cc0e00;
  text-shadow: none;
}
.sapUiMnu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 0;
  min-width: 80px;
  min-width: 5rem;
  background-color: #ffffff;
  border: 1px solid #bfbfbf;
  color: #000000;
  -webkit-box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.5);
}
.sapUiMnu.sapUiMnuScroll {
  overflow-x: none;
  overflow-y: auto;
}
.sapUiMnu.sapUiMnuScroll .sapUiMnuItmR {
  width: 24px;
  width: 1.5rem;
}
.sapUiMnuItm {
  height: 32px;
  height: 2rem;
  line-height: 32px;
  line-height: 2rem;
}
.sapUiMnuLst {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
}
.sapUiMnuItm.sapUiMnuItmSubMnuOpen,
.sapUiMnuItm.sapUiMnuItmSubMnuOpen.sapUiMnuItmHov {
  background-color: #ffe7e6;
}
.sapUiMnuItm.sapUiMnuItmHov {
  color: #000000;
  background-color: #f0f0f0;
}
.sapUiMnuItm.sapUiMnuItmHov:active {
  color: #ffffff;
  background-color: #ff1100;
}
.sapUiMnuItm.sapUiMnuItmDsbl.sapUiMnuItmHov,
.sapUiMnuItm.sapUiMnuItmDsbl.sapUiMnuItmHov:active {
  color: #cccccc;
  background-color: transparent;
}
.sapUiMnuItmL {
  width: 0;
}
.sapUiMnuItmR,
.sapUiMnuNoIco .sapUiMnuItmL {
  width: 8px;
  width: 0.5rem;
}
.sapUiMnuItmIco {
  width: 32px;
  width: 2rem;
  color: #666666;
}
.sapUiMnuItm.sapUiMnuItmDsbl .sapUiMnuItmIco {
  color: #cccccc;
}
.sapUiMnuItm.sapUiMnuItmHov:active .sapUiMnuItmIco {
  color: #ffffff;
}
.sapUiMnuItm.sapUiMnuItmDsbl.sapUiMnuItmHov:active .sapUiMnuItmIco {
  color: #cccccc;
}
.sapUiMnuItmIco > img {
  padding-left: 0;
  max-width: 16px;
  max-height: 16px;
  max-width: 1rem;
  max-height: 1rem;
}
.sapUiMnuDiv > hr {
  left: 8px;
  right: 8px;
  left: 0.5rem;
  right: 0.5rem;
  border-color: #bfbfbf;
}
.sapUiMnuItmTxt {
  padding-right: 40px;
  padding-right: 2.5rem;
}
.sapUiMnu.sapUiMnuScroll .sapUiMnuItmTxt {
  padding-right: 56px;
  padding-right: 3.5rem;
}
.sapUiMnuNoSbMnu > .sapUiMnuItm > .sapUiMnuItmTxt,
.sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt {
  padding-right: 8px;
  padding-right: 0.5rem;
}
.sapUiMnu.sapUiMnuScroll .sapUiMnuNoSbMnu > .sapUiMnuItm > .sapUiMnuItmTxt,
.sapUiMnu.sapUiMnuScroll .sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt {
  padding-right: 24px;
  padding-right: 1.5rem;
}
.sapUiMnuNoIco .sapUiMnuItmTxt {
  padding-left: 0;
}
.sapUiMnuItm.sapUiMnuTfItm > .sapUiMnuItmTxt > .sapUiMnuTfItemWrppr {
  right: 8px;
  right: 0.5rem;
}
.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 2px 5px 2px 5px;
  padding: 0.125rem 0.3125rem 0.125rem 0.3125rem;
  margin-top: 3px;
  margin-top: 0.1875rem;
  height: 26px;
  height: 1.625rem;
}
.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemTf.sapUiMnuTfItemTfDsbl {
  background-color: #fbfbfb;
}
.sapUiMnuItm.sapUiMnuTfItm .sapUiMnuTfItemLbl {
  line-height: 32px;
  line-height: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  color: #000000;
  margin-right: 8px;
  margin-right: 0.5rem;
}
.sapUiMnuItm.sapUiMnuTfItm.sapUiMnuItmHov .sapUiMnuTfItemLbl {
  color: #000000;
}
.sapUiMnuItmSbMnu > div:after {
  content: "\e1ed";
}
.sapUiMnuItmSbMnu {
  right: 0;
  width: 32px;
  width: 2rem;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}
.sapUiMnu.sapUiMnuScroll .sapUiMnuItmSbMnu {
  right: 16px;
  right: 1rem;
}
/* END "Menu.less" */
/* START "Shell.less" */
/* ========================================================== */
/* CSS for sap.ui.unfied.Shell.control (bluecrystal) */
/* ========================================================== */
/* END "Shell.less" */
/* START "ShellHeader.less" */
/* ======================================================== */
/* CSS for sap.ui.unfied.ShellHeader.control (bluecrystal) */
/* ======================================================== */
.sapUiUfdShellHeadBegin .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:after {
  border-left: 1px solid #d8d8d8;
}
.sapUiUfdShellHeadUsrItm:before,
.sapUiUfdShellHeadEnd .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:before {
  border-right: 1px solid #d8d8d8;
}
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadItm:hover > span,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadUsrItm:hover > * {
  background-color: #eaeaea;
}
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel:hover > span {
  background-color: #e60f00;
}
.sapUiUfdShellHeadItm > span,
.sapUiUfdShellHeadUsrItm {
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #666666;
}
.sapUiUfdShellHeadItmMarker > div:after {
  border-bottom-color: #ffe7e6;
  /*#E6F2F9*/
}
.sapUiUfdShellHeadItmMarker > div:before {
  border-bottom-color: #dddddd;
}
.sapUiUfdShellHeadItm:active > span,
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel > span,
.sapUiUfdShellHeadItm:active:hover > span,
.sapUiMedia-Std-Desktop .sapUiUfdShellHeadUsrItm:hover:active > *,
.sapUiUfdShellHeadUsrItm:active > * {
  color: #ffffff;
}
.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmExp,
.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmName,
.sapUiUfdShellHeadUsrItm:focus .sapUiUfdShellHeadUsrItmImg,
.sapUiUfdShellHeadItm:focus > span {
  border-color: #c20d00;
}
._sapUiUfdShellSubHdr {
  /* Testpage only */
  background-color: #ffe7e6;
  color: #666666;
}
.sapUiUfdShell .sapUiUfdShellHead {
  background-color: #000000;
}
.sapUiUfdShell .sapUiUfdShellHead > div {
  background-color: #f2f2f2;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7f7f7', EndColorStr='#ededed',GradientType=0);
  background: -ms-linear-gradient(top, #f7f7f7 0, #f2f2f2 33%, #f2f2f2 75%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f7), color-stop(0.33, #f2f2f2), color-stop(0.75, #f2f2f2), color-stop(1, #ededed));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0, #f2f2f2 33%, #f2f2f2 75%, #ededed 100%);
  background: linear-gradient(top, #f7f7f7 0, #f2f2f2 33%, #f2f2f2 75%, #ededed 100%);
  -webkit-box-shadow: inset 0 -0.0625em #dddddd;
  box-shadow: inset 0 -0.0625em #dddddd;
}
.sapUiUfdShell.sapUiUfdShellCurtainVisible .sapUiUfdShellHead,
.sapUiUfdShell.sapUiUfdShellCurtainVisible .sapUiUfdShellHead > div {
  background: none;
  background-color: #ffffff;
  filter: none;
}
.sapUiUfdShellCurtain {
  border-bottom: 1px solid #dddddd;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.97) 0%, rgba(255, 255, 255, 0.97) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.97) 0%, rgba(255, 255, 255, 0.97) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.97) 0%, rgba(255, 255, 255, 0.97) 100%);
  background-attachment: fixed;
  background-repeat: repeat, no-repeat;
}
html[data-sap-ui-browser="ie8"] .sapUiUfdShellCurtain,
html[data-sap-ui-browser="ie9"] .sapUiUfdShellCurtain {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#ffffff',GradientType=0);
}
/* END "ShellLayout.less" */
/* START "ShellOverlay.less" */
/* ============================================== */
/* CSS for sap.ui.unfied.ShellOverlay.control (blue crystal)*/
/* ============================================== */
.sapUiUfdShellOvrlyBrand {
  background-color: #ff1100;
}
.sapUiUfdShellOvrlyCntnt {
  background-color: #ffffff;
}
.sapUiUfdShellOvrlyHeadCntnt {
  background-color: #f2f2f2;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7f7f7', EndColorStr='#ededed',GradientType=0);
  background: -ms-linear-gradient(top, #f7f7f7 0, #f2f2f2 33%, #f2f2f2 75%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f7), color-stop(0.33, #f2f2f2), color-stop(0.75, #f2f2f2), color-stop(1, #ededed));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0, #f2f2f2 33%, #f2f2f2 75%, #ededed 100%);
  background: linear-gradient(top, #f7f7f7 0, #f2f2f2 33%, #f2f2f2 75%, #ededed 100%);
  -webkit-box-shadow: inset 0 -0.0625em #dddddd;
  box-shadow: inset 0 -0.0625em #dddddd;
}
.sapUiUfdShellOvrlyHeadClose,
.sapUiUfdShellOvrlyHeadClose:active,
.sapUiUfdShellOvrlyHeadClose:hover,
.sapUiUfdShellOvrlyHeadClose:focus,
.sapUiUfdShellOvrlyHeadClose:visited {
  color: #666666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.sapUiUfdShellOvrlyHeadClose:active {
  background-color: #ff1100;
  color: #ffffff;
}
.sapUiUfdShellOvrlyHeadClose {
  right: 0;
  height: 36px;
  margin: 4px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.sapUiUfdShellOvrlyHeadClose:before {
  background-color: #d8d8d8;
  content: " ";
  height: 76%;
  top: 12%;
  position: absolute;
  left: -4px;
  width: 1px;
}
.sapUiMedia-Std-Desktop .sapUiUfdShellOvrlyHeadClose:hover {
  background-color: #eaeaea;
}
.sapUiMedia-Std-Desktop .sapUiUfdShellOvrlyHeadClose:active:hover {
  background-color: #ff1100;
}
/* END "ShellOverlay.less" */
/* START "SplitContainer.less" */
.sapUiUfdSpltContPane {
  background-color: #ffffff;
}
/*</SAP_FREETEXT>*/
/******************* FILE /Base/baseLib/custom_holcim_mobile/custom.less *******************/
/*<SAP_FREETEXT_LESS>*/
/*</SAP_FREETEXT_LESS>*/
/******************* FILE /Base/baseLib/custom_holcim_mobile/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/custom_holcim_mobile/global.less *******************/
/******************* FILE /UI5/sap/ui/unified/themes/custom_holcim_mobile/library.less *******************/
