/**
* Copyright (c) 2013 SAP AG, All Rights Reserved
*
* Theming Engine 1.8.1
* data:{"Path": "UI5.sap/ui/vbm.custom_holcim_mobile.library", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "Version": { "Build":"1.26.2.20150501123356", "Source": "1.26.2", "Engine": "1.8.1"}}
*/

.sapThemeMetaData-UI5-sap-ui-vbm{background-image: url('data:text/plain;utf-8,{"Path": "UI5.sap/ui/vbm.custom_holcim_mobile.library", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "Version": { "Build":"1.26.2.20150501123356", "Source": "1.26.2", "Engine": "1.8.1"}}');}

/******************* FILE /Base/baseLib/baseTheme/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/base/global.less *******************/
/******************* FILE /UI5/sap/ui/vbm/themes/base/library.less *******************/
/*<SAP_FREETEXT>*/
/* START "shared.css" */
/* This CSS shares it rules with all other CSS of this library */
/* END "shared.css" */
/* START "AnalyticMap.css" */
/* END "AnalyticMap.css" */
/* START "GeoMap.css" */
/* ============================================= */
/* CSS for control sap.ui.vbm/GeoMap.control */
/* ============================================= */
.sapUiVbmGeoMap {
  border: 1px solid blue;
}
/* END "GeoMap.css" */
/* START "VBI.css" */
/*...........................................................................*/
/* CSS for control sap.ui.vbm/VBI.control................................... */
/*...........................................................................*/
/* main vbi container style..................................................*/
.vbi-main {
  color: white;
  border: 1px solid #000;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* geoscene canvas style.....................................................*/
.vbi-geoscenecanvas {
  -ms-touch-action: none;
  touch-action: none;
}
/* navigation styles.........................................................*/
.vbi-nav {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
.vbi-nav * {
  background-image: url('../../../../../../UI5/sap/ui/vbm/themes/base/img/sapvisualbusiness.png');
  position: absolute;
}
.vbi-cursor-reset,
.vbi-cursor-left,
.vbi-cursor-top,
.vbi-cursor-right,
.vbi-cursor-down,
.vbi-scrollpoint {
  cursor: pointer;
}
.vbi-cursor {
  position: absolute;
  width: 72px;
  height: 72px;
  background-position: -5px 305px;
}
.vbi-cursor:hover {
  background-position: -5px 228px;
}
.vbi-cursor-grip {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 72px;
  height: 72px;
  background-position: -82px 305px;
}
.vbi-cursor-middle {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 58px;
  height: 58px;
  background-position: -159px 305px;
  display: block;
}
.vbi-cursor-middle .vbi-cursor-reset {
  position: absolute;
  width: 16px;
  height: 16px;
  background-position: -222px 305px;
  left: 21px;
  top: 21px;
  display: block;
}
html[dir=rtl] .vbi-cursor-middle .vbi-cursor-reset {
  left: auto;
  right: 21px;
}
.vbi-cursor-middle .vbi-cursor-reset:hover {
  background-position: -222px 284px;
}
.vbi-cursor-middle .vbi-cursor-left {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 23px;
  left: 8px;
  background-position: -134px 228px;
}
html[dir=rtl] .vbi-cursor-middle .vbi-cursor-left {
  left: auto;
  right: 8px;
}
.vbi-cursor-middle .vbi-cursor-left:hover {
  background-position: -134px 211px;
}
.vbi-cursor-middle .vbi-cursor-top {
  position: absolute;
  width: 12px;
  height: 13px;
  top: 8px;
  left: 23px;
  background-position: -82px 228px;
}
.vbi-cursor-middle .vbi-cursor-top:hover {
  background-position: -82px 210px;
}
.vbi-cursor-middle .vbi-cursor-right {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 23px;
  right: 8px;
  background-position: -116px 228px;
}
html[dir=rtl] .vbi-cursor-middle .vbi-cursor-right {
  right: auto;
  left: 8px;
}
.vbi-cursor-middle .vbi-cursor-right:hover {
  background-position: -116px 211px;
}
.vbi-cursor-middle .vbi-cursor-down {
  position: absolute;
  width: 12px;
  height: 13px;
  bottom: 8px;
  left: 23px;
  background-position: -99px 228px;
}
.vbi-cursor-middle .vbi-cursor-down:hover {
  background-position: -99px 210px;
}
.vbi-scrollarea {
  position: absolute;
  top: 84px;
  left: 27px;
  height: 94px;
  width: 18px;
  background: none;
  display: block;
}
.vbi-scrolllineupperending {
  position: absolute;
  width: 10px;
  height: 4px;
  left: 4px;
  top: 0px;
  background-position: -243px 305px;
}
.vbi-scrollline {
  position: absolute;
  width: 10px;
  height: 1px;
  top: 46px;
  left: 4px;
  background-position: -243px 296px;
  transform: scale(1, 85);
  -ms-transform: scale(1, 85);
  -webkit-transform: scale(1, 85);
}
.vbi-scrolllinelowerending {
  position: absolute;
  width: 10px;
  height: 5px;
  left: 4px;
  top: 89px;
  background-position: -243px 290px;
}
.vbi-scrollpoint {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  background-position: -235px 242px;
  top: 0px;
}
.vbi-scrollpoint:hover {
  background-position: -235px 219px;
}
/*...........................................................................*/
/* detail window style ......................................................*/
.vbi-detail {
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0.9375rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0rem 0rem 1.875rem 0.125rem rgba(0, 0, 0, 0.15);
  /* to get a shadow around the box */
  /*max-width:18rem;*/
  /*max-height:20rem;*/
  -webkit-user-select: initial;
  -moz-user-select: text;
  -ms-user-select: initial;
  user-select: initial;
}
.vbi-detail > .vbi-detail-arrow {
  position: absolute;
  left: 1.563rem;
  /* shift arrow to the left*/
  margin: 0;
  border-top: 0;
  /* all borders are first transparent......................................*/
  /* the correction is done in the specialization...........................*/
  border-left: 0.5rem solid transparent;
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  /* there is no padding....................................................*/
  padding: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  _border-right-color: pink;
  _border-left-color: pink;
  _filter: chroma(color=#ffc0cb);
}
/*...........................................................................*/
/* left side arrow...........................................................*/
.vbi-detail > .vbi-detail-arrow.vbi-detail-left {
  z-index: 3;
  left: -0.5rem;
  top: 0.9375rem;
  /* only right border is used all others are transparent...................*/
  border-left: 0rem solid transparent;
  border-right: 0.5rem solid;
  border-right-color: rgba(255, 255, 255, 0.9);
}
/* borders for arrow.........................................................*/
.vbi-detail-border .vbi-detail-arrow.vbi-detail-left.vbi-detail-border-arrow {
  z-index: 2;
  position: absolute;
  top: 0.9375rem;
  left: -0.563rem;
  border-left: 0rem solid transparent;
  border-right: 0.5rem solid;
  border-right-color: #a6b5d1;
}
/* border for detail div.....................................................*/
.vbi-detail-border {
  border: 0.0625rem #a6b5d1 solid;
  /* color border*/
}
.vbi-detail > .vbi-detail-header {
  /* font definition of the callout header..................................*/
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333333;
  overflow: hidden;
  vertical-align: top;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  left: 0rem;
  top: 0rem;
  padding: 0;
  margin: 0;
  border-width: 0;
}
.vbi-detail-closebutton {
  font-family: "SAP-icons", Arial, Helvetica, sans-serif;
  font-size: 0.750rem;
  text-align: center;
  position: absolute;
  z-index: 5;
  padding: 0;
  margin: 0;
  border-width: 0;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: pointer;
}
.vbi-detail-closebutton-desktop {
  border-top: 0.063rem solid transparent;
  right: 0.3125rem;
  top: 0.3125rem;
  height: 1.375rem;
  width: 1.375rem;
}
.vbi-detail-closebutton-tablet {
  border-top: 0.125rem solid transparent;
  right: 0.0rem;
  top: 0.0rem;
  height: 2rem;
  width: 2rem;
}
.vbi-detail-closebutton:hover {
  background-color: #8096bd;
}
.vbi-detail-closebutton:active {
  background-color: #8096bd;
}
.vbi-detail-closebutton:before {
  content: "\e03e";
  color: #6b7d97;
}
.vbi-detail-closebutton-desktop:before {
  vertical-align: -25%;
}
.vbi-detail-closebutton-tablet:before {
  vertical-align: -50%;
}
.vbi-detail-closebutton:hover::before {
  color: #ffffff;
}
.vbi-detail-closebutton:active::before {
  color: #ffffff;
}
.vbi-detail .vbi-detail-title {
  display: inline-block;
  text-align: center;
  top: 0rem;
  left: 0rem;
  margin: 0;
  padding: 0 1rem 1rem 0;
  border-width: 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width:18rem; */
}
.vbi-detail-content {
  position: relative;
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* Styles for phone */
.vbi-detail-phone {
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  min-height: 3.5 rem;
  padding-bottom: 0.75rem;
  padding-right: 2rem;
  padding-left: 1rem;
  padding-top: 0.75rem;
  border-top: 0.0625rem #a6b5d1 solid;
  border-left: 0rem;
  border-right: 0rem;
  border-bottom: 0rem;
  box-shadow: 0rem 0rem 1.875rem 0.125rem rgba(0, 0, 0, 0.15);
}
.vbi-detail-header-phone {
  font-size: 0.875rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333333;
  overflow: hidden;
  vertical-align: top;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  left: 0rem;
  top: 0rem;
  padding: 0;
  margin: 0;
  border-width: 0;
}
.vbi-detail-title-phone {
  display: inline-block;
  text-align: center;
  top: 0rem;
  left: 0rem;
  margin: 0;
  border-width: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 0.375rem 0;
  max-width: none;
}
/*...........................................................................*/
/* legend window style ......................................................*/
.vbi-legend {
  top: 0;
  /*right: 0;*/
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0.313rem;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* border for legend div.....................................................*/
.vbi-legend-border {
  border: 0.0625rem #a6b5d1 solid;
  /* color border*/
}
.vbi-legend > .vbi-legend-header {
  /* font definition of the callout header..................................*/
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333333;
  overflow: hidden;
  vertical-align: top;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  /*right: 0rem;*/
  top: 0rem;
  padding: 0;
  margin: 0;
  border-width: 0;
}
.vbi-legend-header {
  cursor: pointer;
}
.vbi-legend .vbi-legend-title {
  display: inline-block;
  text-align: left;
  top: 0rem;
  /*left: 3.175rem;*/
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 2.0rem;
  border-width: 0;
  /*width: 100%;*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width:18rem; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vbi-legend-button {
  font-family: "SAP-icons", Arial, Helvetica, sans-serif;
  /*font-size:0.750rem;*/
  font-size: 1rem;
  text-align: center;
  position: absolute;
  z-index: 5;
  padding: 0;
  margin: 0;
  border-width: 0;
  /*border-top: 0.063rem solid transparent;*/
  left: 0.3125rem;
  top: 0.3125rem;
  /*height: 1.375rem;*/
  /*width: 1.375rem;*/
  height: 1.675rem;
  width: 1.675rem;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: pointer;
}
.vbi-legend-button-col:hover {
  background-color: #8096bd;
}
.vbi-legend-button-col:active {
  background-color: #8096bd;
}
.vbi-legend-button-col:before {
  content: "\e1d9";
  vertical-align: -25%;
  color: #6b7d97;
}
.vbi-legend-button-col:hover::before {
  color: #ffffff;
}
.vbi-legend-button-col:active::before {
  color: #ffffff;
}
.vbi-legend-button-exp:hover {
  background-color: #8096bd;
}
.vbi-legend-button-exp:active {
  background-color: #8096bd;
}
.vbi-legend-button-exp:before {
  content: "\e1da";
  vertical-align: -25%;
  color: #6b7d97;
}
.vbi-legend-button-exp:hover::before {
  color: #ffffff;
}
.vbi-legend-button-exp:active::before {
  color: #ffffff;
}
.vbi-legend-content {
  position: relative;
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.vbi-legend-table {
  float: left;
}
.vbi-legend-content-celltext {
  color: black;
  font-size: 0.938rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}
.vbi-legend-content-celltext-group {
  font-style: italic;
}
.vbi-legend-content-celldiv {
  height: 0.750rem;
  width: 0.750rem;
}
/*...........................................................................*/
/* 2d elements...............................................................*/
.vbi-2d-common {
  position: absolute;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: transparent;
  text-align: left;
  vertical-align: middle;
  z-index: 4;
}
.vbi-2d-button {
  background-color: #f7f7f7;
  border-color: #bfbfbf;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}
/* copyright style...........................................................*/
.vbi-copyright {
  color: black;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: center;
  font-size: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.45);
  background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45) 80%, rgba(255, 255, 255, 0));
  /* Firefox */
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45) 80%, rgba(255, 255, 255, 0));
  /* Chrome, Safari */
  background: -ms-linear-gradient(right, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45) 80%, rgba(255, 255, 255, 0));
  z-index: 4;
}
.vbi-copyright a[href] {
  color: #436976;
}
.vbi-navmobile-home,
.vbi-navmobile-zoomin,
.vbi-navmobile-zoomout {
  line-height: 32px;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0px 0px;
  background-image: none;
  position: absolute;
  width: 32px;
  height: 32px;
  font-size: 28px;
  z-index: 1000;
  border: 1px solid #787878;
  background-clip: content-box;
}
.vbi-navmobile-home {
  font-family: "SAP-icons", Arial, Helvetica, sans-serif;
  font-size: 22px;
}
.vbi-navmobile-zoomin {
  top: 40px;
}
.vbi-navmobile-zoomout {
  top: 80px;
}
/*</SAP_FREETEXT>*/
/******************* FILE /Base/baseLib/sap_bluecrystal/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/sap_bluecrystal/global.less *******************/
/******************* FILE /UI5/sap/ui/vbm/themes/sap_bluecrystal/library.less *******************/
/******************* FILE /Base/baseLib/custom_holcim_mobile/custom.less *******************/
/*<SAP_FREETEXT_LESS>*/
/*</SAP_FREETEXT_LESS>*/
/******************* FILE /Base/baseLib/custom_holcim_mobile/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/custom_holcim_mobile/global.less *******************/
/******************* FILE /UI5/sap/ui/vbm/themes/custom_holcim_mobile/library.less *******************/
