/**
* Copyright (c) 2013 SAP AG, All Rights Reserved
*
* Theming Engine 1.8.1
* data:{"Path": "UI5.sap/ui/layout.custom_holcim_mobile.library", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "Version": { "Build":"1.26.1.20150501123355", "Source": "1.26.1", "Engine": "1.8.1"}}
*/

.sapThemeMetaData-UI5-sap-ui-layout{background-image: url('data:text/plain;utf-8,{"Path": "UI5.sap/ui/layout.custom_holcim_mobile.library", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "Version": { "Build":"1.26.1.20150501123355", "Source": "1.26.1", "Engine": "1.8.1"}}');}

/******************* FILE /Base/baseLib/baseTheme/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/base/global.less *******************/
/******************* FILE /UI5/sap/ui/layout/themes/base/library.less *******************/
/*<SAP_FREETEXT>*/
/* START "FixFlex.less" */
/* ==========================================================================
CSS for control sap.m/FlexBox.control
========================================================================== */
/* Class for vertical (default) layout
========================================================================== */
.sapUiFixFlex {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
}
/* Flexible child */
.sapUiFixFlexFlexible {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1 1;
  flex-grow: 1;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.sapUiFixFlexFlexibleContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sapUiFixFlexFlexibleContainer > .sapUiFixFlex {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* Fixed child */
.sapUiFixFlexFixed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
}
/* Class for horizontal layout
========================================================================== */
.sapUiFixFlexRow {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.sapUiFixFlexRow > .sapUiFixFlexFlexible,
.sapUiFixFlexRow > .sapUiFixFlexFixed {
  width: auto;
  height: 100%;
}
/* Legacy browser support
========================================================================== */
.sapUiFixFlexRow.sapUiFixFlex-Legacy {
  position: relative;
}
.sapUiFixFlexRow.sapUiFixFlex-Legacy > .sapUiFixFlexFixed,
.sapUiFixFlexRow.sapUiFixFlex-Legacy > .sapUiFixFlexFlexible {
  position: relative;
  float: left;
}
.sapUiFormLayout {
  border: 1px solid #cccccc;
}
.sapUiFormTitle {
  margin: 0;
}
.sapUiFormLayout > .sapUiFormContainer {
  display: block;
}
.sapUiFormTitle {
  border-bottom: 2px solid #cccccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  font-weight: bold;
  color: #333333;
}
.sapUiFormTitle.sapUiFormTitleEmph {
  border-color: #ff1100;
}
/* Title levels - can not use TextView CSS from commons, because also used in mobile */
.sapUiFormTitleH1 {
  font-size: 26px;
  line-height: 122%;
}
.sapUiFormTitleH2 {
  font-size: 20px;
  line-height: 122%;
}
.sapUiFormTitleH3 {
  font-size: 18px;
  line-height: 122%;
}
.sapUiFormTitleH4 {
  font-size: 16px;
}
.sapUiFormTitleH5 {
  font-size: 14px;
}
.sapUiFormTitleH6 {
  font-size: 13px;
  color: #333333;
}
/* END "FormLayout.less" */
/* START "Grid.less" */
/* UI5 RESPONSIVE GRID */
div[class*="sapUiRespGrid"] > div[class*="sapUiRespGridSpan"] {
  float: left;
  overflow: hidden;
}
/* CLEAR FIX */
div[class*="sapUiRespGrid"]:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
/* GRID HORIZONTAL SPACING - 0.5rem */
.sapUiRespGrid.sapUiRespGridHSpace05 {
  padding: 0 0.25rem;
}
.sapUiRespGrid.sapUiRespGridHSpace05 > div {
  margin: 0 0.25rem;
}
/* GRID HORIZONTAL SPACING - 1rem */
.sapUiRespGrid.sapUiRespGridHSpace1 {
  padding: 0 0.5rem;
}
.sapUiRespGrid.sapUiRespGridHSpace1 > div {
  margin: 0 0.5rem;
}
/* GRID HORIZONTAL SPACING - 2rem */
.sapUiRespGrid.sapUiRespGridHSpace2 {
  padding: 0 1rem;
}
.sapUiRespGrid.sapUiRespGridHSpace2 > div {
  margin: 0 1rem;
}
/* GRID VERTICAL SPACING - general */
.sapUiRespGrid.sapUiRespGridVSpace0 > div {
  margin-bottom: 0;
}
.sapUiRespGrid.sapUiRespGridVSpace05 > div {
  margin-bottom: 0.5rem;
}
.sapUiRespGrid.sapUiRespGridVSpace1 > div {
  margin-bottom: 1rem;
}
.sapUiRespGrid.sapUiRespGridVSpace2 > div {
  margin-bottom: 2rem;
}
/* GENERAL BREAK */
.sapUiRespGridBreak {
  clear: both;
}
/* =============================== */
/* S M A L L C O N T E X T S */
/* =============================== */
/* SPANS for SMALL contexts with 0 gutter */
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS1 {
  width: 8.333%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS2 {
  width: 16.666%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS3 {
  width: 25%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS4 {
  width: 33.333%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS5 {
  width: 41.666%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS6 {
  width: 50%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS7 {
  width: 58.333%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS8 {
  width: 66.666%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS9 {
  width: 75%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS10 {
  width: 83.333%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS11 {
  width: 91.666%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridSpanS12 {
  width: 100%;
}
/* SPANS for SMALL contexts with 0.5rem gutter */
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridSpanS1 {
  width: 5.833%;
  width: -webkit-calc(8.333% - 0.5rem);
  width: calc(8.333% - 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridSpanS2 {
  width: 14.166%;
  width: -webkit-calc(16.666% - 0.5rem);
  width: calc(16.666% - 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridSpanS3 {
  width: 22.5%;
  width: -webkit-calc(25% - 0.5rem);
  width: calc(25% - 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridSpanS4 {
  width: 30.833%;
  width: -webkit-calc(33.333% - 0.5rem);
  width: calc(33.333% - 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridSpanS5 {
  width: 39.166%;
  width: -webkit-calc(41.666% - 0.5rem);
  width: calc(41.666% - 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridSpanS6 {
  width: 47.5%;
  width: -webkit-calc(50% - 0.5rem);
  width: calc(50% - 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridSpanS7 {
  width: 55.833%;
  width: -webkit-calc(58.333% - 0.5rem);
  width: calc(58.333% - 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridSpanS8 {
  width: 64.166%;
  width: -webkit-calc(66.666% - 0.5rem);
  width: calc(66.666% - 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridSpanS9 {
  width: 72.5%;
  width: -webkit-calc(75% - 0.5rem);
  width: calc(75% - 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridSpanS10 {
  width: 80.833%;
  width: -webkit-calc(83.333% - 0.5rem);
  width: calc(83.333% - 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridSpanS11 {
  width: 89.166%;
  width: -webkit-calc(91.666% - 0.5rem);
  width: calc(91.666% - 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridSpanS12 {
  width: 97.5%;
  width: -webkit-calc(100% - 0.5rem);
  width: calc(100% - 0.5rem);
}
/* SPANS for SMALL contexts with 1rem gutter */
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS1 {
  width: 3.333%;
  width: -webkit-calc(8.333% - 1rem);
  width: calc(8.333% - 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS2 {
  width: 11.666%;
  width: -webkit-calc(16.666% - 1rem);
  width: calc(16.666% - 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS3 {
  width: 20%;
  width: -webkit-calc(25% - 1rem);
  width: calc(25% - 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS4 {
  width: 28.333%;
  width: -webkit-calc(33.333% - 1rem);
  width: calc(33.333% - 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS5 {
  width: 36.666%;
  width: -webkit-calc(41.666% - 1rem);
  width: calc(41.666% - 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS6 {
  width: 45%;
  width: -webkit-calc(50% - 1rem);
  width: calc(50% - 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS7 {
  width: 53.333%;
  width: -webkit-calc(58.333% - 1rem);
  width: calc(58.333% - 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS8 {
  width: 61.666%;
  width: -webkit-calc(66.666% - 1rem);
  width: calc(66.666% - 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS9 {
  width: 70%;
  width: -webkit-calc(75% - 1rem);
  width: calc(75% - 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS10 {
  width: 78.333%;
  width: -webkit-calc(83.333% - 1rem);
  width: calc(83.333% - 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS11 {
  width: 86.666%;
  width: -webkit-calc(91.666% - 1rem);
  width: calc(91.666% - 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridSpanS12 {
  width: 95%;
  width: -webkit-calc(100% - 1rem);
  width: calc(100% - 1rem);
}
/* SPANS for SMALL contexts with 2rem gutter */
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS1 {
  width: 0%;
  width: -webkit-calc(8.333% - 2rem);
  width: calc(8.333% - 2rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS2 {
  width: 6.666%;
  width: -webkit-calc(16.666% - 2rem);
  width: calc(16.666% - 2rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS3 {
  width: 15%;
  width: -webkit-calc(25% - 2rem);
  width: calc(25% - 2rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS4 {
  width: 23.333%;
  width: -webkit-calc(33.333% - 2rem);
  width: calc(33.333% - 2rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS5 {
  width: 31.666%;
  width: -webkit-calc(41.666% - 2rem);
  width: calc(41.666% - 2rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS6 {
  width: 40%;
  width: -webkit-calc(50% - 2rem);
  width: calc(50% - 2rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS7 {
  width: 48.333%;
  width: -webkit-calc(58.333% - 2rem);
  width: calc(58.333% - 2rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS8 {
  width: 56.666%;
  width: -webkit-calc(66.666% - 2rem);
  width: calc(66.666% - 2rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS9 {
  width: 65%;
  width: -webkit-calc(75% - 2rem);
  width: calc(75% - 2rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS10 {
  width: 73.333%;
  width: -webkit-calc(83.333% - 2rem);
  width: calc(83.333% - 2rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS11 {
  width: 81.666%;
  width: -webkit-calc(91.666% - 2rem);
  width: calc(91.666% - 2rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridSpanS12 {
  width: 90%;
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
}
/* INDENTS for SMALL contexts with 0rem gutter */
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS1 {
  margin-left: 8.333%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS2 {
  margin-left: 16.666%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS3 {
  margin-left: 25%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS4 {
  margin-left: 33.333%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS5 {
  margin-left: 41.666%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS6 {
  margin-left: 50%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS7 {
  margin-left: 58.333%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS8 {
  margin-left: 66.666%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS9 {
  margin-left: 75%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS10 {
  margin-left: 83.333%;
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace0 > .sapUiRespGridIndentS11 {
  margin-left: 91.666%;
}
/* INDENTS for SMALL contexts with 0.5rem gutter */
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridIndentS1 {
  margin-left: 9.583%;
  margin-left: -webkit-calc(8.333% + 0.25rem);
  margin-left: calc(8.333% + 0.25rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridIndentS2 {
  margin-left: 17.916%;
  margin-left: -webkit-calc(16.666% + 0.25rem);
  margin-left: calc(16.666% + 0.25rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridIndentS3 {
  margin-left: 26.25%;
  margin-left: -webkit-calc(25% + 0.25rem);
  margin-left: calc(25% + 0.25rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridIndentS4 {
  margin-left: 37.083%;
  margin-left: -webkit-calc(33.333% + 0.25rem);
  margin-left: calc(33.333% + 0.25rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridIndentS5 {
  margin-left: 42.916%;
  margin-left: -webkit-calc(41.666% + 0.25rem);
  margin-left: calc(41.666% + 0.25rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridIndentS6 {
  margin-left: 51.25%;
  margin-left: -webkit-calc(50% + 0.25rem);
  margin-left: calc(50% + 0.25rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridIndentS7 {
  margin-left: 59.583%;
  margin-left: -webkit-calc(58.333% + 0.25rem);
  margin-left: calc(58.333% + 0.25rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridIndentS8 {
  margin-left: 67.916%;
  margin-left: -webkit-calc(66.666% + 0.25rem);
  margin-left: calc(66.666% + 0.25rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridIndentS9 {
  margin-left: 76.25%;
  margin-left: -webkit-calc(75% + 0.25rem);
  margin-left: calc(75% + 0.25rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridIndentS10 {
  margin-left: 84.583%;
  margin-left: -webkit-calc(83.333% + 0.25rem);
  margin-left: calc(83.333% + 0.25rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace05 > .sapUiRespGridIndentS11 {
  margin-left: 92.916%;
  margin-left: -webkit-calc(91.666% + 0.25rem);
  margin-left: calc(91.666% + 0.25rem);
}
/* INDENTS for SMALL contexts with 1rem gutter */
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS1 {
  margin-left: 10.833%;
  margin-left: -webkit-calc(8.333% + 0.5rem);
  margin-left: calc(8.333% + 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS2 {
  margin-left: 19.166%;
  margin-left: -webkit-calc(16.666% + 0.5rem);
  margin-left: calc(16.666% + 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS3 {
  margin-left: 27.5%;
  margin-left: -webkit-calc(25% + 0.5rem);
  margin-left: calc(25% + 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS4 {
  margin-left: 35.833%;
  margin-left: -webkit-calc(33.333% + 0.5rem);
  margin-left: calc(33.333% + 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS5 {
  margin-left: 44.166%;
  margin-left: -webkit-calc(41.666% + 0.5rem);
  margin-left: calc(41.666% + 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS6 {
  margin-left: 52.5%;
  margin-left: -webkit-calc(50% + 0.5rem);
  margin-left: calc(50% + 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS7 {
  margin-left: 60.833%;
  margin-left: -webkit-calc(58.333% + 0.5rem);
  margin-left: calc(58.333% + 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS8 {
  margin-left: 69.166%;
  margin-left: -webkit-calc(66.666% + 0.5rem);
  margin-left: calc(66.666% + 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS9 {
  margin-left: 77.5%;
  margin-left: -webkit-calc(75% + 0.5rem);
  margin-left: calc(75% + 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS10 {
  margin-left: 85.833%;
  margin-left: -webkit-calc(83.333% + 0.5rem);
  margin-left: calc(83.333% + 0.5rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace1 > .sapUiRespGridIndentS11 {
  margin-left: 94.166%;
  margin-left: -webkit-calc(91.666% + 0.5rem);
  margin-left: calc(91.666% + 0.5rem);
}
/* INDENTS for SMALL contexts with 2rem gutter */
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS1 {
  margin-left: 13.333%;
  margin-left: -webkit-calc(8.333% + 1rem);
  margin-left: calc(8.333% + 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS2 {
  margin-left: 21.666%;
  margin-left: -webkit-calc(16.666% + 1rem);
  margin-left: calc(16.666% + 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS3 {
  margin-left: 30%;
  margin-left: -webkit-calc(25% + 1rem);
  margin-left: calc(25% + 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS4 {
  margin-left: 38.333%;
  margin-left: -webkit-calc(33.333% + 1rem);
  margin-left: calc(33.333% + 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS5 {
  margin-left: 46.666%;
  margin-left: -webkit-calc(41.666% + 1rem);
  margin-left: calc(41.666% + 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS6 {
  margin-left: 55%;
  margin-left: -webkit-calc(50% + 1rem);
  margin-left: calc(50% + 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS7 {
  margin-left: 63.333%;
  margin-left: -webkit-calc(58.333% + 1rem);
  margin-left: calc(58.333% + 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS8 {
  margin-left: 71.666%;
  margin-left: -webkit-calc(66.666% + 1rem);
  margin-left: calc(66.666% + 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS9 {
  margin-left: 80%;
  margin-left: -webkit-calc(75% + 1rem);
  margin-left: calc(75% + 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS10 {
  margin-left: 88.333%;
  margin-left: -webkit-calc(83.333% + 1rem);
  margin-left: calc(83.333% + 1rem);
}
.sapUiRespGridMedia-Std-Phone.sapUiRespGridHSpace2 > .sapUiRespGridIndentS11 {
  margin-left: 96.666%;
  margin-left: -webkit-calc(91.666% + 1rem);
  margin-left: calc(91.666% + 1rem);
}
/* MOVE LEFT for SMALL contexts */
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS1 {
  left: 8.333%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS2 {
  left: 16.666%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS3 {
  left: 25%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS4 {
  left: 33.333%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS5 {
  left: 41.666%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS6 {
  left: 50%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS7 {
  left: 58.333%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS8 {
  left: 66.666%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS9 {
  left: 75%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS10 {
  left: 83.333%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridFwdS11 {
  left: 91.666%;
}
/* MOVE RIGHT for SMALL contexts */
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS1 {
  right: 8.333%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS2 {
  right: 16.666%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS3 {
  right: 25%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS4 {
  right: 33.333%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS5 {
  right: 41.666%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS6 {
  right: 50%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS7 {
  right: 58.333%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS8 {
  right: 66.666%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS9 {
  right: 75%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS10 {
  right: 83.333%;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBwdS11 {
  right: 91.666%;
}
/* SHOW and HIDE for SMALL contexts */
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridVisibleL {
  display: none;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridVisibleM {
  display: none;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridVisibleS {
  display: block;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridHiddenL {
  display: block;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridHiddenM {
  display: block;
}
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridHiddenS {
  display: none;
}
/* BREAK for SMALL contexts */
.sapUiRespGridMedia-Std-Phone > .sapUiRespGridBreakS {
  clear: both;
}
/* =============================== */
/* M E D I U M D E V I C E S */
/* =============================== */
/* SPANS for MEDIUM contexts with 0 gutter */
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM1 {
  width: 8.333%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM2 {
  width: 16.666%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM3 {
  width: 25%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM4 {
  width: 33.333%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM5 {
  width: 41.666%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM6 {
  width: 50%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM7 {
  width: 58.333%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM8 {
  width: 66.666%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM9 {
  width: 75%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM10 {
  width: 83.333%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM11 {
  width: 91.666%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridSpanM12 {
  width: 100%;
}
/* SPAN for MEDIUM contexts with 0.5rem gutter */
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridSpanM1 {
  width: 7%;
  width: -webkit-calc(8.333% - 0.5rem);
  width: calc(8.333% - 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridSpanM2 {
  width: 14.333%;
  width: -webkit-calc(16.666% - 0.5rem);
  width: calc(16.666% - 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridSpanM3 {
  width: 23.667%;
  width: -webkit-calc(25% - 0.5rem);
  width: calc(25% - 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridSpanM4 {
  width: 32%;
  width: -webkit-calc(33.333% - 0.5rem);
  width: calc(33.333% - 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridSpanM5 {
  width: 40.333%;
  width: -webkit-calc(41.666% - 0.5rem);
  width: calc(41.666% - 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridSpanM6 {
  width: 48.667%;
  width: -webkit-calc(50% - 0.5rem);
  width: calc(50% - 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridSpanM7 {
  width: 57%;
  width: -webkit-calc(58.333% - 0.5rem);
  width: calc(58.333% - 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridSpanM8 {
  width: 65.333%;
  width: -webkit-calc(66.666% - 0.5rem);
  width: calc(66.666% - 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridSpanM9 {
  width: 73.667%;
  width: -webkit-calc(75% - 0.5rem);
  width: calc(75% - 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridSpanM10 {
  width: 82%;
  width: -webkit-calc(83.333% - 0.5rem);
  width: calc(83.333% - 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridSpanM11 {
  width: 90.333%;
  width: -webkit-calc(91.666% - 0.5rem);
  width: calc(91.666% - 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridSpanM12 {
  width: 98.667%;
  width: -webkit-calc(100% - 0.5rem);
  width: calc(100% - 0.5rem);
}
/* SPAN for MEDIUM contexts with 1rem gutter */
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM1 {
  width: 5.666%;
  width: -webkit-calc(8.333% - 1rem);
  width: calc(8.333% - 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM2 {
  width: 13.999%;
  width: -webkit-calc(16.666% - 1rem);
  width: calc(16.666% - 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM3 {
  width: 22.333%;
  width: -webkit-calc(25% - 1rem);
  width: calc(25% - 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM4 {
  width: 30.666%;
  width: -webkit-calc(33.333% - 1rem);
  width: calc(33.333% - 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM5 {
  width: 38.999%;
  width: -webkit-calc(41.666% - 1rem);
  width: calc(41.666% - 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM6 {
  width: 47.333%;
  width: -webkit-calc(50% - 1rem);
  width: calc(50% - 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM7 {
  width: 55.666%;
  width: -webkit-calc(58.333% - 1rem);
  width: calc(58.333% - 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM8 {
  width: 63.999%;
  width: -webkit-calc(66.666% - 1rem);
  width: calc(66.666% - 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM9 {
  width: 72.333%;
  width: -webkit-calc(75% - 1rem);
  width: calc(75% - 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM10 {
  width: 80.666%;
  width: -webkit-calc(83.333% - 1rem);
  width: calc(83.333% - 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM11 {
  width: 88.999%;
  width: -webkit-calc(91.666% - 1rem);
  width: calc(91.666% - 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM12 {
  width: 97.333%;
  width: -webkit-calc(100% - 1rem);
  width: calc(100% - 1rem);
}
/* SPAN for MEDIUM contexts with 2rem gutter */
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM1 {
  width: 3%;
  width: -webkit-calc(8.333% - 2rem);
  width: calc(8.333% - 2rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM2 {
  width: 11.333%;
  width: -webkit-calc(16.666% - 2rem);
  width: calc(16.666% - 2rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM3 {
  width: 19.667%;
  width: -webkit-calc(25% - 2rem);
  width: calc(25% - 2rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM4 {
  width: 28%;
  width: -webkit-calc(33.333% - 2rem);
  width: calc(33.333% - 2rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM5 {
  width: 36.333%;
  width: -webkit-calc(41.666% - 2rem);
  width: calc(41.666% - 2rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM6 {
  width: 44.667%;
  width: -webkit-calc(50% - 2rem);
  width: calc(50% - 2rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM7 {
  width: 53%;
  width: -webkit-calc(58.333% - 2rem);
  width: calc(58.333% - 2rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM8 {
  width: 61.333%;
  width: -webkit-calc(66.666% - 2rem);
  width: calc(66.666% - 2rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM9 {
  width: 69.667%;
  width: -webkit-calc(75% - 2rem);
  width: calc(75% - 2rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM10 {
  width: 78%;
  width: -webkit-calc(83.333% - 2rem);
  width: calc(83.333% - 2rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM11 {
  width: 86.333%;
  width: -webkit-calc(91.666% - 2rem);
  width: calc(91.666% - 2rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridSpanM12 {
  width: 94.667%;
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
}
/* INDENTS for MEDIUM contexts with 0rem gutter */
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM1 {
  margin-left: 8.333%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM2 {
  margin-left: 16.666%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM3 {
  margin-left: 25%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM4 {
  margin-left: 33.333%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM5 {
  margin-left: 41.666%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM6 {
  margin-left: 50%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM7 {
  margin-left: 58.333%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM8 {
  margin-left: 66.666%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM9 {
  margin-left: 75%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM10 {
  margin-left: 83.333%;
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0 > .sapUiRespGridIndentM11 {
  margin-left: 91.666%;
}
/* INDENTS for MEDIUM contexts with 0.5rem gutter */
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridIndentM1 {
  margin-left: 8.49967%;
  margin-left: -webkit-calc(8.333% + 0.25rem);
  margin-left: calc(8.333% + 0.25rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridIndentM2 {
  margin-left: 16.83267%;
  margin-left: -webkit-calc(16.666% + 0.25rem);
  margin-left: calc(16.666% + 0.25rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridIndentM3 {
  margin-left: 26.49967%;
  margin-left: -webkit-calc(25% + 0.25rem);
  margin-left: calc(25% + 0.25rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridIndentM4 {
  margin-left: 33.49967%;
  margin-left: -webkit-calc(33.333% + 0.25rem);
  margin-left: calc(33.333% + 0.25rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridIndentM5 {
  margin-left: 41.83267%;
  margin-left: -webkit-calc(41.666% + 0.25rem);
  margin-left: calc(41.666% + 0.25rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridIndentM6 {
  margin-left: 50.16667%;
  margin-left: -webkit-calc(50% + 0.25rem);
  margin-left: calc(50% + 0.25rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridIndentM7 {
  margin-left: 58.49967%;
  margin-left: -webkit-calc(58.333% + 0.25rem);
  margin-left: calc(58.333% + 0.25rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridIndentM8 {
  margin-left: 66.83267%;
  margin-left: -webkit-calc(66.666% + 0.25rem);
  margin-left: calc(66.666% + 0.25rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridIndentM9 {
  margin-left: 75.16667%;
  margin-left: -webkit-calc(75% + 0.25rem);
  margin-left: calc(75% + 0.25rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridIndentM10 {
  margin-left: 83.49967%;
  margin-left: -webkit-calc(83.333% + 0.25rem);
  margin-left: calc(83.333% + 0.25rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace05 > .sapUiRespGridIndentM11 {
  margin-left: 91.83267%;
  margin-left: -webkit-calc(91.666% + 0.25rem);
  margin-left: calc(91.666% + 0.25rem);
}
/* INDENTS for MEDIUM contexts with 1rem gutter */
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM1 {
  margin-left: 9.666%;
  margin-left: -webkit-calc(8.333% + 0.5rem);
  margin-left: calc(8.333% + 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM2 {
  margin-left: 17.999%;
  margin-left: -webkit-calc(16.666% + 0.5rem);
  margin-left: calc(16.666% + 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM3 {
  margin-left: 26.333%;
  margin-left: -webkit-calc(25% + 0.5rem);
  margin-left: calc(25% + 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM4 {
  margin-left: 34.666%;
  margin-left: -webkit-calc(33.333% + 0.5rem);
  margin-left: calc(33.333% + 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM5 {
  margin-left: 42.999%;
  margin-left: -webkit-calc(41.666% + 0.5rem);
  margin-left: calc(41.666% + 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM6 {
  margin-left: 51.333%;
  margin-left: -webkit-calc(50% + 0.5rem);
  margin-left: calc(50% + 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM7 {
  margin-left: 59.666%;
  margin-left: -webkit-calc(58.333% + 0.5rem);
  margin-left: calc(58.333% + 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM8 {
  margin-left: 67.999%;
  margin-left: -webkit-calc(66.666% + 0.5rem);
  margin-left: calc(66.666% + 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM9 {
  margin-left: 76.333%;
  margin-left: -webkit-calc(75% + 0.5rem);
  margin-left: calc(75% + 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM10 {
  margin-left: 84.666%;
  margin-left: -webkit-calc(83.333% + 0.5rem);
  margin-left: calc(83.333% + 0.5rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridIndentM11 {
  margin-left: 92.999%;
  margin-left: -webkit-calc(91.666% + 0.5rem);
  margin-left: calc(91.666% + 0.5rem);
}
/* INDENTS for MEDIUM contexts with 2rem gutter */
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM1 {
  margin-left: 11%;
  margin-left: -webkit-calc(8.333% + 1rem);
  margin-left: calc(8.333% + 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM2 {
  margin-left: 19.333%;
  margin-left: -webkit-calc(16.666% + 1rem);
  margin-left: calc(16.666% + 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM3 {
  margin-left: 27.667%;
  margin-left: -webkit-calc(25% + 1rem);
  margin-left: calc(25% + 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM4 {
  margin-left: 36%;
  margin-left: -webkit-calc(33.333% + 1rem);
  margin-left: calc(33.333% + 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM5 {
  margin-left: 44.333%;
  margin-left: -webkit-calc(41.666% + 1rem);
  margin-left: calc(41.666% + 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM6 {
  margin-left: 52.667%;
  margin-left: -webkit-calc(50% + 1rem);
  margin-left: calc(50% + 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM7 {
  margin-left: 61%;
  margin-left: -webkit-calc(58.333% + 1rem);
  margin-left: calc(58.333% + 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM8 {
  margin-left: 69.333%;
  margin-left: -webkit-calc(66.666% + 1rem);
  margin-left: calc(66.666% + 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM9 {
  margin-left: 77.667%;
  margin-left: -webkit-calc(75% + 1rem);
  margin-left: calc(75% + 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM10 {
  margin-left: 86%;
  margin-left: -webkit-calc(83.333% + 1rem);
  margin-left: calc(83.333% + 1rem);
}
.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace2 > .sapUiRespGridIndentM11 {
  margin-left: 94.333%;
  margin-left: -webkit-calc(91.666% + 1rem);
  margin-left: calc(91.666% + 1rem);
}
/* MOVE LEFT for MEDIUM contexts */
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM1 {
  left: 8.333%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM2 {
  left: 16.666%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM3 {
  left: 25%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM4 {
  left: 33.333%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM5 {
  left: 41.666%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM6 {
  left: 50%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM7 {
  left: 58.333%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM8 {
  left: 66.666%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM9 {
  left: 75%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM10 {
  left: 83.333%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridFwdM11 {
  left: 91.666%;
}
/* MOVE RIGHT for MEDIUM contexts */
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM1 {
  right: 8.333%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM2 {
  right: 16.666%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM3 {
  right: 25%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM4 {
  right: 33.333%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM5 {
  right: 41.666%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM6 {
  right: 50%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM7 {
  right: 58.333%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM8 {
  right: 66.666%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM9 {
  right: 75%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM10 {
  right: 83.333%;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBwdM11 {
  right: 91.666%;
}
/* SHOW and HIDE for LARGE contexts */
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridVisibleL {
  display: none;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridVisibleM {
  display: block;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridVisibleS {
  display: none;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridHiddenL {
  display: block;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridHiddenM {
  display: none;
}
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridHiddenS {
  display: block;
}
/* BREAK for MEDIUM contexts */
.sapUiRespGridMedia-Std-Tablet > .sapUiRespGridBreakM {
  clear: both;
}
/* ============================= */
/* L A R G E D E V I C E S */
/* ============================= */
/* SPANS for LARGE contexts with 0 gutter */
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL1 {
  width: 8.333%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL2 {
  width: 16.666%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL3 {
  width: 25%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL4 {
  width: 33.333%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL5 {
  width: 41.666%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL6 {
  width: 50%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL7 {
  width: 58.333%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL8 {
  width: 66.666%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL9 {
  width: 75%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL10 {
  width: 83.333%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL11 {
  width: 91.666%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridSpanL12 {
  width: 100%;
}
/* SPANS for LARGE contexts with 0.5rem gutter */
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridSpanL1 {
  width: 7.55175%;
  width: -webkit-calc(8.333% - 0.5rem);
  width: calc(8.333% - 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridSpanL2 {
  width: 15.88475%;
  width: -webkit-calc(16.666% - 0.5rem);
  width: calc(16.666% - 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridSpanL3 {
  width: 24.21875%;
  width: -webkit-calc(25% - 0.5rem);
  width: calc(25% - 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridSpanL4 {
  width: 32.55175%;
  width: -webkit-calc(33.333% - 0.5rem);
  width: calc(33.333% - 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridSpanL5 {
  width: 40.88475%;
  width: -webkit-calc(41.666% - 0.5rem);
  width: calc(41.666% - 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridSpanL6 {
  width: 49.21875%;
  width: -webkit-calc(50% - 0.5rem);
  width: calc(50% - 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridSpanL7 {
  width: 57.55175%;
  width: -webkit-calc(58.333% - 0.5rem);
  width: calc(58.333% - 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridSpanL8 {
  width: 65.88475%;
  width: -webkit-calc(66.666% - 0.5rem);
  width: calc(66.666% - 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridSpanL9 {
  width: 74.21875%;
  width: -webkit-calc(75% - 0.5rem);
  width: calc(75% - 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridSpanL10 {
  width: 82.55175%;
  width: -webkit-calc(83.333% - 0.5rem);
  width: calc(83.333% - 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridSpanL11 {
  width: 90.88475%;
  width: -webkit-calc(91.666% - 0.5rem);
  width: calc(91.666% - 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridSpanL12 {
  width: 99.21875%;
  width: -webkit-calc(100% - 0.5rem);
  width: calc(100% - 0.5rem);
}
/* SPANS for LARGE contexts with 1rem gutter */
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL1 {
  width: 6.7705%;
  width: -webkit-calc(8.333% - 1rem);
  width: calc(8.333% - 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL2 {
  width: 15.1035%;
  width: -webkit-calc(16.666% - 1rem);
  width: calc(16.666% - 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL3 {
  width: 23.4375%;
  width: -webkit-calc(25% - 1rem);
  width: calc(25% - 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL4 {
  width: 31.7705%;
  width: -webkit-calc(33.333% - 1rem);
  width: calc(33.333% - 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL5 {
  width: 40.1035%;
  width: -webkit-calc(41.666% - 1rem);
  width: calc(41.666% - 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL6 {
  width: 48.4375%;
  width: -webkit-calc(50% - 1rem);
  width: calc(50% - 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL7 {
  width: 56.7705%;
  width: -webkit-calc(58.333% - 1rem);
  width: calc(58.333% - 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL8 {
  width: 65.1035%;
  width: -webkit-calc(66.666% - 1rem);
  width: calc(66.666% - 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL9 {
  width: 73.4375%;
  width: -webkit-calc(75% - 1rem);
  width: calc(75% - 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL10 {
  width: 81.7705%;
  width: -webkit-calc(83.333% - 1rem);
  width: calc(83.333% - 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL11 {
  width: 90.1035%;
  width: -webkit-calc(91.666% - 1rem);
  width: calc(91.666% - 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridSpanL12 {
  width: 98.4375%;
  width: -webkit-calc(100% - 1rem);
  width: calc(100% - 1rem);
}
/* SPANS for LARGE contexts with 2rem gutter */
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL1 {
  width: 5.208%;
  width: -webkit-calc(8.333% - 2rem);
  width: calc(8.333% - 2rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL2 {
  width: 13.541%;
  width: -webkit-calc(16.666% - 2rem);
  width: calc(16.666% - 2rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL3 {
  width: 21.875%;
  width: -webkit-calc(25% - 2rem);
  width: calc(25% - 2rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL4 {
  width: 30.208%;
  width: -webkit-calc(33.333% - 2rem);
  width: calc(33.333% - 2rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL5 {
  width: 38.541%;
  width: -webkit-calc(41.666% - 2rem);
  width: calc(41.666% - 2rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL6 {
  width: 46.875%;
  width: -webkit-calc(50% - 2rem);
  width: calc(50% - 2rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL7 {
  width: 55.208%;
  width: -webkit-calc(58.333% - 2rem);
  width: calc(58.333% - 2rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL8 {
  width: 63.541%;
  width: -webkit-calc(66.666% - 2rem);
  width: calc(66.666% - 2rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL9 {
  width: 71.875%;
  width: -webkit-calc(75% - 2rem);
  width: calc(75% - 2rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL10 {
  width: 80.208%;
  width: -webkit-calc(83.333% - 2rem);
  width: calc(83.333% - 2rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL11 {
  width: 88.541%;
  width: -webkit-calc(91.666% - 2rem);
  width: calc(91.666% - 2rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridSpanL12 {
  width: 96.875%;
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
}
/* INDENTS for LARGE contexts with 0rem gutter */
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL1 {
  margin-left: 8.333%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL2 {
  margin-left: 16.666%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL3 {
  margin-left: 25%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL4 {
  margin-left: 33.333%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL5 {
  margin-left: 41.666%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL6 {
  margin-left: 50%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL7 {
  margin-left: 58.333%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL8 {
  margin-left: 66.666%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL9 {
  margin-left: 75%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL10 {
  margin-left: 83.333%;
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0 > .sapUiRespGridIndentL11 {
  margin-left: 91.666%;
}
/* INDENTS for LARGE contexts with 0.5rem gutter */
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridIndentL1 {
  margin-left: 8.723625%;
  margin-left: -webkit-calc(8.333% + 0.25rem);
  margin-left: calc(8.333% + 0.25rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridIndentL2 {
  margin-left: 17.056625%;
  margin-left: -webkit-calc(16.666% + 0.25rem);
  margin-left: calc(16.666% + 0.25rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridIndentL3 {
  margin-left: 25.390625%;
  margin-left: -webkit-calc(25% + 0.25rem);
  margin-left: calc(25% + 0.25rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridIndentL4 {
  margin-left: 33.723625%;
  margin-left: -webkit-calc(33.333% + 0.25rem);
  margin-left: calc(33.333% + 0.25rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridIndentL5 {
  margin-left: 42.056625%;
  margin-left: -webkit-calc(41.666% + 0.25rem);
  margin-left: calc(41.666% + 0.25rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridIndentL6 {
  margin-left: 50.390625%;
  margin-left: -webkit-calc(50% + 0.25rem);
  margin-left: calc(50% + 0.25rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridIndentL7 {
  margin-left: 58.723625%;
  margin-left: -webkit-calc(58.333% + 0.25rem);
  margin-left: calc(58.333% + 0.25rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridIndentL8 {
  margin-left: 67.056625%;
  margin-left: -webkit-calc(66.666% + 0.25rem);
  margin-left: calc(66.666% + 0.25rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridIndentL9 {
  margin-left: 75.390625%;
  margin-left: -webkit-calc(75% + 0.25rem);
  margin-left: calc(75% + 0.25rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridIndentL10 {
  margin-left: 83.723625%;
  margin-left: -webkit-calc(83.333% + 0.25rem);
  margin-left: calc(83.333% + 0.25rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace05 > .sapUiRespGridIndentL11 {
  margin-left: 91.723625%;
  margin-left: -webkit-calc(91.666% + 0.25rem);
  margin-left: calc(91.666% + 0.25rem);
}
/* INDENTS for LARGE contexts with 1rem gutter */
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL1 {
  margin-left: 9.11425%;
  margin-left: -webkit-calc(8.333% + 0.5rem);
  margin-left: calc(8.333% + 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL2 {
  margin-left: 17.44725%;
  margin-left: -webkit-calc(16.666% + 0.5rem);
  margin-left: calc(16.666% + 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL3 {
  margin-left: 25.78125%;
  margin-left: -webkit-calc(25% + 0.5rem);
  margin-left: calc(25% + 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL4 {
  margin-left: 34.11425%;
  margin-left: -webkit-calc(33.333% + 0.5rem);
  margin-left: calc(33.333% + 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL5 {
  margin-left: 42.44725%;
  margin-left: -webkit-calc(41.666% + 0.5rem);
  margin-left: calc(41.666% + 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL6 {
  margin-left: 50.78125%;
  margin-left: -webkit-calc(50% + 0.5rem);
  margin-left: calc(50% + 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL7 {
  margin-left: 59.11425%;
  margin-left: -webkit-calc(58.333% + 0.5rem);
  margin-left: calc(58.333% + 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL8 {
  margin-left: 67.44725%;
  margin-left: -webkit-calc(66.666% + 0.5rem);
  margin-left: calc(66.666% + 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL9 {
  margin-left: 75.78125%;
  margin-left: -webkit-calc(75% + 0.5rem);
  margin-left: calc(75% + 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL10 {
  margin-left: 84.11425%;
  margin-left: -webkit-calc(83.333% + 0.5rem);
  margin-left: calc(83.333% + 0.5rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace1 > .sapUiRespGridIndentL11 {
  margin-left: 92.44725%;
  margin-left: -webkit-calc(91.666% + 0.5rem);
  margin-left: calc(91.666% + 0.5rem);
}
/* INDENTS for LARGE contexts with 2rem gutter */
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL1 {
  margin-left: 9.8955%;
  margin-left: -webkit-calc(8.333% + 1rem);
  margin-left: calc(8.333% + 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL2 {
  margin-left: 18.2285%;
  margin-left: -webkit-calc(16.666% + 1rem);
  margin-left: calc(16.666% + 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL3 {
  margin-left: 26.5625%;
  margin-left: -webkit-calc(25% + 1rem);
  margin-left: calc(25% + 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL4 {
  margin-left: 34.8955%;
  margin-left: -webkit-calc(33.333% + 1rem);
  margin-left: calc(33.333% + 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL5 {
  margin-left: 43.2285%;
  margin-left: -webkit-calc(41.666% + 1rem);
  margin-left: calc(41.666% + 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL6 {
  margin-left: 51.5625%;
  margin-left: -webkit-calc(50% + 1rem);
  margin-left: calc(50% + 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL7 {
  margin-left: 59.8955%;
  margin-left: -webkit-calc(58.333% + 1rem);
  margin-left: calc(58.333% + 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL8 {
  margin-left: 68.2285%;
  margin-left: -webkit-calc(66.666% + 1rem);
  margin-left: calc(66.666% + 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL9 {
  margin-left: 76.5625%;
  margin-left: -webkit-calc(75% + 1rem);
  margin-left: calc(75% + 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL10 {
  margin-left: 84.8955%;
  margin-left: -webkit-calc(83.333% + 1rem);
  margin-left: calc(83.333% + 1rem);
}
.sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace2 > .sapUiRespGridIndentL11 {
  margin-left: 93.2285%;
  margin-left: -webkit-calc(91.666% + 1rem);
  margin-left: calc(91.666% + 1rem);
}
/* MOVE LEFT for LARGE contexts */
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL1 {
  left: 8.333%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL2 {
  left: 16.666%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL3 {
  left: 25%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL4 {
  left: 33.333%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL5 {
  left: 41.666%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL6 {
  left: 50%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL7 {
  left: 58.333%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL8 {
  left: 66.666%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL9 {
  left: 75%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL10 {
  left: 83.333%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridFwdL11 {
  left: 91.666%;
}
/* MOVE RIGHT for LARGE contexts */
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL1 {
  right: 8.333%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL2 {
  right: 16.666%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL3 {
  right: 25%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL4 {
  right: 33.333%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL5 {
  right: 41.666%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL6 {
  right: 50%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL7 {
  right: 58.333%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL8 {
  right: 66.666%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL9 {
  right: 75%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL10 {
  right: 83.333%;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBwdL11 {
  right: 91.666%;
}
/* SHOW and HIDE for LARGE contexts */
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridVisibleL {
  display: block;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridVisibleM {
  display: none;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridVisibleS {
  display: none;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridHiddenL {
  display: none;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridHiddenM {
  display: block;
}
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridHiddenS {
  display: block;
}
/* BREAK for LARGE contexts */
.sapUiRespGridMedia-Std-Desktop > .sapUiRespGridBreakL {
  clear: both;
}
/* ============= */
/* E X T R A */
/* ============= */
/* HORIZONTAL POSITIONING GRID IN CONTAINER */
div.sapUiRespGrid.sapUiRespGridPosCenter {
  margin-left: auto;
  margin-right: auto;
}
div.sapUiRespGrid.sapUiRespGridPosRight {
  margin-left: auto;
  margin-right: 0;
}
/* MOVE FOWARD and BACKWARD */
div[class*="sapUiRespGrid"] > div[class*="sapUiRespGridFwd"] {
  position: relative;
}
div[class*="sapUiRespGrid"] > div[class*="sapUiRespGridBwd"] {
  float: right;
  position: relative;
}
/* explanation for percentages for browsers without calc support:
16px = 1rem
-------------------------
S 1.25% = 4px / 320px
2.5% = 8px / 320px
5% = 16px / 320px
10% = 32px / 320px
M 0.16667% = 4px / 600px
1.3333% = 8px / 600px
2.6667% = 16px / 600px
5.3333% = 32px / 600px
L 0.390625% = 4px / 1024px
0.78125% = 8px / 1024px
1.5625% = 16px / 1024px
3.125% = 32px / 1024px
------------------------- */
/* END "Grid.less" */
/* START "GridLayout.less" */
/* ====================================================== */
/* CSS for control sap.ui.layout/form/GridLayout.control */
/* ====================================================== */
/*.sapUiGrid{}*/
.sapUiGrid td {
  vertical-align: top;
  overflow: hidden;
}
.sapUiGrid td.sapUiGridHeader {
  vertical-align: bottom;
}
.sapUiGrid th > .sapUiFormTitle,
.sapUiGrid td > .sapUiFormTitle {
  text-align: start;
  /* border-bottom: 2px solid @sapUiHighlight;*/
  position: relative;
}
/* Internet Explorer does not support "text-align: start"!
Therefore the title needs to be positioned separately for RTL and LTR mode */
[data-sap-ui-browser^=ie] .sapUiGrid th > .sapUiFormTitle,
[data-sap-ui-browser^=ie] .sapUiGrid td > .sapUiFormTitle {
  text-align: left;
}
html[dir=rtl][data-sap-ui-browser^=ie] .sapUiGrid th > .sapUiFormTitle,
html[dir=rtl][data-sap-ui-browser^=ie] .sapUiGrid td > .sapUiFormTitle {
  text-align: right;
}
/*
.sapUiGrid td[colspan="8"] > .sapUiFormTitle{border-color: @sapUiMediumBorder;
}
*/
.sapUiGridHeader > .sapUiFormTitle > button {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* END "GridLayout.less" */
/* START "HorizontalLayout.less" */
/* ====================================================== */
/* CSS for control sap.ui.layout/HorizontalLayout.control */
/* ====================================================== */
.sapUiHLayout {
  display: inline-block;
}
.sapUiHLayoutNoWrap {
  white-space: nowrap;
}
.sapUiHLayoutChildWrapper {
  white-space: normal;
  display: inline-block;
  vertical-align: top;
}
.sapUiRFL {
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
HTML[data-sap-ui-browser*='ie'] .sapUiRFL {
  width: 99%;
  /* needed if rounding issues occur and padding was deactivated */
}
.sapUiRFLRow {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.sapUiRFLContainer {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: top;
  overflow: hidden;
}
.sapUiRFLPaddingClass {
  padding: 3px 3px 0 0;
}
.sapUiRFLRow > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent.sapUiRFLPaddingClass:first-child {
  padding-left: 0;
}
.sapUiRFLRow > .sapUiRFLContainer:last-child > .sapUiRFLContainerContent.sapUiRFLPaddingClass:last-child {
  padding-right: 0;
}
.sapUiRFLMultiContainerContent {
  white-space: nowrap;
}
.sapUiRFLMultiContent.sapUiRFLPaddingClass {
  padding: 0 3px 0 0;
}
.sapUiRFLMultiContent {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.sapUiRFLMultiContainerContent > .sapUiRFLMultiContent.sapUiRFLPaddingClass:last-child {
  padding-right: 0;
}
/* END "ResponsiveFlowLayout.less" */
/* START "ResponsiveGridLayout.less" */
/* =============================================================== */
/* CSS for control sap.ui.layout.form/ResponsiveGridLayout.control */
/* =============================================================== */
/*.sapUiFormResGrid > .sapUiFormTitle,*/
.sapUiRGLContainer > .sapUiFormTitle {
  position: relative;
  margin-bottom: 1rem;
}
.sapUiFormResGrid > .sapUiFormTitle > img,
.sapUiRGLContainer > .sapUiFormTitle > img,
.sapUiFormResGrid > .sapUiFormTitle > span,
.sapUiRGLContainer > .sapUiFormTitle > span {
  margin-right: 0.5rem;
}
.sapUiRGLContainer > .sapUiFormTitle > button {
  position: absolute;
  bottom: 0;
  right: 0;
}
.sapUiRGLContainerCont {
  padding-bottom: 1.5rem;
}
.sapUiRGLContainerColl > .sapUiRGLContainerCont {
  display: none;
}
/* add paddings to content */
.sapUiFormResGridCont > div {
  padding: 0 0.25rem 0.5rem 0.25rem;
  -moz-box-sizing: padding-box;
  box-sizing: border-box;
}
.sapUiFormResGridCont > .sapUiFormResGridLbl {
  min-height: 18px;
}
/* ================= */
/* SMALL DEVICES */
/* ================= */
.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl.sapUiRespGridSpanS12 {
  padding-top: 0.375rem;
}
.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > div:first-child.sapUiFormResGridLbl.sapUiRespGridSpanS12 {
  padding-top: 0;
}
.sapUiRespGridMedia-Std-Phone > div > .sapUiRGLContainer > .sapUiRGLContainerCont {
  padding-bottom: 0.5rem;
}
/* ================================= */
/* SMALL, MEDIUM and LARGE DEVICES */
/* ================================= */
/* make labels right aligned if left from fields*/
.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanS12),
.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanM12),
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanL12) {
  padding-right: 0.5rem;
}
.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl.sapUiRespGridSpanS12,
.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl.sapUiRespGridSpanM12,
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl.sapUiRespGridSpanL12 {
  padding-bottom: 0.125rem;
}
/* on last row no padding-bottom on container content */
.sapUiRespGridMedia-Std-Phone > .sapUiFormResGridLastRowM:last-child > .sapUiRGLContainer > .sapUiRGLContainerCont,
.sapUiRespGridMedia-Std-Tablet > .sapUiFormResGridLastRowM > .sapUiRGLContainer > .sapUiRGLContainerCont,
.sapUiRespGridMedia-Std-Desktop > .sapUiFormResGridLastRowL > .sapUiRGLContainer > .sapUiRGLContainerCont {
  padding-bottom: 0;
}
/* ============================ */
/* MEDIUM and LARGE DEVICES */
/* ============================ */
/* add paddings between containers */
.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridMain > div:not(.sapUiRespGridSpanM12):not(.sapUiFormResGridLastContM),
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridMain > div:not(.sapUiRespGridSpanL12):not(.sapUiFormResGridLastContL) {
  padding-right: 0.75rem;
  /* because fields have 0.25rem padding on left and right */
  -moz-box-sizing: padding-box;
  box-sizing: border-box;
}
.sapUiRespGridMedia-Std-Tablet.sapUiFormResGridMain > div:not(.sapUiRespGridBreakM):not(.sapUiRespGridSpanM12),
.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridMain > div:not(.sapUiRespGridBreakL):not(.sapUiRespGridSpanL12) {
  padding-left: 0.75rem;
  /* because fields have 0.25rem padding on left and right */
  -moz-box-sizing: padding-box;
  box-sizing: border-box;
}
/* END "ResponsiveGridLayout.less" */
/* START "ResponsiveLayout.less" */
/* =========================================================== */
/* CSS for control sap.ui.layout.form/ResponsiveLayout.control */
/* =========================================================== */
.sapUiRLContainer > .sapUiFormTitle {
  position: relative;
}
.sapUiRLContainer > .sapUiFormTitle > button {
  position: absolute;
  bottom: 0;
  right: 0;
}
.sapUiRLContainerColl > .sapUiRLContainerCont {
  display: none;
}
/* make labels before fields right aligned */
.sapUiRLElementWithLabel > .sapUiRFLRow:first-child > .sapUiRFLContainer:first-child:not(.sapUiRFLFullLength) > div {
  text-align: end;
}
html[data-sap-ui-browser^=ie] .sapUiRLElementWithLabel > .sapUiRFLRow:first-child > .sapUiRFLContainer:first-child:not(.sapUiRFLFullLength) > div {
  text-align: right;
}
html[dir=rtl][data-sap-ui-browser^=ie] .sapUiRLElementWithLabel > .sapUiRFLRow:first-child > .sapUiRFLContainer:first-child:not(.sapUiRFLFullLength) > div {
  text-align: left;
}
/* END "ResponsiveLayout.less" */
/* START "SimpleForm.less" */
/* ===================================================== */
/* CSS for control sap.ui.layout/form/SimpleForm.control */
/* ===================================================== */
.sapUiSimpleForm {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* SimpleForm placed directly in a body of a Fiori page */
.sap-tablet .sapUiFioriObjectPage > section > div > .sapUiSimpleForm,
.sap-desktop .sapUiFioriObjectPage > section > div > .sapUiSimpleForm {
  padding: 0 1rem;
}
/* END "SimpleForm.less" */
/* START "Splitter.less" */
/* ============================================= */
/* CSS for control sap.ui.unified/Splitter.control */
/* ============================================= */
/**
* The main Splitter element can have the following classes in addition to its main class
* "sapUiLoSplitter":
* sapUiLoSplitterAnimated - Resizing should be animated (through css-transitions)
* sapUiLoSplitterH - It's a horizontal splitter
* sapUiLoSplitterV - It's a vertical splitter
* The splitter bars "sapUiLoSplitterBar" and "sapUiLoSplitterOverlayBar" can have the following
* additional classes:
* sapUiLoSplitterNoResize
*
**/
/********************************************* General ********************************************/
.sapUiLoSplitter {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}
.sapUiLoSplitterContent {
  overflow: auto;
}
.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
  cursor: move;
  font-size: 16px;
  background-color: transparent;
  color: #333333;
  text-shadow: 1px 1px #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sapUiLoSplitter > .sapUiLoSplitterBar:focus {
  outline: 1px dotted #c20d00;
  outline-offset: -1px;
}
.sapUiLoSplitter > .sapUiLoSplitterBar:hover {
  background-color: #777777;
  color: #ffffff;
  text-shadow: none;
}
.sapUiLoSplitter > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
  background-color: #ff1100;
  color: #ffffff;
  text-shadow: none;
}
.sapUiLoSplitterBarIcon {
  text-align: center;
  position: relative;
  display: block;
}
.sapUiLoSplitter.sapUiLoSplitterH > .sapUiLoSplitterBar.sapUiLoSplitterNoResize,
.sapUiLoSplitter.sapUiLoSplitterV > .sapUiLoSplitterBar.sapUiLoSplitterNoResize {
  cursor: default;
  visibility: hidden;
}
.sapUiLoSplitter > .sapUiLoSplitterBar.sapUiLoSplitterNoResize > *,
.sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar.sapUiLoSplitterNoResize > * {
  display: none;
}
.sapUiLoSplitterOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
  position: absolute;
}
/******************************************* Horizontal *******************************************/
.sapUiLoSplitterH.sapUiLoSplitter {
  white-space: nowrap;
}
.sapUiLoSplitterH > .sapUiLoSplitterBar,
.sapUiLoSplitterH > .sapUiLoSplitterContent,
.sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
.sapUiLoSplitterH > .sapUiLoSplitterBar > .sapUiLoSplitterBarIcon,
.sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar > .sapUiIcon.sapUiLoSplitterBarIcon {
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  top: calc(50% - 12px);
}
.sapUiLoSplitterH > .sapUiLoSplitterBar > .sapUiIcon.sapUiLoSplitterBarIcon::before,
.sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar > .sapUiIcon.sapUiLoSplitterBarIcon::before {
  content: "\e1fa";
}
.sapUiLoSplitterAnimated.sapUiLoSplitterH > .sapUiLoSplitterContent {
  transition: width 200ms ease 0ms;
}
.sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
  cursor: col-resize;
  width: 4px;
}
/******************************************** Vertical ********************************************/
.sapUiLoSplitterV > .sapUiLoSplitterBar,
.sapUiLoSplitterV > .sapUiLoSplitterContent,
.sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
  display: block;
  width: 100%;
}
.sapUiLoSplitterV > .sapUiLoSplitterBar > .sapUiLoSplitterBarIcon,
.sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar > .sapUiIcon.sapUiLoSplitterBarIcon {
  font-size: 16px;
  line-height: 16px;
  width: 16px;
  left: calc(50% - 8px);
  top: 0;
}
.sapUiLoSplitterV > .sapUiLoSplitterBar > .sapUiIcon.sapUiLoSplitterBarIcon::before,
.sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar > .sapUiIcon.sapUiLoSplitterBarIcon::before {
  content: "\e1fb";
}
.sapUiLoSplitterAnimated.sapUiLoSplitterV > .sapUiLoSplitterContent {
  transition: height 200ms ease 0ms;
}
.sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
  cursor: row-resize;
  height: 4px;
}
/************************************** Responsive Bar sizes **************************************/
.sap-desktop .sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-desktop .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-desktop .sapUiLoSplitterH .sapUiLoSplitterBarIcon {
  width: 6px;
}
.sap-desktop .sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-desktop .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-desktop .sapUiLoSplitterV .sapUiLoSplitterBarIcon {
  height: 6px;
  line-height: 6px;
}
.sap-tablet .sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-tablet .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-tablet .sapUiLoSplitterH .sapUiLoSplitterBarIcon {
  width: 16px;
}
.sap-tablet .sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-tablet .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-tablet .sapUiLoSplitterV .sapUiLoSplitterBarIcon {
  height: 16px;
  line-height: 16px;
}
.sap-phone .sapUiLoSplitterH.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-phone .sapUiLoSplitterH > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-phone .sapUiLoSplitterH .sapUiLoSplitterBarIcon {
  width: 1px;
}
.sap-phone .sapUiLoSplitterV.sapUiLoSplitter > .sapUiLoSplitterBar,
.sap-phone .sapUiLoSplitterV > .sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar,
.sap-phone .sapUiLoSplitterV .sapUiLoSplitterBarIcon {
  height: 1px;
  line-height: 1px;
}
/*********************************** IE Focus outline workaround **********************************/
html[data-sap-ui-browser^=ie] .sapUiLoSplitter > .sapUiLoSplitterBar:focus {
  outline: 0px solid black;
  outline-offset: 0;
}
html[data-sap-ui-browser^=ie] .sapUiLoSplitter > .sapUiLoSplitterBar:focus::after {
  content: "";
  display: block;
  position: relative;
}
html[data-sap-ui-browser^=ie] .sapUiLoSplitterH > .sapUiLoSplitterBar:focus::after {
  top: -1em;
}
html[data-sap-ui-browser^=ie].sap-desktop .sapUiLoSplitterH > .sapUiLoSplitterBar:focus::after {
  height: 100%;
  width: 6px;
  border: 1px dotted #c20d00;
}
html[data-sap-ui-browser^=ie].sap-tablet .sapUiLoSplitterH > .sapUiLoSplitterBar:focus::after {
  height: 100%;
  width: 16px;
  border: 1px dotted #c20d00;
}
html[data-sap-ui-browser^=ie].sap-phone .sapUiLoSplitterH > .sapUiLoSplitterBar:focus::after {
  height: 100%;
  width: 1px;
  border: 1px dotted #c20d00;
}
html[data-sap-ui-browser^=ie].sap-desktop .sapUiLoSplitterV > .sapUiLoSplitterBar:focus::after {
  top: -6px;
  height: 6px;
  width: 100%;
  border: 1px dotted #c20d00;
}
html[data-sap-ui-browser^=ie].sap-tablet .sapUiLoSplitterV > .sapUiLoSplitterBar:focus::after {
  top: -16px;
  height: 16px;
  width: 100%;
  border: 1px dotted #c20d00;
}
html[data-sap-ui-browser^=ie].sap-phone .sapUiLoSplitterV > .sapUiLoSplitterBar:focus::after {
  top: -1px;
  height: 1px;
  width: 100%;
  border: 1px dotted #c20d00;
}
/* END "Splitter.less" */
/* START "VerticalLayout.less" */
/* ====================================================== */
/* CSS for control sap.ui.layout/VerticalLayout.control */
/* ====================================================== */
.sapUiVlt {
  display: inline-block;
  overflow: hidden;
}
/*</SAP_FREETEXT>*/
/******************* FILE /Base/baseLib/sap_bluecrystal/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/sap_bluecrystal/global.less *******************/
/******************* FILE /UI5/sap/ui/layout/themes/sap_bluecrystal/library.less *******************/
/*<SAP_FREETEXT>*/
/* hover background now lighter for BlueCrystal */
/*.sapUiForm {background-color: fade(@sapUiLightestBG, @sapUiTranslucentBGOpacity);
}*/
.sapUiForm .sapUiFormTitle > button {
  height: 16px;
  width: 16px;
  padding-left: 0;
  padding-right: 0;
}
html[data-sap-ui-browser="ie8"] .sapUiFormTitle > .sapUiBtnS.sapUiBtnLite {
  padding-top: 1px;
}
html[data-sap-ui-browser="ie9"] .sapUiFormTitle > .sapUiBtnS.sapUiBtnLite > img {
  margin-top: -2px;
}
html[data-sap-ui-browser^="ie"] .sapUiFormTitle > .sapUiBtnS.sapUiBtnLite.sapUiBtnAct {
  padding-left: 0;
  padding-right: 0px;
  padding-top: 0px;
}
html[data-sap-ui-browser^="ie"] .sapUiFormTitle > .sapUiBtnS.sapUiBtnLite.sapUiBtnAct > img {
  margin-left: -1px;
  margin-top: -3px;
}
html[data-sap-ui-browser="ie9"] .sapUiFormTitle > .sapUiBtnS.sapUiBtnLite.sapUiBtnAct > img {
  margin-left: -2px;
}
.sapUiFormTitle > .sapMBtn {
  min-width: 0;
  border: none;
  background-color: transparent;
}
.sapUiFormTitle > .sapMBtn > .sapMBtnContent {
  line-height: 16px;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 0;
  top: 0;
}
.sapUiFormTitle > .sapMBtn > .sapMBtnContent > img {
  vertical-align: top;
}
/* Form placed directly in a body of a Fiori page */
.sap-tablet .sapUiFioriObjectPage > section > div > .sapUiForm,
.sap-desktop .sapUiFioriObjectPage > section > div > .sapUiForm {
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sapUiFormLayout {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.sapUiForm .sapUiFormTitle {
  border-width: 0.0625rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333333;
}
.sapUiFormTitle.sapUiFormTitleEmph {
  border-color: #cccccc;
}
/* Title levels - use m-parameter for bluecrystal */
.sapUiFormTitleH1 {
  font-size: 1.75rem;
}
.sapUiFormTitleH2 {
  font-size: 1.5rem;
}
.sapUiFormTitleH3 {
  font-size: 1.25rem;
}
.sapUiFormTitleH4 {
  font-size: 1.125rem;
}
.sapUiFormTitleH5 {
  font-size: 1rem;
}
.sapUiFormTitleH6 {
  font-size: 0.875rem;
}
/* END "FormLayout.less" */
/* START "GridLayout.less" */
/* ===================================================== */
/* CSS for control sap.ui.layout/form/GridLayout.control */
/* Bluecrystal */
/* ===================================================== */
.sapUiGrid {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.sapUiForm[aria-describedby] > .sapUiGrid > tbody > tr:first-child {
  background-color: transparent;
}
.sapUiGrid > tbody > tr {
  background-color: rgba(255, 255, 255, 0.8);
}
.sapUiGrid > tbody > tr > td:first-child {
  padding-left: 16px;
}
.sapUiGrid > tbody > tr:first-child > td,
.sapUiForm[aria-describedby] > .sapUiGrid > tbody > tr:nth-child(2) > td {
  padding-top: 16px;
}
.sapUiGrid > tbody > tr > td:last-child {
  padding-right: 16px;
}
.sapUiGrid > tbody > tr:last-child > td {
  padding-bottom: 16px;
}
.sapUiGrid > tbody > tr > td {
  padding: 4px 0 4px 8px;
}
.sapUiFormM > .sapUiGrid > tbody > tr > td {
  padding: 0 0 0 8px;
}
.sapUiGrid > tbody > tr > td.sapUiGridLabel {
  padding-right: 4px;
}
.sapUiGrid > tbody > tr > td.sapUiGridLabelFull {
  padding-bottom: 2px;
}
.sapUiFormEdit.sapUiFormM > .sapUiGrid > tbody > tr > td.sapUiGridLabel {
  padding-top: 16px;
}
html[data-sap-ui-browser^="ff"] .sapUiFormEdit.sapUiFormM > .sapUiGrid > tbody > tr > td.sapUiGridLabel {
  padding-top: 15px;
}
.sapUiSizeCompact .sapUiFormEdit.sapUiFormM > .sapUiGrid > tbody > tr > td.sapUiGridLabel {
  padding-top: 8px;
}
html[data-sap-ui-browser^="ff"].sapUiSizeCompact .sapUiFormEdit.sapUiFormM > .sapUiGrid > tbody > tr > td.sapUiGridLabel,
html[data-sap-ui-browser^="ff"] .sapUiSizeCompact .sapUiFormEdit.sapUiFormM > .sapUiGrid > tbody > tr > td.sapUiGridLabel {
  padding-top: 7px;
}
.sapUiFormEdit.sapUiFormM > .sapUiGrid > tbody > tr > td.sapUiGridLabelFull {
  padding-top: 0;
}
.sapUiGrid .sapUiGridHeader {
  padding: 0;
}
.sapUiGrid th > .sapUiFormTitle {
  height: 48px;
  line-height: 48px;
  -moz-box-sizing: padding-box;
  box-sizing: border-box;
  padding: 0 16px 0 16px;
  text-shadow: 0em 0.0625em 0em #ffffff;
}
.sapUiGrid > tbody > tr > td > .sapUiFormTitle {
  border: none;
  margin-bottom: 16px;
  margin-top: 32px;
}
.sapUiGrid > tbody > tr:first-child > td > .sapUiFormTitle,
.sapUiForm[aria-describedby] > .sapUiGrid > tbody > tr:nth-child(2) > td > .sapUiFormTitle {
  margin-top: 0;
}
.sapUiGridSpace {
  width: 32px;
}
.sapUiGrid .sapUiFormTitle > img,
.sapUiGrid .sapUiFormTitle > span {
  margin-right: 4px;
}
.sapUiGridHeader > .sapUiFormTitle > .sapUiBtnS.sapUiBtnLite {
  bottom: 5px;
}
.sapUiRFLPaddingClass {
  padding: 0 0 8px 8px;
}
.sapUiRFLFullLength > .sapUiRFLPaddingClass {
  padding-left: 0;
}
.sapUiRFLMultiContent.sapUiRFLPaddingClass {
  padding: 0 0 8px 8px;
}
.sapUiRFLMultiContainerContent > .sapUiRFLMultiContent.sapUiRFLPaddingClass:first-child {
  padding-left: 0;
}
/* END "ResponsiveFlowLayout.less" */
/* START "ResponsiveGridLayout.less" */
/* =============================================================== */
/* CSS for control sap.ui.layout.form/ResponsiveGridLayout.control */
/* BlueCrystal */
/* =============================================================== */
.sapUiFormResGrid > .sapUiFormTitle {
  height: 3rem;
  line-height: 3rem;
  -moz-box-sizing: padding-box;
  box-sizing: border-box;
  padding: 0 1rem 0 1rem;
  text-shadow: 0em 0.0625em 0em #ffffff;
}
.sapUiRGLContainer > .sapUiFormTitle {
  border: none;
  padding-left: 0.25rem;
}
.sapUiFormResGrid > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 0.75rem;
  /* because fields have 0.25rem padding on left and right */
  -moz-box-sizing: padding-box;
  box-sizing: border-box;
}
/* Special styles for Mobile controls */
.sapUiFormM .sapUiRespGrid.sapUiRespGridVSpace0 > div {
  padding-bottom: 0;
}
.sapUiFormM .sapUiRGLContainerCont {
  padding-bottom: 2rem;
}
.sapUiFormM .sapUiRespGridMedia-Std-Phone > div > .sapUiRGLContainer > .sapUiRGLContainerCont {
  padding-bottom: 1rem;
}
/* ================================ */
/* SMALL, MEDIUM and LARGE DEVICES */
/* ================================ */
/* make labels right aligned if left from fields*/
.sapUiFormM .sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl.sapUiRespGridSpanS12 {
  padding-top: 0.625rem;
}
.sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanS12),
.sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanM12),
.sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanL12) {
  padding-top: 1rem;
}
html[data-sap-ui-browser^="ff"] .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanS12),
html[data-sap-ui-browser^="ff"] .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanM12),
html[data-sap-ui-browser^="ff"] .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanL12) {
  padding-top: 15px;
}
.sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanS12),
.sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanM12),
.sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanL12) {
  padding-top: 0.5rem;
}
html[data-sap-ui-browser^="ff"] .sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanS12),
html[data-sap-ui-browser^="ff"].sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanS12),
html[data-sap-ui-browser^="ff"] .sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanM12),
html[data-sap-ui-browser^="ff"].sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanM12),
html[data-sap-ui-browser^="ff"] .sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanL12),
html[data-sap-ui-browser^="ff"].sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont > .sapUiFormResGridLbl:not(.sapUiRespGridSpanL12) {
  padding-top: 7px;
}
/* END "ResponsiveGridLayout.less" */
/* START "ResponsiveLayout.less" */
/* =========================================================== */
/* CSS for control sap.ui.layout.form/ResponsiveLayout.control */
/* BlueCrystal */
/* =========================================================== */
.sapUiFormResLayout > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
  -moz-box-sizing: padding-box;
  box-sizing: border-box;
}
.sapUiFormResLayout .sapUiFormTitle > img,
.sapUiFormResLayout .sapUiFormTitle > span {
  margin-right: 3px;
}
.sapUiRLContainer > .sapUiFormTitle > button {
  bottom: 5px;
}
.sapUiFormM .sapUiRFLPaddingClass,
.sapUiFormM .sapUiRFLMultiContent.sapUiRFLPaddingClass {
  padding: 0 0 0 8px;
}
.sapUiRLContainerCont > .sapUiRFL > .sapUiRFLRow > .sapUiRFLContainer {
  padding-right: 8px;
}
.sapUiRLContainerCont > .sapUiRFL > .sapUiRFLRow > .sapUiRFLContainer:last-child {
  padding-right: 0;
}
.sapUiRLElementWithLabel > .sapUiRFLCompleteRow:first-child > .sapUiRFLContainer.sapUiRFLFullLength > .sapUiRFLContainerContent.sapUiRFLPaddingClass {
  padding-bottom: 0;
}
.sapUiFormEdit.sapUiFormM .sapUiRLElementWithLabel > .sapUiRFLRow:not(.sapUiRFLCompleteRow) > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent {
  padding-top: 16px;
}
html[data-sap-ui-browser^="ff"] .sapUiFormEdit.sapUiFormM .sapUiRLElementWithLabel > .sapUiRFLRow:not(.sapUiRFLCompleteRow) > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent {
  padding-top: 15px;
}
.sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRLElementWithLabel > .sapUiRFLRow:not(.sapUiRFLCompleteRow) > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent {
  padding-top: 8px;
}
html[data-sap-ui-browser^="ff"].sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRLElementWithLabel > .sapUiRFLRow:not(.sapUiRFLCompleteRow) > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent,
html[data-sap-ui-browser^="ff"] .sapUiSizeCompact .sapUiFormEdit.sapUiFormM .sapUiRLElementWithLabel > .sapUiRFLRow:not(.sapUiRFLCompleteRow) > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent {
  padding-top: 7px;
}
.sapUiFormResLayout .sapUiRFLRow > .sapUiRFLContainer.sapUiRFLFullLength > .sapUiRFLContainerContent > .sapUiRLElement > .sapUiRFLRow:last-child > .sapUiRFLFullLength:last-child {
  padding-bottom: 10px;
}
.sapUiFormResLayout .sapUiRFLRow:last-child > .sapUiRFLContainer.sapUiRFLFullLength > .sapUiRFLContainerContent > .sapUiRLElement > .sapUiRFLRow:last-child > .sapUiRFLFullLength:last-child {
  /* last element in row has no padding bottom */
  padding-bottom: 0;
}
.sapUiRLElementFields > .sapUiRFLRow > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent.sapUiRFLPaddingClass:first-child,
.sapUiRLElementFields > .sapUiRFLRow > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent.sapUiRFLMultiContainerContent.sapUiRFLPaddingClass:first-child > .sapUiRFLMultiContent.sapUiRFLPaddingClass:first-child {
  padding-left: 8px;
}
.sapUiRLElementFields > .sapUiRFLRow > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent.sapUiRFLMultiContainerContent.sapUiRFLPaddingClass:first-child,
.sapUiRFLFullLength > .sapUiRFLContainerContent > .sapUiRLElementFields > .sapUiRFLRow > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent.sapUiRFLPaddingClass:first-child,
.sapUiRFLFullLength > .sapUiRFLContainerContent > .sapUiRLElementFields > .sapUiRFLRow > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent.sapUiRFLPaddingClass:first-child > .sapUiRFLMultiContent.sapUiRFLPaddingClass:first-child {
  padding-left: 0;
}
.sapUiRFLRow > .sapUiRFLContainer > .sapUiRFLContainerContent > .sapUiRLContainer {
  /* space between 2 containers, devide it to previous and next container to have the same size for all*/
  padding-left: 8px;
  padding-right: 16px;
}
.sapUiRFLRow > .sapUiRFLContainer:first-child > .sapUiRFLContainerContent > .sapUiRLContainer {
  padding-left: 0;
}
.sapUiRFLRow > .sapUiRFLContainer:last-child > .sapUiRFLContainerContent > .sapUiRLContainer {
  padding-right: 0;
}
/* Title */
.sapUiFormResLayout > .sapUiFormTitle {
  height: 48px;
  line-height: 48px;
  -moz-box-sizing: padding-box;
  box-sizing: border-box;
  padding: 0 16px 0 16px;
  text-shadow: 0em 0.0625em 0em #ffffff;
}
.sapUiRLContainer > .sapUiFormTitle {
  border: none;
  margin-bottom: 16px;
}
/* vertical spacing between containers */
.sapUiFormResLayout > .sapUiRFL > .sapUiRFLRow > .sapUiRFLContainer > .sapUiRFLContainerContent > .sapUiRLContainer {
  padding-top: 16px;
}
.sapUiFormResLayout > .sapUiRFL > .sapUiRFLRow:first-child > .sapUiRFLContainer > .sapUiRFLContainerContent > .sapUiRLContainer {
  padding-top: 0;
}
/* END "ResponsiveLayout.less" */
/* START "SimpleForm.less" */
/* ===================================================== */
/* CSS for control sap.ui.layout/form/SimpleForm.control */
/* ===================================================== */
.sapUiFormEdit-CTX .sapMRb {
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em;
}
.sapUiFormEdit-CTX .sapMRbBLabel {
  line-height: 3rem;
}
.sapUiFormEdit-CTX .sapMSwtCont {
  vertical-align: middle;
}
/* END "SimpleForm.less" */
/* START "Splitter.less" */
/* ============================================= */
/* CSS for control sap.ui.unified/Splitter.control */
/* ============================================= */
.sapUiLoSplitter > .sapUiLoSplitterBar,
.sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
  color: #333333;
  text-shadow: 1px 1px #ffffff;
}
.sapUiLoSplitter > .sapUiLoSplitterBar:hover {
  background-color: #777777;
  color: #ffffff;
}
.sapUiLoSplitterOverlay > .sapUiLoSplitterOverlayBar {
  background-color: #ff1100;
  color: #ffffff;
}
.sapUiLoSplitter > .sapUiLoSplitterBar:focus {
  outline: 1px dotted #c20d00;
}
/*</SAP_FREETEXT>*/
/******************* FILE /Base/baseLib/custom_holcim_mobile/custom.less *******************/
/*<SAP_FREETEXT_LESS>*/
/*</SAP_FREETEXT_LESS>*/
/******************* FILE /Base/baseLib/custom_holcim_mobile/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/custom_holcim_mobile/global.less *******************/
/******************* FILE /UI5/sap/ui/layout/themes/custom_holcim_mobile/library.less *******************/
