/**
* Copyright (c) 2013 SAP AG, All Rights Reserved
*
* Theming Engine 1.8.1
* data:{"Path": "UI5.sap/ui/table.custom_holcim_mobile.library", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "Version": { "Build":"1.26.1.20150501123354", "Source": "1.26.1", "Engine": "1.8.1"}}
*/

.sapThemeMetaData-UI5-sap-ui-table{background-image: url('data:text/plain;utf-8,{"Path": "UI5.sap/ui/table.custom_holcim_mobile.library", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "Version": { "Build":"1.26.1.20150501123354", "Source": "1.26.1", "Engine": "1.8.1"}}');}

/******************* FILE /Base/baseLib/baseTheme/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/base/global.less *******************/
/******************* FILE /UI5/sap/ui/table/themes/base/library.less *******************/
/*<SAP_FREETEXT>*/
/* START "AnalyticalColumnMenu.less" */
/* ============================================= */
/* CSS for control sap.ui.analytics/AnalyticalColumnMenu.control */
/* ============================================= */
.sapUiAnalyticsAnalyticalColumnMenu {
  color: #008000;
  border: 1px solid blue;
}
/* END "AnalyticalColumnMenu.less" */
/* START "AnalyticalTable.less" */
/* ======================================================== */
/* CSS for control sap.ui.analytics/AnalyticalTable.control */
/* ======================================================== */
.sapUiAnalyticalTable tr.sapUiAnalyticalTableDummy td {
  border-right-width: 0;
}
.sapUiAnalyticalTable tr.sapUiAnalyticalTableDummy td:last-child {
  border-right-width: 1px;
}
.sapUiAnalyticalTable .sapUiAnalyticalTableLoading {
  margin-left: 40px;
}
/*******************************************************************************
* CHILD CONTROL STYLES
******************************************************************************/
.sapUiAnalyticalTable .sapUiTableCol .sapMLabel,
.sapUiAnalyticalTable .sapUiTableCell > .sapMLabel,
.sapUiAnalyticalTable .sapUiTableCell > .sapMText {
  width: 100%;
}
.sapUiSizeCompact .sapUiAnalyticalTable .sapUiTableGroupIcon::before {
  line-height: 28px;
}
/*
* BEHAVIOR CLASSES:
* -----------------
* sapUiTableVScr - display vertical scrollbar
* sapUiTableHScr - display horizontal scrollbar
* sapUiTableRSel - display row selector column
* sapUiTableCHdr - display column header row
* sapUiTableShNoDa - indicator to enable empty table message
* sapUiTableEmpty - display the empty table message
*/
/*******************************************************************************
* BOX SIZING FOR TABLE!
******************************************************************************/
.sapUiTable,
.sapUiTableHdr,
.sapUiTableTbr,
.sapUiTableExt,
.sapUiTableFtr,
.sapUiTableCnt,
.sapUiTableColRowHdr,
.sapUiTableColRowHdrIco,
.sapUiTableColHdrScr,
.sapUiTableColHdr,
.sapUiTableCol,
.sapUiTableColRsz,
.sapUiTableRowHdrScr,
.sapUiTableRowHdr,
.sapUiTableCtrlScr,
.sapUiTableCtrlCnt,
.sapUiTableCtrl,
.sapUiTableTr,
.sapUiTableTr > th,
.sapUiTableTr > td,
.sapUiTableCtrlEmpty,
.sapUiTableCell,
.sapUiTableVSb,
.sapUiTableHSb {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/*******************************************************************************
* TABLE SECTIONS
******************************************************************************/
.sapUiTable {
  color: #000000;
  position: relative;
}
.sapUiTable > div {
  border: 1px solid #cccccc;
  border-bottom: none;
}
.sapUiTable > div:last-child {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.sapUiTable.sapUiLocalBusy > div:nth-last-child(2) {
  border-bottom: 1px solid #cccccc;
}
.sapUiTable > div.sapUiLocalBusyIndicator {
  border-bottom: none;
  z-index: 2;
}
.sapUiTableHdr,
.sapUiTableFtr {
  padding: 0px 10px;
  height: 22px;
  background-color: #f2f2f2;
}
.sapUiTableHdr {
  font-weight: bold;
}
.sapUiTableHdrTitle {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}
.sapUiTableTbr {
  height: 25px;
  border-bottom: none;
}
.sapUiTableExt {
  border-bottom: none;
}
.sapUiTableTbr .sapUiTb,
.sapUiTableTbr .sapUiTbCont {
  border: none;
}
html[data-sap-ui-browser="ie8"] .sapUiTable {
  border-bottom: 1px solid #cccccc;
}
/*******************************************************************************
* TABLE CONTROL
******************************************************************************/
.sapUiTableCnt {
  position: relative;
  overflow: hidden;
  /* avoid scrollbar for column resize handlers */
}
.sapUiTableCCnt {
  position: relative;
}
/* COL HEADER */
.sapUiTableColHdrCnt {
  display: none;
  min-height: 32px;
  background-color: #f2f2f2;
}
.sapUiTableCHdr .sapUiTableColHdrCnt {
  display: block;
}
.sapUiTableColHdrScr {
  height: 100%;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
}
.sapUiTableRSel .sapUiTableColHdrScr,
.sapUiTableRSel .sapUiTableColHdrFixed {
  margin-left: 25px;
}
.sapUiTableVScr .sapUiTableColHdrScr {
  margin-right: 16px;
}
.sapUiTableColHdr {
  display: table;
  width: 1000%;
  /* to prevent wrapping of floating divs, percentage needed for tables without defined width */
}
.sapUiTableColHdrFixed {
  float: left;
}
.sapUiTableCtrlCol > th > * {
  display: none;
}
.sapUiTableCol {
  float: left;
  display: block;
  position: relative;
  vertical-align: top;
}
.sapUiTableColCell {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 8px;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
}
.sapUiTableColRowHdr {
  display: none;
  position: absolute;
  height: inherit;
  width: 25px;
}
.sapUiTableRSel .sapUiTableColRowHdr {
  display: block;
}
.sapUiTableAriaRowSel {
  font-size: 0;
}
.sapUiTableColRowHdrIco {
  height: 18px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center center;
}
/* ROW HEADER */
.sapUiTableRowHdrScr {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  z-index: 1;
  /* needed for grouping text visible on ipad */
  /* overflow: hidden; visible for grouping! */
}
.sapUiTableRSel .sapUiTableRowHdrScr {
  display: block;
}
/* TABLE */
.sapUiTableCtrlScr {
  position: relative;
  margin: 0;
  overflow: hidden;
}
.sapUiTableRSel .sapUiTableCtrlScr,
.sapUiTableRSel .sapUiTableCtrlScrFixed {
  margin-left: 25px;
}
.sapUiTableVScr .sapUiTableCtrlScr {
  margin-right: 16px;
}
.sapUiTableCtrlCol {
  /* row defining the width of the cols */
  height: 0px !important;
  margin: 0;
  padding: 0;
  border: none;
}
.sapUiTableCtrlCol > th {
  height: inherit;
  margin: 0;
  padding: 0;
  border: none;
}
.sapUiTableCtrl {
  position: relative;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}
.sapUiTableCtrl tr {
  height: 28px;
}
.sapUiTableTr > td {
  /* height: inherit; */
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.sapUiTableCtrlScrFixed {
  float: left;
}
.sapUiTableCell {
  height: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 8px;
  white-space: nowrap;
}
.sapUiTableRowHidden .sapUiTableCell,
.sapUiTableCellHidden .sapUiTableCell {
  visibility: hidden;
  /* hidden row (no content) */
}
.sapUiTableColIcons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8px;
  padding-top: 4px;
}
.sapUiTableColCell.sapUiTableColSorted,
.sapUiTableColCell.sapUiTableColFiltered {
  padding-right: 24px;
}
.sapUiTableColCell.sapUiTableColSorted.sapUiTableColFiltered {
  padding-right: 38px;
}
.sapUiTableCtrlEmpty {
  display: none;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: #f2f2f2;
  padding-right: 25px;
  /* text will be aligned in real center of the table*/
  /* z-index: 1; */
}
.sapUiTableSelModeNone .sapUiTableCtrlEmpty {
  padding-right: 0;
}
.sapUiTableCtrlEmptyMsg {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
}
.sapUiTableShNoDa.sapUiTableEmpty .sapUiTableCtrlEmpty {
  display: block;
}
.sapUiTableRSel .sapUiTableCtrlEmpty {
  left: 25px;
}
.sapUiTablePaginator {
  text-align: center;
  padding: 2px;
}
/*******************************************************************************
* DND & RESIZE ELEMENTS
******************************************************************************/
.sapUiTableColGhost {
  position: absolute;
  width: auto;
  cursor: pointer;
  padding: 0 8px;
  background-color: #f2f2f2;
  border: 1px solid #ff1100;
  opacity: 0.5;
}
.sapUiTableColRsz {
  position: absolute;
  top: 0px;
  width: 5px;
  bottom: 0px;
  cursor: col-resize;
  z-index: 1;
}
.sapUiTableHScr .sapUiTableColRsz {
  bottom: 18px;
}
.sapUiTableColRszActive,
.sapUiTableColRsz:hover {
  background-color: #ff1100;
  opacity: 0.5;
}
/*******************************************************************************
* VERTICAL SCROLLBAR
******************************************************************************/
.sapUiTableVSb {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 16px;
  /* 17px */
  bottom: 0px;
  /* z-index: 2; */
}
.sapUiTableVScr .sapUiTableVSb {
  display: block;
}
/*******************************************************************************
* HORIZONTAL SCROLLBAR
******************************************************************************/
.sapUiTableHSb {
  display: none;
  position: relative;
  height: 19px;
  margin: 0;
  border-top: 1px solid #cccccc;
  /* z-index: 2; */
}
.sapUiTableRSel .sapUiTableHSb {
  padding-left: 25px;
}
.sapUiTableHScr .sapUiTableHSb {
  display: block;
}
.sapUiTableVScr .sapUiTableHSb {
  padding-right: 16px;
  /* 17px */
}
/*******************************************************************************
* CHILD CONTROL STYLES
******************************************************************************/
.sapUiTableCol .sapUiLbl,
.sapUiTableCell > .sapUiTf,
.sapUiTableCell > .sapUiSearchField,
.sapUiTableCell > .sapUiSearchField > .sapUiTfCombo,
.sapUiTableCell > .sapUiTfCombo {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.sapUiTableCell > .sapUiTf.sapUiTfErr.sapUiTfStd,
.sapUiTableCell > .sapUiTfCombo.sapUiTfErr.sapUiTfStd {
  background-color: #fad4d4;
}
.sapUiTableCell > .sapUiTf.sapUiTfWarn.sapUiTfStd,
.sapUiTableCell > .sapUiTfCombo.sapUiTfWarn.sapUiTfStd {
  background-color: #fceecc;
}
.sapUiTableCell > .sapUiTf.sapUiTfSucc.sapUiTfStd,
.sapUiTableCell > .sapUiTfCombo.sapUiTfSucc.sapUiTfStd {
  background-color: #cce8d8;
}
.sapUiTableCell > .sapUiTfCombo {
  padding: 0 8px 0 0;
}
.sapUiTableCell > .sapUiTv,
.sapUiTableCell > .sapUiLbl,
.sapUiTableCell > .sapUiLnk {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sapUiTableCell > .sapUiImg {
  margin-top: 1px;
}
.sapUiTableRowHidden .sapUiTableCell > .sapUiImg {
  display: none;
  /* images will be removed to avoid pushing the height of the line */
}
.sapUiTableCell > .sapUiRating {
  display: block;
}
/*******************************************************************************
* TREETABLE & GROUPING STYLES
******************************************************************************/
.sapUiTableGroupIconOpen,
.sapUiTableTreeIconNodeOpen {
  background-image: url(../../../../../../UI5/sap/ui/table/themes/base/img/ico12_open_minus.gif);
}
.sapUiTableGroupIconClosed,
.sapUiTableTreeIconNodeClosed {
  background-image: url(../../../../../../UI5/sap/ui/table/themes/base/img/ico12_closed_plus.gif);
}
.sapUiTableTreeIconLeaf {
  background-image: url(../../../../../../UI5/sap/ui/table/themes/base/img/ico12_leaf.gif);
}
.sapUiTableTreeIcon {
  display: inline-block;
  width: 12px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  float: left;
  /* height: @sapUiTableRowHeight; */
  padding-top: 8px;
}
.sapUiSizeCompact .sapUiTableTreeIcon {
  background-image: none;
  width: 25px;
  margin-right: 5px;
  padding: 0;
}
.sapUiTableGroupIcon {
  background-position: center left;
  background-repeat: no-repeat;
  /* height: @sapUiTableRowHeight; */
  padding-left: 20px;
  margin-left: 2px;
  cursor: pointer;
}
.sapUiSizeCompact .sapUiTableGroupIcon {
  padding-left: 0;
  margin-left: 0;
  background-image: none;
}
.sapUiSizeCompact .sapUiTableGroupIcon::before,
.sapUiSizeCompact .sapUiTableTreeIcon::before {
  font-family: "SAP-icons";
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  width: 25px;
  text-align: center;
  vertical-align: middle;
}
.sapUiSizeCompact .sapUiTableGroupIcon::before {
  line-height: 28px;
}
.sapUiSizeCompact .sapUiTableGroupIcon.sapUiTableGroupIconOpen::before,
.sapUiSizeCompact .sapUiTableTreeIconNodeOpen::before {
  content: '\e1e2';
}
.sapUiSizeCompact .sapUiTableGroupIcon.sapUiTableGroupIconClosed::before,
.sapUiSizeCompact .sapUiTableTreeIconNodeClosed::before {
  content: '\e066';
}
.sapUiTableRowHdr.sapUiTableGroupHeader {
  border-right: none;
}
.sapUiSizeCompact .sapUiTableRowHdr.sapUiTableGroupHeader {
  position: relative;
}
.sapUiTableRowHdr.sapUiTableGroupHeader > div {
  position: absolute;
  left: 3px;
  margin-top: 5px;
  white-space: nowrap;
  z-index: 1;
}
.sapUiSizeCompact .sapUiTableRowHdr.sapUiTableGroupHeader > div {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-right: 15px;
  font-weight: normal;
  margin-top: 0;
  left: 0;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 60px;
}
.sapUiSizeCompact .sapUiTableTr > td {
  padding-top: 0px;
  padding-bottom: 0px;
}
.sapUiTableColumnVisibilityMenu .sapUiMnuItm {
  padding-right: 18px;
}
.sapUiTableSplitterBar {
  background-image: url(../../../../../../UI5/sap/ui/table/themes/base/img/splitter_horiz_grip.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #dbe5ec;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.sapUiTableSplitterBar:hover {
  background-color: #f2f2f2;
  cursor: n-resize;
}
.sapUiTableSelModeNone .sapUiTableRowHdr {
  width: 0;
  border-left: 0;
  border-right: 0;
}
.sapUiTableSelModeNone .sapUiTableRowHdr.sapUiTableGroupHeader {
  width: 25px;
}
/* FIX for IE fixed columns */
html[data-sap-ui-browser^="ie"] .sapUiTableColHdrCnt {
  width: 100%;
}
.sapUiTableHiddenSizeDetector {
  position: absolute;
  left: -1000px;
  visibility: hidden;
  display: inline-block;
}
.sapUiTable > div.sapUiOverlay.sapUiTableOverlay {
  border: 0;
  /* Overlay should not have border */
}
/*</SAP_FREETEXT>*/
/******************* FILE /Base/baseLib/sap_bluecrystal/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/sap_bluecrystal/global.less *******************/
/******************* FILE /UI5/sap/ui/table/themes/sap_bluecrystal/library.less *******************/
/*<SAP_FREETEXT>*/
/* START "AnalyticalTable.less" */
/* ======================================================== */
/* CSS for control sap.ui.analytics/AnalyticalTable.control */
/* ======================================================== */
.sapUiAnalyticalTable .sapUiTableColHdrCnt {
  min-height: 32px;
}
.sapUiAnalyticalTable .sapUiTableCtrl tr {
  height: 28px;
}
.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableColHdrScr,
.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableColHdrFixed {
  margin-left: 25px;
}
.sapUiAnalyticalTable .sapUiTableColRowHdr,
.sapUiAnalyticalTable .sapUiTableColRowHdrIco,
.sapUiAnalyticalTable .sapUiTableRowHdrScr {
  width: 25px;
}
.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableCtrlScr,
.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableCtrlScrFixed {
  margin-left: 25px;
}
.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableCtrlEmpty {
  left: 25px;
}
.sapUiAnalyticalTable .sapUiTableRSel .sapUiTableHSb {
  padding-left: 25px;
}
.sapUiAnalyticalTable .sapUiTableSelModeNone .sapUiTableRowHdr.sapUiTableGroupHeader {
  width: 25px;
}
.sapUiAnalyticalTable .sapUiTableColCell > .sapUiLbl {
  font-weight: bold;
  font-size: 0.875rem;
  color: #6F6F6E;
}
.sapUiAnalyticalTable .sapUiTableCell > .sapUiTv {
  font-size: 0.875rem;
}
.sapUiAnalyticalTable .sapUiTableGroupIcon::before {
  line-height: 27px;
}
/* Hierarchical Support */
.sapUiAnalyticalTable tr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable .sapUiTableRowHdr.sapUiAnalyticalTableSum {
  background-color: #ffffff;
}
.sapUiAnalyticalTableSum .sapUiTv,
.sapUiAnalyticalTableSum .sapUiUfdCurrency,
.sapUiAnalyticalTableSum .sapUiTableCell > .sapMLabel {
  font-weight: bold !important;
}
.sapUiAnalyticalTable .sapUiTableRowHdr.sapUiAnalyticalTableDummy {
  font-size: 14px;
  line-height: 28px;
  color: #666666;
}
.sapUiAnalyticalTable .sapUiTableCtrl tr.sapUiTableRowHvr,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLbl,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiTf,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk:visited,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk:hover,
.sapUiAnalyticalTable .sapUiTableCol:hover,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLbl,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiTf,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk:visited,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk:hover {
  color: #000000;
  background-color: #e5e5e5;
}
.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiAnalyticalTableSum.sapUiTableRowHdr::after {
  display: none;
}
.sapUiAnalyticalTable .sapUiTableTr > td:focus {
  outline: 1px dotted #c20d00;
}
.sapUiAnalyticalTable .sapUiTableCtrl tr.sapUiTableRowHvr,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLbl,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiTf,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk:visited,
.sapUiAnalyticalTable tr.sapUiTableRowHvr .sapUiLnk:hover,
.sapUiAnalyticalTable .sapUiTableCol:hover,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLbl,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiTf,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk:visited,
.sapUiAnalyticalTable .sapUiTableCol:hover .sapUiLnk:hover {
  background-color: #e5e5e5;
}
.sapUiAnalyticalTable .sapUiTableRowHdr {
  position: relative;
}
.sapUiAnalyticalTable .sapUiTableRowHdr.sapUiTableGroupHeader::before,
.sapUiAnalyticalTable .sapUiTableRowHdr::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #ffffff;
  top: -1px;
  bottom: -1px;
  box-sizing: border-box;
}
.sapUiAnalyticalTable [data-sap-ui-level="2"].sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiAnalyticalTable [data-sap-ui-level="2"].sapUiTableRowHdr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable [data-sap-ui-level="3"].sapUiTableRowHdr {
  left: 24px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="3"].sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiAnalyticalTable [data-sap-ui-level="3"].sapUiTableRowHdr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable [data-sap-ui-level="4"].sapUiTableRowHdr {
  left: 36px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="4"].sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiAnalyticalTable [data-sap-ui-level="4"].sapUiTableRowHdr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable [data-sap-ui-level="5"].sapUiTableRowHdr {
  left: 44px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="5"].sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiAnalyticalTable [data-sap-ui-level="5"].sapUiTableRowHdr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable [data-sap-ui-level="6"].sapUiTableRowHdr {
  left: 52px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="6"].sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiAnalyticalTable [data-sap-ui-level="6"].sapUiTableRowHdr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable [data-sap-ui-level="7"].sapUiTableRowHdr {
  left: 60px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="7"].sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiAnalyticalTable [data-sap-ui-level="7"].sapUiTableRowHdr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable [data-sap-ui-level="8"].sapUiTableRowHdr {
  left: 68px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="8"].sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiAnalyticalTable [data-sap-ui-level="8"].sapUiTableRowHdr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable [data-sap-ui-level="9"].sapUiTableRowHdr {
  left: 76px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="9"].sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiAnalyticalTable [data-sap-ui-level="9"].sapUiTableRowHdr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable [data-sap-ui-level="10"].sapUiTableRowHdr {
  left: 84px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="10"].sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiAnalyticalTable [data-sap-ui-level="10"].sapUiTableRowHdr.sapUiAnalyticalTableSum,
.sapUiAnalyticalTable [data-sap-ui-level="11"].sapUiTableRowHdr {
  left: 92px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="3"].sapUiTableRowHdr.sapUiTableGroupHeader::before,
.sapUiAnalyticalTable [data-sap-ui-level="3"].sapUiTableRowHdr.sapUiAnalyticalTableSum::before,
.sapUiAnalyticalTable [data-sap-ui-level="4"].sapUiTableRowHdr::before {
  left: -13px;
  width: 12px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="4"].sapUiTableRowHdr.sapUiTableGroupHeader::before,
.sapUiAnalyticalTable [data-sap-ui-level="4"].sapUiTableRowHdr.sapUiAnalyticalTableSum::before,
.sapUiAnalyticalTable [data-sap-ui-level="5"].sapUiTableRowHdr::before {
  left: -21px;
  width: 20px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="5"].sapUiTableRowHdr.sapUiTableGroupHeader::before,
.sapUiAnalyticalTable [data-sap-ui-level="5"].sapUiTableRowHdr.sapUiAnalyticalTableSum::before,
.sapUiAnalyticalTable [data-sap-ui-level="6"].sapUiTableRowHdr::before {
  left: -29px;
  width: 28px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="6"].sapUiTableRowHdr.sapUiTableGroupHeader::before,
.sapUiAnalyticalTable [data-sap-ui-level="6"].sapUiTableRowHdr.sapUiAnalyticalTableSum::before,
.sapUiAnalyticalTable [data-sap-ui-level="7"].sapUiTableRowHdr::before {
  left: -37px;
  width: 36px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="7"].sapUiTableRowHdr.sapUiTableGroupHeader::before,
.sapUiAnalyticalTable [data-sap-ui-level="7"].sapUiTableRowHdr.sapUiAnalyticalTableSum::before,
.sapUiAnalyticalTable [data-sap-ui-level="8"].sapUiTableRowHdr::before {
  left: -45px;
  width: 44px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="8"].sapUiTableRowHdr.sapUiTableGroupHeader::before,
.sapUiAnalyticalTable [data-sap-ui-level="8"].sapUiTableRowHdr.sapUiAnalyticalTableSum::before,
.sapUiAnalyticalTable [data-sap-ui-level="9"].sapUiTableRowHdr::before {
  left: -53px;
  width: 52px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="9"].sapUiTableRowHdr.sapUiTableGroupHeader::before,
.sapUiAnalyticalTable [data-sap-ui-level="9"].sapUiTableRowHdr.sapUiAnalyticalTableSum::before,
.sapUiAnalyticalTable [data-sap-ui-level="10"].sapUiTableRowHdr::before {
  left: -61px;
  width: 60px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="10"].sapUiTableRowHdr.sapUiTableGroupHeader::before,
.sapUiAnalyticalTable [data-sap-ui-level="10"].sapUiTableRowHdr.sapUiAnalyticalTableSum::before,
.sapUiAnalyticalTable [data-sap-ui-level="11"].sapUiTableRowHdr::before {
  left: -69px;
  width: 68px;
  border-left: 1px solid #cccccc;
}
.sapUiAnalyticalTable [data-sap-ui-level="3"].sapUiTableTr .sapUiTableTdFirst .sapUiTableCell {
  padding-left: 32px;
}
.sapUiAnalyticalTable [data-sap-ui-level="4"].sapUiTableTr .sapUiTableTdFirst .sapUiTableCell {
  padding-left: 44px;
}
.sapUiAnalyticalTable [data-sap-ui-level="5"].sapUiTableTr .sapUiTableTdFirst .sapUiTableCell {
  padding-left: 52px;
}
.sapUiAnalyticalTable [data-sap-ui-level="6"].sapUiTableTr .sapUiTableTdFirst .sapUiTableCell {
  padding-left: 60px;
}
.sapUiAnalyticalTable [data-sap-ui-level="7"].sapUiTableTr .sapUiTableTdFirst .sapUiTableCell {
  padding-left: 68px;
}
.sapUiAnalyticalTable [data-sap-ui-level="8"].sapUiTableTr .sapUiTableTdFirst .sapUiTableCell {
  padding-left: 76px;
}
.sapUiAnalyticalTable [data-sap-ui-level="9"].sapUiTableTr .sapUiTableTdFirst .sapUiTableCell {
  padding-left: 84px;
}
.sapUiAnalyticalTable [data-sap-ui-level="10"].sapUiTableTr .sapUiTableTdFirst .sapUiTableCell {
  padding-left: 92px;
}
.sapUiAnalyticalTable [data-sap-ui-level="11"].sapUiTableTr .sapUiTableTdFirst .sapUiTableCell {
  padding-left: 100px;
}
.sapUiAnalyticalTable .sapUiTableRowHdr.sapUiAnalyticalTableSum {
  border-left: 0;
  border-right: 0;
}
.sapUiAnalyticalTable .sapUiTableTr.sapUiAnalyticalTableSum td {
  border-left: 0;
  border-right: 0;
}
.sapUiAnalyticalTable .sapUiTableTr.sapUiAnalyticalTableSum td:last-child {
  border-right: 1px solid #cccccc;
}
.sapUiTable {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
}
/*******************************************************************************
* TABLE SECTIONS
******************************************************************************/
.sapUiTable > div {
  border: 0;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.sapUiTable > .sapUiTableHdr {
  border: none;
  border-bottom: 2px solid transparent;
  height: 25px;
  padding: 0;
  margin-bottom: 2px;
  background-color: transparent;
}
.sapUiTableHdrTitle {
  font-size: 18px;
  height: 100%;
}
.sapUiTable > .sapUiTableFtr {
  height: 28px;
  line-height: 28px;
  background-color: #ffffff;
  padding-top: 4px;
}
.sapUiTable > .sapUiTableTbr {
  border: none;
  border-bottom: 2px solid transparent;
  height: 30px;
}
.sapUiTable > .sapUiTableTbr.sapUiTableMTbr {
  height: 3rem;
}
.sapUiSizeCompact .sapUiTable > .sapUiTableTbr.sapUiTableMTbr {
  height: 2rem;
}
.sapUiTableTbr > .sapUiTb {
  background-color: #ffffff;
}
.sapUiTable > .sapUiTableExt {
  border: none;
  border-bottom: 2px solid transparent;
}
.sapUiTableSelModeMulti .sapUiTableColRowHdr.sapUiTableSelAllEnabled .sapUiTableColRowHdrIco,
.sapUiTableSelModeMultiToggle .sapUiTableColRowHdr.sapUiTableSelAllEnabled .sapUiTableColRowHdrIco {
  background-image: url('../../../../../../UI5/sap/ui/table/themes/sap_bluecrystal/img/Select_All_Icon.png');
  background-position: 50% 50%;
}
/*
.sapUiTableSelModeMulti .sapUiTableColRowHdr:hover .sapUiTableColRowHdrIco {background-image: url('img/Select_All_Hover_Icon.png');
}
*/
.sapUiTableColRowHdr,
.sapUiTableColHdrCnt {
  background-color: #e5e5e5;
}
.sapUiTableRowHdr {
  background-color: #ffffff;
}
.sapUiSizeCompact .sapUiTableCol,
.sapUiSizeCompact .sapUiTableColRowHdr,
.sapUiSizeCompact .sapUiTableColHdrCnt {
  background-color: #e5e5e5;
  color: #000000;
}
.sapUiTableColRowHdr,
.sapUiTableCol {
  padding-top: 7px;
  padding-bottom: 5px;
}
.sapUiTableColIcons {
  padding-top: 6px;
}
.sapUiTableCol:hover {
  background-color: #f0f0f0;
}
.sapUiTableColRowHdr:hover {
  background-color: #d6d6d6;
}
.sapUiTableSelModeSingle .sapUiTableRowHdr.sapUiTableRowSel,
.sapUiTableSelModeMulti .sapUiTableRowHdr.sapUiTableRowSel {
  background-color: #f7a6a1;
  border-right-color: #f7a6a1;
}
.sapUiTableRowHdr.sapUiTableRowHvr {
  border-right-color: #d1d1d1;
  background-color: #d6d6d6;
}
.sapUiTableSelModeSingle .sapUiTableRowHdr.sapUiTableRowSel.sapUiTableRowHvr,
.sapUiTableSelModeMulti .sapUiTableRowHdr.sapUiTableRowSel.sapUiTableRowHvr {
  background-color: #ff928a;
  border-right-color: #ff928a;
}
.sapUiTableColHdrCnt {
  border-bottom: 1px solid #cccccc;
}
.sapUiTableColHdr:not(:first-of-type) .sapUiTableCol {
  border-top: 1px solid #dddddd;
}
.sapUiTableColRowHdr,
.sapUiTableColHdr .sapUiTableCol,
.sapUiTableColHdr .sapUiTableTr > td {
  border-right: 1px solid #cccccc;
}
.sapUiTableRowHdr,
.sapUiTableTr > td {
  padding-top: 2px;
  padding-bottom: 1px;
}
.sapUiTableRowHdr {
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  position: relative;
}
.sapUiSizeCompact .sapUiTableRowHdr {
  border-bottom: 1px solid #dddddd;
}
.sapUiTableTr > td {
  border-bottom: 1px solid #e5e5e5;
}
.sapUiTableCtrl.sapUiTableCtrlRowFixed tr:last-child > td {
  padding-top: 2px;
  padding-bottom: 1px;
  border-bottom: 1px solid #cccccc;
}
.sapUiTableCtrl.sapUiTableCtrlRowFixedBottom {
  margin-top: -1px;
}
.sapUiTableCtrl.sapUiTableCtrlRowFixedBottom tr:first-child > td {
  padding-top: 2px;
  padding-bottom: 1px;
  border-top: 1px solid #cccccc;
}
.sapUiTableCtrl tr.sapUiTableFixedPreBottomRow > td,
div.sapUiTableRowHdr.sapUiTableFixedPreBottomRow {
  border-bottom: 1px solid #cccccc;
}
.sapUiTableCtrl tr.sapUiTableFixedBottomRow > td,
div.sapUiTableRowHdr.sapUiTableFixedBottomRow {
  border-top: 1px solid #cccccc;
}
.sapUiTableCtrl.sapUiTableCtrlRowFixedBottom tr.sapUiTableFixedBottomRow:first-child > td {
  border-top: 2px solid #cccccc;
}
.sapUiTableRowHdr:last-child,
.sapUiTableCtrl tr:last-child > td {
  border-bottom: none;
}
.sapUiTableEdt .sapUiTableCtrl {
  background: #ffffff;
}
/* Table Row (only) Selected */
.sapUiTableCtrl tr.sapUiTableRowSel > td {
  /* data cells of row */
  background-color: #ffe7e6;
}
.sapUiTableRowHdr.sapUiTableRowSel {
  /* row-select-button of row */
  background-color: #ffe7e6 !important;
  border-right: 1px solid #dddddd !important;
}
/* Table Row Selected[+Hover] */
.sapUiTableCtrl tr.sapUiTableRowSel.sapUiTableRowHvr > td {
  /* data cells of row */
  background-color: #ffd9d6;
}
.sapUiTableRowHdr.sapUiTableRowSel.sapUiTableRowHvr {
  /* row-select-button of row */
  background-color: #ffd9d6 !important;
  border-right-color: #dddddd;
}
/* Table Row (only) Hover */
.sapUiTableCtrl tr.sapUiTableRowHvr > td {
  /* data cells of row */
  background-color: #f0f0f0 !important;
}
.sapUiTableCtrl tr.sapUiTableRowHvr,
.sapUiTableCtrl tr.sapUiTableRowHvr .sapUiTableColHdrCnt {
  background-color: #f0f0f0 !important;
}
.sapUiTableCtrl tr.sapUiTableRowSel > td {
  background-color: #ffe7e6;
}
.sapUiTableCtrl tr.sapUiTableRowSel.sapUiTableRowHvr > td {
  background-color: #ffd9d6;
}
/* support for left border in RowOnly selection behavior */
.sapUiTableTr > td.sapUiTableTdFirst {
  padding-left: 2px;
}
.sapUiTableRSel .sapUiTableTr > td.sapUiTableTdFirst {
  padding-left: 0;
}
/* Table Row Checkbox */
/* REQUIRES ICON FONTS */
.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableColRowHdr.sapUiTableSelAllEnabled::after,
.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableRowHdr::after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px #bfbfbf solid;
  background-color: #ffffff;
  font-family: "SAP-icons";
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  color: #ff1100;
  box-sizing: border-box;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.sapUiSizeCondensed .sapUiTableSelModeMultiToggle .sapUiTableColRowHdr.sapUiTableSelAllEnabled::after {
  margin-top: 2px;
  font-size: 10px;
}
/* only display if data is available */
.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableRowHidden.sapUiTableRowHdr::after {
  display: none;
}
.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableColRowHdr.sapUiTableSelAllEnabled::after {
  margin-top: 7px;
}
.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableRowHdr:hover:after {
  border-color: #ff1100;
}
.sapUiSizeCompact .sapUiTableRowHdr.sapUiAnalyticalTableDummy:after {
  display: none;
}
.sapUiSizeCompact .sapUiTableSelModeMultiToggle :not(.sapUiTableSelAll).sapUiTableSelAllEnabled.sapUiTableColRowHdr::after,
.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableRowHdr.sapUiTableRowSel::after {
  content: '\e05b';
}
.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableColRowHdr .sapUiTableColRowHdrIco,
.sapUiSizeCompact .sapUiTableSelModeMultiToggle .sapUiTableColRowHdr:hover .sapUiTableColRowHdrIco {
  display: none;
}
/*******************************************************************************
* TABLE ADOPTIONS BY UX
******************************************************************************/
/* Table Cells */
.sapUiTableCell {
  padding: 0 10px;
}
.sapUiSizeCondensed .sapUiTableCellControlPadding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.sapUiTable > div.sapUiTableCnt {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.sapUiTable > div:last-child {
  border-bottom: 1px solid #dddddd;
}
.sapUiTableCol,
.sapUiTableTr > td {
  border-right: 1px solid #dddddd;
}
.sapUiTableCell > .sapUiTv {
  font-weight: normal;
  font-size: 12px;
}
.sapUiTableTr > td.sapUiTableTdFirst > .sapUiTableCell {
  padding-left: 6px;
}
.sapUiTableRSel .sapUiTableTr > td.sapUiTableTdFirst > .sapUiTableCell {
  padding-left: 8px;
}
.sapUiSizeCondensed .sapUiTableTr > td.sapUiTableTdFirst > .sapUiTableCell {
  padding: 0;
}
.sapUiTableRowHdr.sapUiTableRowHvr {
  border-bottom: 1px solid #dddddd;
}
.sapUiTableCtrl tr:hover:first-child {
  border: none;
}
/* Table Column */
.sapUiTableCol {
  padding-top: 7px;
}
.sapUiTableCol:hover,
.sapUiTableColRowHdr:hover {
  background-color: #d6d6d6;
  color: #000000;
}
.sapUiSizeCompact .sapUiTableCol:hover,
.sapUiSizeCompact .sapUiTableColRowHdr:hover {
  background-color: #d6d6d6;
  color: #000000;
}
.sapUiSizeCompact .sapUiTableCol {
  border-right: 1px solid #cccccc;
}
.sapUiSizeCompact .sapUiTableColRowHdr {
  border-right: 1px solid #cccccc;
}
.sapUiSizeCompact .sapUiTableColHdrCnt {
  border-bottom: 1px solid #cccccc;
}
.sapUiSizeCompact .sapUiTableTr > td {
  border-bottom: 1px solid #e5e5e5;
}
.sapUiTableCtrl tr.sapUiTableRowHvr,
tr.sapUiTableRowHvr .sapUiLbl,
tr.sapUiTableRowHvr .sapUiTf,
tr.sapUiTableRowHvr .sapUiLnk,
tr.sapUiTableRowHvr .sapUiLnk:visited,
tr.sapUiTableRowHvr .sapUiLnk:hover,
.sapUiTableCol:hover,
.sapUiTableCol:hover .sapUiLbl,
.sapUiTableCol:hover .sapUiTf,
.sapUiTableCol:hover .sapUiLnk,
.sapUiTableCol:hover .sapUiLnk:visited,
.sapUiTableCol:hover .sapUiLnk:hover {
  color: #000000;
}
.sapUiTableColCell {
  padding: 0 10px;
}
.sapUiSizeCondensed .sapUiTableColCell {
  padding: 0 8px;
}
.sapUiSizeCompact .sapUiTableColCell > .sapUiLbl,
.sapUiSizeCompact .sapUiTableColCell > .sapMLabel,
.sapUiSizeCompact .sapUiTableCell > .sapMLabel,
.sapUiTableColCell > .sapUiLbl {
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}
.sapUiTableTr > td:focus {
  outline: 1px dotted #c20d00;
}
.sapUiTableRSel .sapUiTableColHdrScr,
.sapUiTableRSel .sapUiTableColHdrFixed,
.sapUiTableRSel .sapUiTableCtrlScr,
.sapUiTableRSel .sapUiTableCtrlScrFixed {
  margin-left: 25px;
}
.sapUiSizeCompact .sapUiTableRSel .sapUiTableColHdrScr,
.sapUiSizeCompact .sapUiTableRSel .sapUiTableColHdrFixed,
.sapUiSizeCompact .sapUiTableRSel .sapUiTableCtrlScr,
.sapUiSizeCompact .sapUiTableRSel .sapUiTableCtrlScrFixed {
  margin-left: 32px;
}
.sapUiTableRSel .sapUiTableTr > td:first-child {
  border-right: none;
}
/* Table Column Selector */
.sapUiTableRowHdrScr,
.sapUiTableColRowHdr {
  width: 25px;
}
.sapUiSizeCompact .sapUiTableRowHdrScr,
.sapUiSizeCompact .sapUiTableColRowHdr {
  width: 32px;
}
/* Table Column Resizer */
.sapUiTableColRsz:hover {
  background-color: #ffe7e6;
}
/* Table Row Tree Node */
.sapUiTableTr {
  color: #000000;
  font-size: 12px;
  font-weight: normal;
}
.sapUiSizeCompact .sapUiTableCtrl tr {
  height: 32px;
}
.sapUiSizeCondensed .sapUiTableCtrl tr {
  height: 25px;
}
.sapUiTableTreeIcon {
  padding-top: 3px;
  margin-right: 6px;
}
.sapUiTableTreeIconLeaf {
  background-image: none;
}
.sapUiSizeCompact .sapUiTableGroupIcon {
  font-size: 0.875rem;
}
/* Table Cell Tree Node */
.sapUiTableCtrl tr.sapUiTableGroupHeader,
.sapUiTableRowHdr.sapUiTableGroupHeader {
  background-color: #e5e5e5;
}
.sapUiSizeCompact .sapUiTableCtrl tr.sapUiTableGroupHeader,
.sapUiSizeCompact .sapUiTableRowHdr.sapUiTableGroupHeader,
.sapUiSizeCompact .sapUiTableRowHdr .sapUiTableGroupIcon {
  background-color: #f7f7f7;
}
.sapUiSizeCompact tr.sapUiTableGroupHeader.sapUiTableRowHvr,
.sapUiSizeCompact .sapUiTableRowHdr.sapUiTableGroupHeader.sapUiTableRowHvr,
.sapUiSizeCompact .sapUiTableRowHdr.sapUiTableRowHvr .sapUiTableGroupIcon,
.sapUiSizeCompact .sapUiTableCtrl .sapUiTableRowHvr > td {
  background-color: #f0f0f0 !important;
}
.sapUiTableHSb,
.sapUiTableCCnt,
.sapUiTableCtrlEmpty {
  background-color: #ffffff;
}
.sapUiSizeCompact .sapUiTableGroupIcon::before,
.sapUiSizeCompact .sapUiTableTreeIcon::before {
  color: #666666;
}
/* Condensed mode */
.sapUiSizeCondensed .sapUiTableCell {
  padding: 0;
  /* Mobile controls like input fill 100% of the cell space */
}
.sapUiTableCtrlEmptyMsg {
  font-size: 16px;
}
/*</SAP_FREETEXT>*/
/******************* FILE /Base/baseLib/custom_holcim_mobile/custom.less *******************/
/*<SAP_FREETEXT_LESS>*/
/*</SAP_FREETEXT_LESS>*/
/******************* FILE /Base/baseLib/custom_holcim_mobile/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/custom_holcim_mobile/global.less *******************/
/******************* FILE /UI5/sap/ui/table/themes/custom_holcim_mobile/library.less *******************/
