body, html {
	margin: 0;
	padding: 0;
}
/*
	this adds the 1, 2... numbers on every page
*/
.take51 {
	background: url('../img/1.png') right bottom no-repeat
}
.take52 {
	background: url('../img/2.png') right bottom no-repeat
}
.take53 {
	background: url('../img/3.png') right bottom no-repeat
}
.take54 {
	background: url('../img/4.png') right bottom no-repeat
}
.take55 {
	background: url('../img/5.png') right bottom no-repeat
}

/*
	tickboxes. this fixes the overflow of labels and moves the
	tickboxes themselves to the start of the page, removing padding. 
*/
.tickbox-wrapper {
	padding-left: 2em;
}
.tickbox-wrapper .sapMCbMark {
	left: 0em;
}
.tickbox-wrapper label {
	white-space: normal;
	line-height: normal;
	vertical-align: middle;
}

/*
	content formatting like header font, padding around content
*/
.take5-content {
	padding: 10px;
}

.title, .subtitle, .subsubtitle {
	font-family: Verdana, Geneva, sans-serif;
	padding: 15px 0px 10px 0px;
}

.title {
	font-size: 2em;
	font-variant: small-caps;
	float: left;
	font-weight: bold;
}

.subtitle {
	font-size: 1.7em;
}

.subsubtitle {
	font-size: 1.4em;
}

/* 
	logo
*/
.swipe-page > div > .sapMBar {
	background: #f2f2f2 url('../img/icon-header.png') left top no-repeat !important;
}
.sap-ios .swipe-page > div > .sapMBar {
	background: #f2f2f2 url('../img/icon-header-ios.png') left top no-repeat !important;
	padding-top: 15px;
}
.sapMBar button {
	color: #000;
}

/*
	'thanks, user' splash image on page 5. unneeded with google oath removal
*/
.splash {
	font-size: 2em;
	text-align: center;
	padding-bottom: 1em;
}

.thanks-image {
	margin: 0 auto;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 2px solid black;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: calc(50% - 37.5px);
}

/*
	all lists have red tickboxes for style types
*/
ul {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	font-size: 0.9em;
	width: 100%;
}
li:before {
	font-family: 'SAP-icons';
	content: '\e05b';
	margin: 0 8px 0 -20px;
	color: #ff1100;
}
li {
	width: 100%;
}