/**
* Copyright (c) 2013 SAP AG, All Rights Reserved
*
* Theming Engine 1.8.1
* data:{"Path": "UI5.sap/ui/core.custom_holcim_mobile.library", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "Version": { "Build":"1.26.1.20150501123354", "Source": "1.26.1", "Engine": "1.8.1"}}
*/

.sapThemeMetaData-UI5-sap-ui-core{background-image: url('data:text/plain;utf-8,{"Path": "UI5.sap/ui/core.custom_holcim_mobile.library", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "Version": { "Build":"1.26.1.20150501123354", "Source": "1.26.1", "Engine": "1.8.1"}}');}

/******************* FILE /Base/baseLib/baseTheme/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/base/global.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/base/library.less *******************/
/*<SAP_FREETEXT>*/
/* START "shared.less" */
/* Shared CSS for 'base' theme */
.sapUiBody {
  background-color: #f2f2f2;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* to prevent touch highlight on the entire body */
}
.sapUiArea {
  background-color: #f2f2f2;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
/*
* used for static (Core) and hidden (HTML) area
* (TODO: think about renaming static area also to hidden since static is not
* required for newer browsers anymore => position: static)
*/
.sapUiHidden {
  position: absolute;
  visibility: hidden;
  top: -10000px;
  background-color: #f2f2f2;
  /* repeat the body style in case the application adapts it */
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.sapUiCorePlaintext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}
.sapUiCoreDefaultFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.sapUiCoreDefaultCursor {
  cursor: default;
}
.sapUiBLy {
  background-color: #CCCCCC;
  opacity: 0.6;
  filter: alpha(opacity=60);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: fixed;
  outline: 0 none;
}
.sapUiBLyBack {
  /* to prevent HTML page from scrolling if blocked */
  overflow: hidden;
}
.sapUiPopupShield {
  position: absolute;
}
[data-sap-ui-type] {
  visibility: hidden;
}
/* CSS for windows 8 combi devices */
.sapUiBody {
  /* disable pinch zooming */
  content-zooming: none;
  -ms-content-zooming: none;
}
@media (max-width: 599px) {
  .sapUiHideOnPhone {
    display: none !important;
  }
  .sapUiVisibleOnlyOnTablet {
    display: none !important;
  }
  .sapUiVisibleOnlyOnDesktop {
    display: none !important;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .sapUiHideOnTablet {
    display: none !important;
  }
  .sapUiVisibleOnlyOnDesktop {
    display: none !important;
  }
  .sapUiVisibleOnlyOnPhone {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .sapUiHideOnDesktop {
    display: none !important;
  }
  .sapUiVisibleOnlyOnTablet {
    display: none !important;
  }
  .sapUiVisibleOnlyOnPhone {
    display: none !important;
  }
}
.sapUiOverlay {
  background-color: rgba(242, 242, 242, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* END "shared.less" */
/* START "BlindLayer.less" */
.sapUiBliLy {
  position: absolute;
  display: inline-block;
}
.sapUiBliLy > iframe {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  opacity: 0.01;
  filter: alpha(opacity=1);
  width: 100%;
  height: 100%;
}
/* END "BlindLayer.less" */
/* START "BusyIndicator.less" */
.sapUiBusy {
  background-image: url(../../../../../../UI5/sap/ui/core/themes/base/img/Busy.gif);
  display: block;
  width: 48px;
  height: 48px;
  outline: none;
  cursor: wait;
  top: 0 !important;
}
.sapUiBlyBusy {
  cursor: wait;
}
/* END "BusyIndicator.less" */
/* START "Icon.less" */
/* ============================================= */
/* CSS for control sap.ui.core/Icon.control */
/* ============================================= */
.sapUiIcon {
  text-align: center;
  display: inline-block;
  vertical-align: baseline;
}
.sapUiIconPointer {
  cursor: pointer;
}
html[dir=rtl] .sapUiIconMirrorInRTL:not(.sapUiIconSuppressMirrorInRTL) {
  transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  /* IE 9 */
  -webkit-transform: scale(-1, 1);
  /* Safari and Chrome */
}
/* IE 8 */
html[dir=rtl][data-sap-ui-browser*='ie8'] .sapUiIconMirrorInRTL {
  filter: FlipH;
  -ms-filter: "FlipH";
}
html[dir=rtl][data-sap-ui-browser*='ie8'] .sapUiIconMirrorInRTL.sapUiIconSuppressMirrorInRTL {
  filter: none;
  -ms-filter: "none";
}
.sapUiIcon:before {
  content: attr(data-sap-ui-icon-content);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.sapUiLocalBusyIndicator {
  background-color: rgba(242, 242, 242, 0.72);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
HTML[data-sap-ui-browser='ie8'] .sapUiLocalBusyIndicator {
  background-color: #f2f2f2;
  filter: alpha(opacity=72);
}
.sapUiLocalBusyIndicatorAnimation {
  position: absolute;
  width: 50px;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -20px;
}
.sapUiLocalBusyIndicatorBox {
  width: 8px;
  height: 8px;
  background-color: #dddddd;
  float: left;
  display: block;
  margin-left: 8px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition-property: background-color;
  -moz-transition-duration: 380ms;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 380ms;
  -webkit-transition-timing-function: ease-in;
  transition-property: background-color;
  transition-duration: 380ms;
  transition-timing-function: ease-in;
}
.sapUiLocalBusyIndicatorBox.active {
  background-color: #000000;
}
.sapUiLocalBusyIndicatorBox:first-child {
  margin-left: 0;
}
/* END "media.less" */
/* START "parameterClasses.less" */
/* CSS parameters which are available in base theme */
.sapThemeFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.sapThemeFontFamily {
  font-family: Arial, Helvetica, sans-serif;
}
.sapThemeFontSize {
  font-size: 16px;
}
.sapThemeText,
.sapThemeText-asColor {
  color: #000000;
}
.sapThemeText-asBackgroundColor {
  background-color: #000000;
}
.sapThemeText-asBorderColor {
  border-color: #000000;
}
.sapThemeTextInverted,
.sapThemeTextInverted-asColor {
  color: #ffffff;
}
.sapThemeBaseBG,
.sapThemeBaseBG-asBackgroundColor {
  background-color: #ffffff;
}
.sapThemeBaseBG-asBorderColor {
  border-color: #ffffff;
}
.sapThemeBaseBG-asColor {
  color: #ffffff;
}
.sapThemeBrand-asColor {
  color: #ff1100;
}
.sapThemeBrand-asBorderColor {
  border-color: #ff1100;
}
.sapThemeBrand-asBackgroundColor {
  background-color: #ff1100;
}
.sapThemeHighlight-asColor {
  color: #ff1100;
}
.sapThemeHighlight-asBorderColor {
  border-color: #ff1100;
}
.sapThemeHighlight-asBackgroundColor {
  background-color: #ff1100;
}
/* END "parameterClasses.less" */
/* START "ScrollBar.less" */
/* ============================================= */
/* CSS for control sap.ui.core/ScrollBar.control */
/* ============================================= */
.sapUiScrollBarTouch {
  -webkit-overflow-scrolling: auto;
}
.sapUiScrollBarTouch ::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  -webkit-appearance: none;
}
.sapUiScrollBarTouch ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
/* END "ScrollBar.less" */
/* START "Shadow.less" */
.sapUiShd {
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.4);
}
/*
* TODO decide whether shadow should generally be enabled for IE8 (will break QTP tests, so visual benefit must be worth the effort ;-)
html[data-sap-ui-browser=ie8] .sapUiShd {-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#808080')";
}
*/
/* END "Shadow.less" */
/* START "TechnicalInfo.less" */
.sapUiTInf {
  border: 1px solid #cccccc;
  background: #f2f2f2;
  padding: 6px;
}
.sapUiTInfCfg {
  font-size: 0.9em;
}
.sapUiTInfMList {
  font-size: 0.9em;
  color: #999999;
  overflow-y: auto;
  max-height: 12em;
}
.sapUiTInf > table > tbody > tr > td,
.sapUiTInfMList,
.sapUiTInfM {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.sapUiTInfMEmbd {
  color: #aaaaaa;
}
.sapUiTInfMFail {
  text-decoration: line-through;
}
.sapUiTInfMMore {
  text-decoration: underline;
  cursor: pointer;
}
/* END "TechnicalInfo.less" */
/* START "View.less" */
/* ========================================= */
/* CSS for control sap.ui.core/View.control */
/* ========================================= */
.sapUiView {
  display: inline-block;
}
.sapUiViewDisplayBlock {
  display: block;
}
/*</SAP_FREETEXT>*/
/******************* FILE /Base/baseLib/sap_bluecrystal/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/sap_bluecrystal/global.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/sap_bluecrystal/library.less *******************/
/*<SAP_FREETEXT>*/
/* START "shared.less" */
/* Shared CSS for 'sap_bluecrystal' theme */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
.sapMContainerMargin {
  padding: 1rem;
}
.sapMContainer2RemPadding {
  padding: 2rem;
}
.sapUiTheme-sap_bluecrystal {
  font-size: 16px;
}
html.sap-phone *,
html.sap-tablet * {
  /* FIXME!!! (star rule with any-parent selector...) */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
html.sap-phone input,
html.sap-phone textarea,
html.sap-phone [contenteditable=true],
html.sap-phone [contenteditable=true] > div,
html.sap-phone .sapUiSelectable,
html.sap-tablet input,
html.sap-tablet textarea,
html.sap-tablet [contenteditable=true],
html.sap-tablet [contenteditable=true] > div,
html.sap-tablet .sapUiSelectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
/* FONTS */
.sapUiBody {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.sapUiBLy {
  background-color: #000000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* this overwrites the default position: fixed which extends the window when something rendered outside */
  position: absolute;
}
.sapUiMedia-Std-Desktop .sapUiBLy {
  position: fixed;
  /* otherwise UX3 shell would not work... */
}
.sapUiSearchHighlightBG {
  background-color: #fffcb5;
}
/* CURSORS */
.sapMPointer {
  cursor: pointer;
}
/* Typography */
.sapMH1FontSize,
.sapMH1Style {
  font-size: 1.75rem !important;
}
.sapMH2FontSize,
.sapMH2Style {
  font-size: 1.5rem !important;
}
.sapMH3FontSize,
.sapMH3Style {
  font-size: 1.25rem !important;
}
.sapMH4FontSize,
.sapMH4Style {
  font-size: 1.125rem !important;
}
.sapMH5FontSize,
.sapMH5Style {
  font-size: 1rem !important;
}
.sapMH6FontSize,
.sapMH6Style {
  font-size: 0.875rem !important;
}
.sapMH1Style,
.sapMH2Style,
.sapMH3Style,
.sapMH4Style,
.sapMH5Style,
.sapMH6Style {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
  color: #333333 !important;
  text-shadow: 0 0.0625rem 0 rgba(255, 255, 255, 0.5) !important;
}
/* margins */
.sapUiNoMargin {
  margin: 0;
}
.sapUiSmallMargin {
  margin: 1rem;
}
.sapUiMediumMargin {
  margin: 2rem;
}
.sapUiLargeMargin {
  margin: 3rem;
}
.sapUiNoMarginTop {
  margin-top: 0;
}
.sapUiNoMarginBottom {
  margin-bottom: 0;
}
.sapUiNoMarginBegin {
  margin-left: 0;
}
.sapUiNoMarginEnd {
  margin-right: 0;
}
.sapUiSmallMarginTop {
  margin-top: 1rem;
}
.sapUiSmallMarginBottom {
  margin-bottom: 1rem;
}
.sapUiSmallMarginBegin {
  margin-left: 1rem;
}
.sapUiSmallMarginEnd {
  margin-right: 1rem;
}
.sapUiMediumMarginTop {
  margin-top: 2rem;
}
.sapUiMediumMarginBottom {
  margin-bottom: 2rem;
}
.sapUiMediumMarginBegin {
  margin-left: 2rem;
}
.sapUiMediumMarginEnd {
  margin-right: 2rem;
}
.sapUiLargeMarginTop {
  margin-top: 3rem;
}
.sapUiLargeMarginBottom {
  margin-bottom: 3rem;
}
.sapUiLargeMarginBegin {
  margin-left: 3rem;
}
.sapUiLargeMarginEnd {
  margin-right: 3rem;
}
/* Calculate the Background Variants */
/* no transparency in IE9 filter string */
/* Themeable Backgrounds */
/********************************************************************************************************************************/
/* Reset BackgroundColor, -Images to ensure proper display in ThemeDesigner (loads original and modified theme in the same page)*/
.sapUiUfdShellBackground,
.sapMGlobalBackgroundColor,
html[data-sap-ui-browser="ie9"] .sapUiUfdShellBackground,
html[data-sap-ui-browser="ie9"] .sapMGlobalBackgroundColor,
.sapMGlobalBackgroundColorStrong,
html[data-sap-ui-browser="ie9"] .sapMGlobalBackgroundColorStrong,
.sapMShellGlobalOuterBackground,
html[data-sap-ui-browser="ie9"] .sapMShellGlobalOuterBackground,
.sapMShellGlobalInnerBackground,
html[data-sap-ui-browser="ie9"] .sapMShellGlobalInnerBackground,
.sapUiBodyBackground,
.sapUiBody,
html[data-sap-ui-browser="ie8"] .sapUiBodyBackground,
html[data-sap-ui-browser="ie9"] .sapUiBodyBackground,
html[data-sap-ui-browser="ie9"] .sapUiBodyBackgroundIE9Layer1,
html[data-sap-ui-browser="ie8"] .sapUiBodyBackgroundIE9Layer1,
html[data-sap-ui-browser="ie8"],
html[data-sap-ui-browser="ie9"] {
  background-color: transparent;
  background-image: none;
  filter: none;
}
/********************************************************************************************************************************/
.sapUiUfdShellBackground,
.sapMGlobalBackgroundColor {
  background-color: #f2f2f2;
  background-color: #ffffff;
  background-image: none;
}
html[data-sap-ui-browser="ie9"] .sapUiUfdShellBackground,
html[data-sap-ui-browser="ie9"] .sapMGlobalBackgroundColor {
  filter: none;
}
.sapUiStrongBackgroundTextColor {
  color: #333333;
}
.sapMShellGlobalOuterBackground {
  background-color: #f2f2f2;
  background-color: #ffffff;
  background-image: none;
}
html[data-sap-ui-browser="ie9"] .sapMShellGlobalOuterBackground {
  filter: none;
}
/* no standard background for nested elements */
.sapMGlobalBackgroundColor .sapMGlobalBackgroundColor {
  background-color: transparent;
  background-image: none;
}
html[data-sap-ui-browser="ie9"] .sapMGlobalBackgroundColor .sapMGlobalBackgroundColor {
  filter: none;
}
.sapMGlobalBackgroundImage {
  display: block;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-size: auto;
}
.sapMGlobalBackgroundImageOnlyIfDefault {
  display: block;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  /* default background image: display it normally */
  background-image: none;
  opacity: 1;
  background-repeat: repeat;
  background-position: left top;
  background-size: auto;
}
.sapMGlobalBackgroundColor * > .sapMGlobalBackgroundImage {
  /* hide this background image if a background image is configured somewhere above */
  display: none;
}
.sapMGlobalBackgroundImage.sapUiUfdShellBG,
.sapMShellGlobalOuterBackground > .sapMGlobalBackgroundImage {
  display: block;
}
.sapMGlobalLogoImage {
  background-image: url("../../../../../../Base/baseLib/custom_holcim_mobile/img/misc/sapCompanyLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* BODY Background Styling */
.sapUiBodyBackground,
.sapUiBody {
  background-color: #ffffff;
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-size: auto;
}
.sapUiBody {
  background-attachment: fixed;
}
html[data-sap-ui-browser="ie8"] .sapUiBodyBackground,
html[data-sap-ui-browser="ie9"] .sapUiBodyBackground {
  background-color: #ffffff;
  background-image: none;
  filter: none;
}
html[data-sap-ui-browser="ie8"],
html[data-sap-ui-browser="ie9"] {
  background-color: #ffffff;
  background-image: none;
  filter: none;
  margin: 0;
  padding: 0;
}
html[data-sap-ui-browser="ie9"] .sapUiBody:before {
  content: " ";
  z-index: -999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* default background image: display it normally */
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-size: auto;
  opacity: 1;
}
/*
Workaround for maximum backwards compatibility when using UI5 inside the application without an
extra iFrame (for example inside a div): add class="sapUiSuppressBackgroundStyles" to html-element
*/
html.sapUiSuppressBackgroundStyles {
  background-color: transparent;
  -ms-filter: "none";
}
html.sapUiSuppressBackgroundStyles .sapUiBody:before {
  display: none;
}
/*
Classes to be used on the container element when UI5 is used in IE9 inside an element that
is not the HTML body tag
*/
html[data-sap-ui-browser="ie9"] .sapUiBodyBackgroundIE9Layer1,
html[data-sap-ui-browser="ie8"] .sapUiBodyBackgroundIE9Layer1 {
  background-color: #f2f2f2;
  background-color: #ffffff;
  background-image: none;
  filter: none;
  margin: 0;
  padding: 0;
}
html[data-sap-ui-browser="ie9"] .sapUiBodyBackgroundIE9Layer2 {
  content: " ";
  z-index: -999;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* default background image: display it normally */
  background-image: none;
  background-repeat: repeat;
  background-position: left top;
  background-size: auto;
  opacity: 1;
}
.sapUiOverlay {
  background-color: rgba(255, 255, 255, 0.8);
}
/* END "shared.less" */
/* START "BrowserScrollbar.less" */
/****** IE ******/
html[data-sap-ui-browser*="ie"] .sapUiBody {
  scrollbar-face-color: #e6e6e6;
  scrollbar-highlight-color: #e6e6e6;
  scrollbar-shadow-color: #e6e6e6;
  scrollbar-track-color: #f7f7f7;
}
/****** Safari + Chrome on Desktop ******/
.sap-desktop ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: #f7f7f7;
}
.sap-desktop ::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
}
.sap-desktop ::-webkit-scrollbar-thumb:hover {
  background-color: #dedede;
}
.sap-desktop ::-webkit-scrollbar-corner {
  background-color: #f7f7f7;
}
/* END "BrowserScrollbar.less" */
/* START "BusyIndicator.less" */
.sapUiBusy {
  height: 5px;
  width: 100%;
  -moz-background-size: 40% 5px;
  -webkit-background-size: 40% 5px;
  background-size: 40% 5px;
  background-image: -moz-linear-gradient(left, rgba(255, 17, 0, 0), rgba(255, 17, 0, 0) 30%, #ff1100 70%, rgba(255, 17, 0, 0));
  background-image: -webkit-linear-gradient(left, rgba(255, 17, 0, 0), #ff1100 30%, #ff1100 70%, rgba(255, 17, 0, 0));
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 17, 0, 0)), color-stop(0.3, #ff1100), color-stop(0.7, #ff1100), color-stop(1, rgba(255, 17, 0, 0)));
  background-image: linear-gradient(left, rgba(255, 17, 0, 0), #ff1100 30%, #ff1100 70%, rgba(255, 17, 0, 0));
  /* IE is handled using a real bg image */
  background-repeat: no-repeat;
  -webkit-animation: slide 1.5s linear infinite;
  -moz-animation: slide 1.5s linear;
  animation: slide 1.5s linear infinite;
}
html[data-sap-ui-browser^=ie] .sapUiBusy {
  background-color: white;
  background-image: url(../../../../../../UI5/sap/ui/core/themes/sap_bluecrystal/img/Busy.png);
  background-repeat: repeat-y;
}
@-webkit-keyframes slide {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 200% 0;
  }
}
@-moz-keyframes slide {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 200% 0;
  }
}
@keyframes slide {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 200% 0;
  }
}
/* END "BusyIndicator.less" */
/* START "DatePicker.less" */
/* ============================================== */
/* CSS for control sap.ui.core/DatePicker.control */
/* Bluecrystal */
/* ============================================== */
.sapUiDP {
  width: 190px;
}
.sapUiDPHead > button {
  width: 16px;
}
/* END "DatePicker.less" */
/* START "Icon.less" */
.sapUiIcon:focus {
  outline: 1px dashed #c20d00;
}
.sapMTB-Info-CTX .sapUiIcon {
  width: 1rem;
  font-size: 1rem;
  color: #ffffff;
}
.sapUiSizeCondensed .sapUiTableCell > .sapUiIcon:first-child {
  padding-left: 0.5rem;
}
.sapUiSizeCondensed .sapUiTableCell > .sapUiIcon:last-child {
  padding-right: 0.5rem;
}
/* END "Icon.less" */
/* START "parameterClasses.less" */
/* mobile-specific CSS parameters */
.sapThemePageBG {
  background-color: #ffffff;
}
.sapThemePageBG-asColor {
  color: #ffffff;
}
.sapThemeBarBG {
  background-color: #f2f2f2;
}
.sapThemeBarHeading {
  color: #666666;
}
.sapThemeBarText {
  color: #666666;
}
.sapThemeNegativeText {
  color: #cc1919;
}
.sapThemeCriticalText {
  color: #d14900;
}
.sapThemePositiveText {
  color: #007833;
}
.sapThemeLightText {
  color: #666666;
}
.sapThemeMediumText {
  color: #444444;
}
.sapThemeDarkText {
  color: #333333;
}
/* END "parameterClasses.less" */
/* START "Shadow.less" */
html[data-sap-ui-browser=ie8] .sapUiShd {
  outline: 2px solid #bfbfbf;
}
/*</SAP_FREETEXT>*/
/******************* FILE /Base/baseLib/custom_holcim_mobile/custom.less *******************/
/*<SAP_FREETEXT_LESS>*/
/*</SAP_FREETEXT_LESS>*/
/******************* FILE /Base/baseLib/custom_holcim_mobile/base.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/custom_holcim_mobile/global.less *******************/
/******************* FILE /UI5/sap/ui/core/themes/custom_holcim_mobile/library.less *******************/
